@font-face {
    font-family: 'PNJ';
    src: url('PNJ-Medium.eot');
    src: url('PNJ-Mediumd41d.eot?#iefix') format('embedded-opentype'),
        url('PNJ-Medium.woff2') format('woff2'),
        url('PNJ-Medium.woff') format('woff'),
        url('PNJ-Medium.ttf') format('truetype'),
        url('PNJ-Medium.svg#PNJ-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

