<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	 xmlns:media="http://search.yahoo.com/mrss/" >

<channel>
	<title>Tin tức &#8211; Pnjlab</title>
	<atom:link href="https://pnjlab.com.vn/tin-tuc/feed/" rel="self" type="application/rss+xml" />
	<link>https://pnjlab.com.vn</link>
	<description>Công Ty TNHH Một Thành Viên Giám Định PNJ</description>
	<lastBuildDate>Fri, 15 Sep 2023 03:58:00 +0000</lastBuildDate>
	<language>vi-VN</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.1.6</generator>

<image>
	<url>https://pnjlab.com.vn/wp-content/uploads/2022/10/pnj-icon.png</url>
	<title>Tin tức &#8211; Pnjlab</title>
	<link>https://pnjlab.com.vn</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>THÔNG BÁO CHÍNH SÁCH XỬ LÝ DỮ LIỆU CÁ NHÂN</title>
		<link>https://pnjlab.com.vn/thong-bao-chinh-sach-xu-ly-du-lieu-ca-nhan/</link>
					<comments>https://pnjlab.com.vn/thong-bao-chinh-sach-xu-ly-du-lieu-ca-nhan/#respond</comments>
		
		<dc:creator><![CDATA[Trần Tân]]></dc:creator>
		<pubDate>Fri, 15 Sep 2023 03:34:38 +0000</pubDate>
				<category><![CDATA[Tin tức]]></category>
		<guid isPermaLink="false">https://pnjlab.com.vn/?p=1932</guid>

					<description><![CDATA[THÔNG BÁO CHÍNH SÁCH XỬ LÝ DỮ LIỆU CÁ NHÂN &#160;              Kính gửi Quý Khách hàng,           Công Ty TNHH Một Thành Viên Giám Định PNJ (PNJL) cảm ơn Quý Khách hàng đã tin tưởng và sử dụng các sản phẩm, dịch vụ của PNJL...]]></description>
										<content:encoded><![CDATA[<p style="text-align: center;"><span style="font-size: 150%; color: #333399;"><strong>THÔNG BÁO</strong></span></p>
<h1 style="text-align: center;"><span style="font-size: 90%; color: #333399;"><strong>CHÍNH SÁCH XỬ LÝ DỮ LIỆU CÁ NHÂN</strong></span></h1>
<p>&nbsp;</p>
<p style="text-align: justify;"><em>             Kính gửi Quý Khách hàng,</em></p>
<p style="text-align: justify;"><em>          Công Ty TNHH Một Thành Viên Giám Định PNJ (PNJL) cảm ơn Quý Khách hàng đã tin tưởng và sử dụng các sản phẩm, dịch vụ của PNJL trong suốt thời gian qua.</em></p>
<p style="text-align: justify;"><em>          Với phương châm và giá trị cốt lõi “Trung thực với sản phẩm, Uy tín với khách hàng, Chất lượng dịch vụ”, bên cạnh việc không ngừng sáng tạo để mang lại những sản phẩm tinh tế với giá trị thật nhằm tôn vinh vẻ đẹp của con người, của cuộc sống thì quyền và lợi ích của khách hàng luôn là mối quan tâm hàng đầu của PNJL, đặc biệt là vấn đề bảo mật thông tin của khách hàng. </em></p>
<p style="text-align: justify;"><em>          Do vậy, PNJL kính gửi đến Quý Khách hàng Thông báo Chính sách thu thập và xử lý dữ liệu cá nhân (“<strong>Thông báo</strong>”) để Quý Khách hàng tiếp tục tin tưởng và sử dụng các sản phẩm, dịch vụ của PNJL cũng như hiểu rõ hơn về mục đích, cách thức PNJL xử lý dữ liệu cá nhân. PNJL luôn tôn trọng và cam kết thực hiện xử lý dữ liệu cá nhân của Quý Khách hàng tuân theo các nội dung tại Thông báo này và quy định pháp luật có liên quan.</em></p>
<p style="text-align: justify;"><em>         Thông báo này được công bố công khai trên website của PNJL (htt://pnjlab.com.vn) với các nội dung được cụ thể như sau:</em></p>
<p style="text-align: justify;"><strong>Điều 1. Giải thích từ ngữ</strong></p>
<p style="text-align: justify;">Trong Thông báo này, các thuật ngữ dưới đây được hiểu như sau:</p>
<p style="text-align: justify; padding-left: 40px;"><em>1.1. PNJL </em>là Công ty TNHH Một Thành Viên Giám Định PNJ.</p>
<p style="text-align: justify; padding-left: 40px;"><em>1.2. Sản phẩm</em> là tất cả các sản phẩm, dịch vụ mà PNJL thực hiện, cung cấp thuộc phạm vi ngành, nghề kinh doanh của PNJL.</p>
<p style="text-align: justify; padding-left: 40px;"><em>1.3. Khách hàng</em> là các tổ chức, cá nhân, đồng thời là chủ thể dữ liệu; bao gồm nhưng không giới hạn, các tổ chức và cá nhân có tương tác, giao dịch, truy cập, cung cấp, sử dụng Sản phẩm của PNJL (kể cả hình thức giao dịch trực tiếp tại PNJL, không gian mạng và/hoặc các hình thức khác); các tổ chức, cá nhân tham gia các chương trình, sự kiện của PNJL.</p>
<p style="text-align: justify; padding-left: 40px;"><em>1.4. Dữ liệu cá nhân</em> là thông tin, dữ liệu của Khách hàng dưới dạng ký hiệu, chữ viết, chữ số, hình ảnh, âm thanh hoặc dạng tương tự trên môi trường điện tử gắn liền với một con người cụ thể hoặc giúp xác định một con người cụ thể; bao gồm nhưng không giới hạn các thông tin, dữ liệu liên quan đến họ tên, ngày tháng năm sinh, giới tính, quốc tịch, thông tin chứng minh nhân dân/căn cước công dân, số định danh cá nhân, số hộ chiếu, tình trạng hôn nhân, thông tin giao dịch, lịch sử truy cập. Ngoài ra, một số thông tin, dữ liệu về bản chất mang tính nhạy cảm như chủng tộc, sức khỏe, niềm tin tôn giáo, quan điểm chính trị, dữ liệu sinh trắc học, vị trí của Khách hàng và các thông tin khác có thể được PNJL thu thập, xử lý khi cần thiết.</p>
<p style="text-align: justify; padding-left: 40px;"><em>1.5. Xử lý Dữ liệu cá nhân</em> là việc PNJL thực hiện một hoặc nhiều hoạt động tác động tới Dữ liệu cá nhân của Khách hàng, bao gồm những không giới hạn các hoạt động như: thu thập, ghi, phân tích, xác nhận, lưu trữ, chỉnh sửa, công khai, kết hợp, truy cập, truy xuất, thu hồi, mã hóa, giải mã, sao chép, chia sẻ, truyền đưa, cung cấp, chuyển giao, xóa, hủy Dữ liệu cá nhân hoặc các hành động khác có liên quan.</p>
<p style="text-align: justify; padding-left: 40px;"><em>1.6. Bên thứ ba</em> là tổ chức, cá nhân không phải là PNJL và Khách hàng.</p>
<p style="text-align: justify;"><strong>Điều 2. Loại Dữ liệu cá nhân được thu thập</strong></p>
<p style="text-align: justify;">         Nhằm phục vụ cho các mục đích xử lý Dữ liệu cá nhân được quy định trong Thông báo này và tùy thuộc vào tính chất, mức độ, loại giao dịch, PNJL có thể thu thập các Dữ liệu cá nhân cơ bản và/hoặc nhạy cảm sau của Khách hàng:</p>
<p style="text-align: justify; padding-left: 40px;">2.1. Dữ liệu cơ bản của Khách hàng như họ tên, ngày tháng năm sinh, quốc tịch, địa chỉ thường trú, địa chỉ liên lạc, thông tin số chứng minh nhân dân/thẻ căn cước công dân/hộ chiếu, số điện thoại, email, v.v.</p>
<p style="text-align: justify; padding-left: 40px;">2.2. Dữ liệu liên quan đến thanh toán, bao gồm thông tin về tài khoản ngân hàng, thẻ tín dụng,…v/v (không bao gồm số thẻ chi tiết, số CVV hoặc mã số xác thực khác có giá trị pháp lý tương đương).</p>
<p style="text-align: justify; padding-left: 40px;">2.3. Các dữ liệu theo quy định của PNJL để được tham gia và/hoặc được áp dụng chương trình khuyến mại, sự kiện của PNJL (như: thẻ học sinh, bảng điểm thi, chứng nhận tình trạng kết hôn, giấy chứng nhận đăng ký kết hôn, thông tin mối quan hệ gia đình…v.v) tùy theo điều kiện của từng chương trình, sự kiện.</p>
<p style="text-align: justify; padding-left: 40px;">2.4. Hình ảnh, giọng nói và các đặc điểm nhận dạng cá nhân khác của Khách hàng khi tham dự một chương trình, sự kiện của PNJL hoặc sử dụng Sản phẩm của PNJL.</p>
<p style="text-align: justify; padding-left: 40px;">2.5. Dữ liệu cá nhân phản ánh hoạt động, lịch sử hoạt động trên không gian mạng của Khách hàng.</p>
<p style="text-align: justify; padding-left: 40px;">2.6. Dữ liệu về sở thích, thói quen của Khách hàng.</p>
<p style="text-align: justify; padding-left: 40px;">2.7. Dữ liệu giao dịch Khách hàng đã thực hiện với PNJL như loại, số lượng Sản phẩm; địa điểm, thời gian thực hiện giao dịch và các dữ liệu về tương tác của Khách hàng với Sản phẩm của PNJL hoặc sản phẩm của Bên thứ ba liên quan đến Sản phẩm của PNJL.</p>
<p style="text-align: justify; padding-left: 40px;">2.8. Dữ liệu được tạo lập/trích xuất từ hoặc liên quan đến hệ thống kỹ thuật (bao gồm thiết bị, hệ điều hành, phần mềm, định vị, trình duyệt, địa chỉ IP, hệ thống kỹ thuật khác) như: thông tin cài đặt ngôn ngữ, ngày và giờ kết nối với trang tin điện tử, thống kê sử dụng ứng dụng, cài đặt ứng dụng, ngày và giờ kết nối với ứng dụng; tên tài khoản; mật khẩu; chi tiết đăng nhập bảo mật; dữ liệu sử dụng; và bất kỳ thông tin nào khác được ghi tự động từ kết nối</p>
<p style="text-align: justify; padding-left: 40px;">2.9. Dữ liệu được tạo lập/trích xuất liên quan đến các mối quan tâm đối với quảng cáo; dữ liệu cookie; dữ liệu clickstream; lịch sử duyệt web; phản ứng với tiếp thị trực tiếp; và lựa chọn không tham gia tiếp thị trực tiếp; dữ liệu, thông tin liên quan khác.</p>
<p style="text-align: justify; padding-left: 40px;">2.10. Dữ liệu khác mà PNJL thu thập sẽ tùy thuộc vào cài đặt bảo mật mà Khách hàng đã thiết lập với nhà cung cấp mạng xã hội, trên các thiết bị và ứng dụng của mình.</p>
<p style="text-align: justify; padding-left: 40px;">Các loại dữ liệu về ứng dụng và thiết bị PNJL thu thập và thời gian PNJL lưu trữ sẽ tùy thuộc một phần vào thiết bị và các chế độ cài đặt, thiết lập của Khách hàng. Ví dụ: Khách hàng có thể bật hoặc tắt vị trí của thiết bị thông qua ứng dụng cài đặt của thiết bị, v.v.</p>
<p style="text-align: justify; padding-left: 40px;">2.11. Các dữ liệu khác có liên quan đến loại giao dịch giữa Khách hàng và PNJL.</p>
<p style="text-align: justify;"><strong>Điều 3. Cách thức thu thập Dữ liệu cá nhân</strong></p>
<p style="text-align: justify;">       PNJL có thể thực hiện thu thập Dữ liệu cá nhân của Khách hàng theo một hoặc tất cả các phương thức sau:</p>
<p style="text-align: justify;">       3.1. Trực tiếp từ Khách hàng và/hoặc các ứng dụng tự động như:</p>
<p style="text-align: justify; padding-left: 80px;">a) Thông qua các giao dịch được thiết lập giữa Khách hàng và PNJL.</p>
<p style="text-align: justify; padding-left: 80px;">b) Khi Khách hàng tìm kiếm, đăng ký, đăng nhập, tạo, quản lý tài khoản, truy cập, giao dịch, tương tác thông qua kênh tương tác khả dụng của PNJL (như website, facebook, zalo, ứng dụng…) hoặc Bên thứ ba có liên quan đến Sản phẩm của PNJL.</p>
<p style="text-align: justify; padding-left: 80px;">c) Khi Khách hàng truy cập bất kỳ trang tin điện tử nào của PNJL hoặc sử dụng bất kỳ tính năng, tài nguyên nào có sẵn trên hoặc thông qua trang tin điện tử</p>
<p style="text-align: justify; padding-left: 80px;">d) Khi Khách hàng tải xuống hoặc sử dụng ứng dụng của PNJL dành cho thiết bị di động.</p>
<p style="text-align: justify; padding-left: 80px;">e) Từ các trao đổi, liên lạc giữa PNJL và Khách hàng (gặp trực tiếp, qua thư, điện thoại, trực tuyến, liên lạc điện tử hoặc bất kỳ phương tiện nào khác) bao gồm cả các cuộc khảo sát, chương trình, sự kiện, hoạt động mà Khách hàng tham gia.</p>
<p style="text-align: justify; padding-left: 80px;">f) Từ các tương tác hoặc các công nghệ thu thập dữ liệu tự động: PNJL có thể thu thập thông tin bao gồm địa chỉ IP, URL giới thiệu, hệ điều hành, trình duyệt tin điện tử và bất kỳ thông tin nào khác được ghi tự động từ kết nối:</p>
<p style="text-align: justify; padding-left: 120px;">f.1) Cookie, flash cookie, thẻ pixel, tin điện tử beacons, hoặc các công nghệ theo dõi khác.</p>
<p style="text-align: justify; padding-left: 120px;">f.2) Bất kỳ công nghệ nào có khả năng theo dõi hoạt động cá nhân trên các thiết bị hoặc trang tin điện tử.</p>
<p style="text-align: justify; padding-left: 120px;">f.3) Thông tin vị trí hoặc siêu dữ liệu khác được cung cấp bởi một thiết bị.</p>
<p style="text-align: justify; padding-left: 120px;">f.4) Các phương tiện khác: PNJL có thể thu thập Dữ liệu cá nhân khi Khách hàng tương tác với PNJL thông qua bất kỳ phương tiện nào khác.</p>
<p style="text-align: justify; padding-left: 40px;">3.2. Từ Bên thứ ba, nền tảng mạng xã hội và các nguồn khác:</p>
<p style="text-align: justify; padding-left: 80px;">a) Từ các nhà cung cấp, bên cung cấp dịch vụ, đối tác hoặc các bên có liên quan đến PNJL và/hoặc Khách hàng.</p>
<p style="text-align: justify; padding-left: 80px;">b) Từ Bên thứ ba là đại diện hợp pháp của Khách hàng liên quan đến cung cấp, xử lý Dữ liệu cá nhân của Khách hàng.</p>
<p style="text-align: justify; padding-left: 80px;">c) Từ cơ quan nhà nước có thẩm quyền; ngân hàng, các tổ chức tín dụng.</p>
<p style="text-align: justify; padding-left: 80px;">d) Từ bất kỳ nguồn thông tin công cộng, công khai có sẵn hoặc từ các nền tảng mạng xã hội (google, facebook, zalo…) mà Khách hàng đã đăng tải, cập nhật.</p>
<p style="text-align: justify; padding-left: 80px;">e) Khi PNJL thu thập Dữ liệu cá nhân của Bên thứ ba và các nguồn khác, PNJL đảm bảo rằng dữ liệu đó được chuyển cho PNJL một cách phù hợp và tuân thủ nghiêm ngặt các quy định của pháp luật hiện hành.</p>
<p style="text-align: justify;"><strong>Điều 4. Mục đích xử lý Dữ liệu cá nhân</strong></p>
<p style="text-align: justify;">4.1. Dữ liệu cá nhân của Khách hàng sẽ được PNJL xử lý theo Thông báo này và cho mục đích cụ thể. Tùy thuộc vào từng trường hợp, PNJL có thể xử lý Dữ liệu cá nhân phù hợp với mục đích đã được Khách hàng đồng ý hoặc theo quy định pháp luật.</p>
<p style="text-align: justify;">4.2. PNJL xử lý Dữ liệu cá nhân của Khách hàng cho một hoặc tất cả các mục đích sau đây:</p>
<p style="text-align: justify; padding-left: 40px;">a) Phục vụ cho các vấn đề có liên quan đến giao dịch của Khách hàng tại PNJL, bao gồm:</p>
<p style="text-align: justify; padding-left: 80px;">a.1) Định danh, xác thực Khách hàng để truy cập tài khoản, quản lý tài khoản thành viên của Khách hàng; bảo vệ khỏi gian lận, giả mạo, phá hủy, chiếm đoạt tài khoản và/hoặc các hoạt đồng bất hợp pháp khác.</p>
<p style="text-align: justify; padding-left: 80px;">a.2) Nhập, kiểm tra tính đầy đủ và chính xác Dữ liệu cá nhân của Khách hàng được nhập vào hệ thống, đối chiếu với các nguồn dữ liệu liên quan; cập nhật Dữ liệu cá nhân của Khách hàng.</p>
<p style="text-align: justify; padding-left: 80px;">a.3) Xác nhận và thực hiện các giao dịch tài chính liên quan đến thanh toán trực tuyến.</p>
<p style="text-align: justify; padding-left: 80px;">a.4) Để bảo vệ hoặc thực hiện các quyền của PNJL, bao gồm việc thu các khoản phí, thu hồi bất kỳ khoản nợ nào Khách hàng đang nợ PNJL;</p>
<p style="text-align: justify; padding-left: 80px;">a.5) Xử lý các yêu cầu, đơn đặt hàng của Khách hàng; vận chuyển Sản phẩm đến Khách hàng</p>
<p style="text-align: justify; padding-left: 80px;">a.6) Xác nhận, xử lý, trao đổi thông tin liên quan đến các giao dịch của Khách hàng và PNJL. Quản lý thông tin, dữ liệu, lịch sử giao dịch của Khách hàng tại PNJL.</p>
<p style="text-align: justify; padding-left: 80px;">a.7) Cung cấp cho Khách hàng thông tin về Sản phẩm, chương trình khuyến mại, các sự kiện, hoạt động của PNJL hoặc của Bên thứ ba mà Khách hàng có thể quan tâm.</p>
<p style="text-align: justify; padding-left: 80px;">a.8) Để đề xuất những Sản phẩm mà Khách hàng có thể quan tâm, nhận diện sở thích của Khách hàng và cá nhân hóa trải nghiệm của Khách hàng với Sản phẩm;</p>
<p style="text-align: justify; padding-left: 80px;">a.9) Thực hiện các chương trình quảng cáo, khuyến mại, ưu đãi, hỗ trợ của PNJL phù hợp với quy định pháp luật, không gây thiệt hại đến Khách hàng.</p>
<p style="text-align: justify; padding-left: 80px;">a.10) Liên hệ, cung cấp, gửi tài liệu, thông tin liên quan đến cập nhật Dữ liệu cá nhân của Khách hàng, thông báo cho Khách hàng những thay đổi, cập nhật đối với website, ứng dụng hoặc thiết bị của PNJL.</p>
<p style="text-align: justify; padding-left: 80px;">a.11) Gửi truyền thông về việc quản lý tài khoản của Khách hàng và các tính năng của trang tin điện tử, ứng dụng hoặc thiết bị.</p>
<p style="text-align: justify; padding-left: 80px;">a.12) Để liên lạc với Khách hàng liên quan đến Sản phẩm; giải đáp, phản hồi các khiếu nại, góp ý, yêu cầu của Khách hàng.</p>
<p style="text-align: justify; padding-left: 80px;">a.13) Thực hiện các mục đích khác mà PNJL cho rằng sẽ có lợi cho Khách hàng.</p>
<p style="text-align: justify; padding-left: 40px;">b. Để vận hành, phát triển, cung cấp, cải tiến nâng cao chất lượng các Sản phẩm của PNJL:</p>
<p style="text-align: justify; padding-left: 80px;">b.1) Để thực hiện các quy định liên quan đến an toàn hệ thống thông tin của PNJL và bảo vệ Dữ liệu cá nhân Khách hàng.</p>
<p style="text-align: justify; padding-left: 80px;">b.2) Để đo lượng việc sử dụng, phân tích, cải thiện chất lượng và phát triển Sản phẩm của PNJL.</p>
<p style="text-align: justify; padding-left: 80px;">b.3) Cải thiện giao diện và/hoặc nội dung của các mục trên website và các ứng dụng của PNJL nhằm mục tiêu phục vụ Khách hàng tốt hơn.</p>
<p style="text-align: justify; padding-left: 80px;">b.4) Nghiên cứu thị trường, phân tích xu hướng, thống kê, khảo sát và phân tích dữ liệu liên quan đến Sản phẩm.</p>
<p style="text-align: justify; padding-left: 40px;">c. Để thực hiện quyền và nghĩa vụ của PNJL trong việc triển khai và tuân thủ quy định pháp luật, quy định của PNJL và Bên thứ ba:</p>
<p style="text-align: justify; padding-left: 80px;">c.1) Phục vụ mục đích phòng, chống rửa tiền, chống tài trợ khủng bố, tuân thủ cấm vận theo quy định từng thời kỳ.</p>
<p style="text-align: justify; padding-left: 80px;">c.2) Để phòng chống, ngăn chặn, phát hiện gian lận và lạm dụng, rủi ro tín dụng nhằm bảo vệ Khách hàng, PNJL và những người khác; đồng thời để tuân thủ các nghĩa vụ pháp lý của PNJL về phòng chống gian lận.</p>
<p style="text-align: justify; padding-left: 80px;">c.3) Phục vụ các hoạt động, giao dịch mua bán, chuyển nhượng, chuyển giao việc kinh doanh và/hoặc tài sản của PNJL.</p>
<p style="text-align: justify; padding-left: 80px;">c.4) Cho mục đích kiểm toán, đơn vị tư vấn cho PNJL.</p>
<p style="text-align: justify; padding-left: 80px;">c.5) Phục vụ giao dịch mua bán, chuyển nhượng, chuyển giao quyền, lợi ích hoặc nghĩa vụ theo (những) hợp đồng của Khách hàng với PNJL.</p>
<p style="text-align: justify; padding-left: 80px;">c.6) Thực hiện và tuân thủ với các thoả thuận và/hoặc hợp đồng giữa PNJL và Bên thứ ba phù hợp với quy định pháp luật.</p>
<p style="text-align: justify; padding-left: 80px;">c.7) Cung cấp cho các bên cung cấp sản phẩm, dịch vụ cho PNJL.</p>
<p style="text-align: justify; padding-left: 80px;">c.8) Đáp ứng hoặc tuân thủ các chính sách nội bộ của PNJL.</p>
<p style="text-align: justify; padding-left: 80px;">c.9) Tuân thủ nghĩa vụ pháp lý liên quan hoặc vì lợi ích hợp pháp của PNJL trong việc bảo mật và thu thập dữ liệu.</p>
<p style="text-align: justify; padding-left: 80px;">c.10) Để đáp ứng hoặc tuân thủ các quy định pháp luật, yêu cầu bằng văn bản, quyết định được ban hành bởi tòa án, các cơ quan nhà nước có thẩm quyền hoặc cơ quan, tổ chức quản lý khác.</p>
<p style="text-align: justify; padding-left: 40px;">d) PNJL có thể sử dụng dữ liệu cá nhân của Khách hàng được ghi lại bởi hệ thống an ninh giám sát cho các mục đích sau đây: (i) cho mục đích an ninh, trật tự xã hội; (ii) phát hiện và ngăn chặn các hành vi vi phạm có thể phát sinh tại PNJL hoặc trong việc sử dụng các Sản phẩm của PNJL; (iii) phát hiện và ngăn chặn hành vi phạm tội; và/hoặc (iv) để tiến hành điều tra các vấn đề phát sinh khác;</p>
<p style="text-align: justify; padding-left: 40px;">e) Các mục đích khác mà PNJL xác định phù hợp tại từng thời điểm hoặc bất kỳ mục đích nào khác được yêu cầu hoặc cho phép bởi quy định pháp luật.</p>
<p style="text-align: justify;">4.3. PNJL xử lý Dữ liệu cá nhân của Khách hàng cho một hoặc tất cả cả mục đích được nêu trên tùy thuộc vào tính chất, mức độ loại giao dịch của Khách hàng. Khách hàng được quyền từ chối không cho phép PNJL xử lý Dữ liệu cá nhân cho một hoặc nhiều mục đích nêu trên bằng cách gửi yêu cầu về cho PNJL theo thông tin liên lạc được nêu tại Thông báo này. Trường hợp PNJL không nhận được yêu cầu nào của Khách hàng, bằng cách thể hiện sự đồng ý như được đề cập tại Thông báo này, PNJL hiểu rằng Khách hàng tự nguyện đồng ý cho phép PNJL được toàn quyền xử lý Dữ liệu cá nhân của Khách hàng cho toàn bộ mục đích nêu trên.</p>
<p style="text-align: justify;"><strong>Điều 5. Tổ chức, cá nhân được xử lý Dữ liệu cá nhân của Khách hàng</strong></p>
<p style="text-align: justify;">        Cho mục đích được nêu tại Thông báo này và các mục đích khác được Khách hàng đồng ý hoặc theo quy định pháp luật, chủ thể được xử lý Dữ liệu cá nhân của Khách hàng bao gồm các tổ chức, cá nhân sau đây:</p>
<p style="text-align: justify;">5.1. PNJL (bao gồm người lao động, nhân sự của PNJL được phân công, giao nhiệm vụ xử lý Dữ liệu cá nhân của Khách hàng).</p>
<p style="text-align: justify;">5.2. Công ty cung cấp dịch vụ liên quan đến hoạt kinh doanh của PNJL, bao gồm nhưng không giới hạn công ty cung cấp dịch vụ bưu chính, viễn thông, xử lý dữ liệu, công nghệ thông tin, hỗ trợ công nghệ, trung tâm dữ liệu, vận hành Sản phẩm, vận hành các trang tin điện tử, ứng dụng, thiết bị của PNJL.</p>
<p style="text-align: justify;">5.3. Công ty cung cấp dịch vụ thanh toán và các dịch vụ có liên quan đến các giao dịch thanh toán qua trang tin điện tử, ứng dụng;</p>
<p style="text-align: justify;">5.4. Công ty cung cấp dịch vụ kế toán, kiểm toán, định giá, thẩm định giá, công ty luật và các đơn vị tư vấn khác của PNJL.</p>
<p style="text-align: justify;">5.5. Các bên giao dịch/dự định giao dịch mua bán, chuyển nhượng, chuyển giao việc kinh doanh và/hoặc tài sản và/hoặc vốn góp, cổ phần của PNJL.</p>
<p style="text-align: justify;">5.6. Các cá nhân, tổ chức có ý định thanh toán bất kỳ khoản tiền chưa thanh toán nào của Khách hàng với PNJL.</p>
<p style="text-align: justify;">5.7. Các cá nhân, tổ chức, Cơ quan nhà nước có thẩm quyền hoặc Bên thứ ba khác mà PNJL được phép hoặc bắt buộc phải tiết lộ theo quy định pháp luật và/hoặc theo các thỏa thuận hợp pháp của PNJL và Bên thứ ba.</p>
<p style="text-align: justify;">5.8. Tổ chức, cá nhân khác theo quy định của pháp luật và phù hợp với mục đích xử lý Dữ liệu cá nhân của Khách hàng.</p>
<p style="text-align: justify;"><strong>Điều 6. Cập nhật, chỉnh sửa và xóa Dữ liệu cá nhân</strong></p>
<p style="text-align: justify;">6.1. Cho mục đích được nêu tại Thông báo này, Dữ liệu cá nhân phải được cập nhật, bổ sung kịp thời để phù hợp với mục đích xử lý.</p>
<p style="text-align: justify;">6.2. Chỉnh sửa Dữ liệu cá nhân.</p>
<p style="text-align: justify; padding-left: 40px;">a) Khách hàng có thể truy cập vào tài khoản của Khách hàng để xem, chỉnh sửa Dữ liệu cá nhân của mình.</p>
<p style="text-align: justify; padding-left: 40px;">b) Trường hợp Khách hàng không thể chỉnh sửa trực tiếp vì lý do kỹ thuật hoặc vì lý do khác, Khách hàng có thể gửi yêu cầu bằng văn bản đến PNJL để yêu cầu PNJL chỉnh sửa Dữ liệu cá nhân cho Khách hàng. Trên cơ sở yêu cầu và thông tin Khách hàng cung cấp, PNJL tiến hành chỉnh sửa Dữ liệu cá nhân cho Khách hàng ngay khi có thể. PNJL sẽ thông báo cho Khách hàng sau 72 giờ kể khi nhận được yêu cầu chỉnh sửa Dữ Liệu Cá Nhân của Khách Hàng trong trường hợp PNJL không thể thực hiện chỉnh sửa Dữ liệu cá nhân cho Khách hàng ngay vì lý do khách quan hay vì bất kỳ lý do gì.</p>
<p style="text-align: justify; padding-left: 40px;">c) Khách hàng có trách nhiệm cập nhật, chỉnh sửa Dữ liệu cá nhân của mình kịp thời cho PNJL và chịu trách nhiệm về tính chính xác, đầy đủ của dữ liệu mà Khách hàng cung cấp.</p>
<p style="text-align: justify;">6.3. Xóa Dữ liệu cá nhân:</p>
<p style="text-align: justify; padding-left: 40px;">a) Trừ trường hợp pháp luật có quy định khác và các trường hợp được quy định tại điểm d khoản này, Khách hàng được yêu cầu PNJL xóa Dữ liệu cá nhân của mình trong các trường hợp sau:</p>
<p style="text-align: justify; padding-left: 80px;">a.1) Khách hàng nhận thấy Dữ liệu cá nhân đó không còn cần thiết cho mục đích xử lý dữ liệu mà Khách hàng đã đồng ý và Khách hàng chấp nhận các thiệt hại có thể xảy ra khi yêu cầu xóa dữ liệu;</p>
<p style="text-align: justify; padding-left: 80px;">a.2) Khách hàng rút lại sự đồng ý theo đúng quy định pháp luật và nội dung tại Thông báo này;</p>
<p style="text-align: justify; padding-left: 80px;">a.3) Khách hàng phản đối PNJL thực hiện hoạt động xử lý Dữ liệu cá nhân của Khách hàng và PNJL không có căn cứ chứng minh việc tiếp tục xử lý là cần thiết;</p>
<p style="text-align: justify; padding-left: 80px;">a.4) Khách hàng có bằng chứng chứng minh rằng PNJL đã thực hiện các hoạt động xử lý Dữ liệu cá nhân của Khách hàng không đúng mục đích hoặc vi phạm quy định pháp luật.</p>
<p style="text-align: justify; padding-left: 80px;">a.5) Các trường hợp mà Khách hàng cho rằng Dữ liệu cá nhân của Khách hàng phải được xóa theo quy định pháp luật.</p>
<p style="text-align: justify; padding-left: 40px;">b) Trong thời hạn 72 giờ kể từ thời điểm nhận được yêu cầu xóa Dữ liệu cá nhân của Khách hàng, PNJL sẽ tiến hành thực hiện các thủ tục để xóa toàn bộ Dữ liệu cá nhân của Khách hàng mà PNJL thu thâp được, trừ trường hợp pháp luật có quy đinh khác.</p>
<p style="text-align: justify; padding-left: 40px;">c) Trong các trường hợp sau đây, PNJL sẽ thực hiện hoạt động xóa không thể khôi phục Dữ liệu cá nhân của Khách hàng:</p>
<p style="text-align: justify; padding-left: 80px;">c.1) Dữ liệu cá nhân bị xử lý không đúng mục đích hoặc đã hoàn thành mục đích xử lý Dữ liệu cá nhân được Khách hàng đồng ý;</p>
<p style="text-align: justify; padding-left: 80px;">c.2) Việc lưu trữ Dữ liệu cá nhân không còn cần thiết với hoạt động của PNJL và/hoặc Bên thứ ba có liên quan;</p>
<p style="text-align: justify; padding-left: 80px;">c.3) PNJL và/hoặc Bên thứ ba có liên quan bị giải thể hoặc không còn hoạt động hoặc tuyên bố phá sản hoặc bị chấm dứt hoạt động theo quy định của pháp luật.</p>
<p style="text-align: justify; padding-left: 40px;">d) Dữ liệu cá nhân của Khách hàng sẽ không được xóa trong các trường hợp sau đây, thậm chí Khách hàng khi có yêu cầu xóa Dữ liệu cá nhân:</p>
<p style="text-align: justify; padding-left: 80px;">d.1) Pháp luật quy định không cho phép xóa dữ liệu;</p>
<p style="text-align: justify; padding-left: 80px;">d.2) Dữ liệu cá nhân được xử lý bởi cơ quan nhà nước có thẩm quyền với mục đích phục vụ hoạt động của cơ quan nhà nước theo quy định của pháp luật;</p>
<p style="text-align: justify; padding-left: 80px;">d.3) Dữ liệu cá nhân đã được công khai theo quy định của pháp luật;</p>
<p style="text-align: justify; padding-left: 80px;">d.4) Dữ liệu cá nhân được xử lý nhằm phục vụ yêu cầu pháp lý, nghiên cứu khoa học, thống kê theo quy định của pháp luật;</p>
<p style="text-align: justify; padding-left: 80px;">d.5) Trong trường hợp tình trạng khẩn cấp về quốc phòng, an ninh quốc gia, trật tự an toàn xã hội, thảm họa lớn, dịch bệnh nguy hiểm; khi có nguy cơ đe dọa an ninh, quốc phòng nhưng chưa đến mức ban bố tình trạng khẩn cấp; phòng, chống bạo loạn, khủng bố, phòng, chống tội phạm và vi phạm pháp luật;</p>
<p style="text-align: justify; padding-left: 80px;">d.6) Ứng phó với tình huống khẩn cấp đe dọa đến tính mạng, sức khỏe hoặc sự an toàn của Khách hàng hoặc cá nhân khác.</p>
<p style="text-align: justify;"><strong>Điều 7. Lưu trữ và Bảo vệ Dữ liệu cá nhân</strong></p>
<p style="text-align: justify;">7.1. PNJL sẽ thực hiện lưu trữ Dữ liệu cá nhân của Khách hàng theo hình thức phù hợp với hoạt động của PNJL và trong khoảng thời gian phù hợp với mục đích xử lý dữ liệu và yêu cầu của Khách hàng.</p>
<p style="text-align: justify;">7.2. Trừ trường hợp pháp luật quy định khác, thời điểm PNJL bắt đầu và kết thúc xử lý Dữ liệu cá nhân của Khách hàng như sau:</p>
<p style="text-align: justify; padding-left: 40px;">a) Thời gian PNJL bắt đầu: được tính từ thời điểm Khách hàng thể hiện sự đồng ý cho phép PNJL xử lý Dữ liệu cá nhân của Khách hàng theo quy định tại Thông báo này;</p>
<p style="text-align: justify; padding-left: 40px;">b) Thời gian kết thúc: kể từ thời điểm PNJL hoàn tất việc xử lý Dữ liệu cá nhân của Khách hàng hoặc nhận được yêu cầu chấm dứt việc xử lý dữ liệu và/hoặc Khách hàng có yêu cầu rút lại sự đồng ý cho phép PNJL xử lý Dữ liệu của Khách hàng và/hoặc một thời điểm khác theo quy định pháp luật.</p>
<p style="text-align: justify;">7.3. PNJL cam kết xử lý Dữ liệu cá nhân của Khách hàng một cách an toàn, bảo mật và đảm bảo các quyền và lợi ích hợp pháp của Khách hàng đối với hoạt động xử lý Dữ liệu cá nhân trong khả năng của PNJL và theo quy định của pháp luật hiện hành. PNJL áp dụng các phương pháp xử lý dữ liệu thích hợp cũng như các biện pháp bảo mật kỹ thuật và tổ chức thích hợp, để tránh việc truy cập, đọc, sử dụng, thay đổi, cung cấp, phá hủy trái phép hoặc các quá trình xử lý Dữ liệu cá nhân khác. Tuy nhiên, môi trường mạng (internet) không phải là một môi trường an toàn và không thể đảm bảo tuyệt đối rằng Dữ liệu cá nhân của Khách hàng được chia sẻ bằng internet sẽ luôn được bảo mật và do đó Dữ liệu cá nhân của Khách hàng được thu thập, lưu trữ có thể bị xâm phạm từ Bên thứ ba (chẳng hạn như hacker) và có thể gây ra những ảnh hưởng, tổn thất cho Khách hàng. Khi Khách hàng sử dụng internet để truyền tải dữ liệu cá nhân, Khách hàng chỉ nên sử dụng các hệ thống an toàn để truy cập trang tin điện tử, ứng dụng hoặc thiết bị, Khách hàng có trách nhiệm giữ thông tin xác thực truy cập của mình cho từng trang tin điện tử, ứng dụng hoặc thiết bị an toàn và bí mật. Khách hàng cần thông báo ngay cho PNJL nếu phát hiện có hành vi lạm dụng thông tin đăng nhập và thay đổi mật khẩu truy cập ngay lập tức. PNJL sẽ cố gắng hết mức có thể để sửa chữa và củng cố hàng rào bảo mật, giảm thiểu thiệt hại phát sinh cho Khách hàng.</p>
<p style="text-align: justify;"><strong>Điều 8. Quyền và nghĩa vụ của Khách hàng</strong></p>
<p style="text-align: justify;">8.1. Quyền của Khách hàng:</p>
<p style="text-align: justify; padding-left: 40px;">a) Quyền được biết: Khách hàng được quyền biết thông tin về mục đích, cách thức, phạm vi, loại dữ liệu PNJL xử lý và các nội dung khác liên quan đến xử lý Dữ liệu cá nhân của Khách hàng.</p>
<p style="text-align: justify; padding-left: 40px;">b) Quyền đồng ý: Khách hàng được đồng ý hoặc không đồng ý cho phép PNJL xử lý Dữ liệu cá nhân của mình trừ trường hợp xử lý dữ liệu cá nhân trong trường hợp không cần sự đồng ý của Khách hàng theo quy định tại Thông báo này và quy định pháp luật có liên quan;</p>
<p style="text-align: justify; padding-left: 40px;">c) Quyền rút lại sự đồng ý: Khách hàng được quyền rút lại sự đồng ý của mình, nhưng phải tuân theo các nội dung liên quan tại Thông báo này và quy định của pháp luật.</p>
<p style="text-align: justify; padding-left: 40px;">d) Quyền phản đối xử lý dữ liệu: Khách hàng được phản đối PNJL xử lý Dữ liệu cá nhân của mình nhằm ngăn chặn hoặc hạn chế tiết lộ Dữ liệu cá nhân hoặc sử dụng cho mục đích quảng cáo, tiếp thị không đúng quy định tại Thông báo này và quy định pháp luật có liên quan. PNJL sẽ thực hiện yêu cầu của Khách hàng trong 72 giờ sau khi nhận được yêu cầu.</p>
<p style="text-align: justify; padding-left: 40px;">e) Quyền truy cập, chỉnh sửa Dữ liệu cá nhân: Khách hàng được quyền truy cập, xem, chỉnh sửa Dữ liệu cá nhân của mình theo cách thức, phương thức được quy định tại Thông báo này và quy định pháp luật có liên quan.</p>
<p style="text-align: justify; padding-left: 40px;">f) Quyền xóa dữ liệu: Khách hàng được xóa hoặc yêu cầu PNJL xóa Dữ liệu cá nhân của Khách hàng theo quy định tại Thông báo này và quy định pháp luật.</p>
<p style="text-align: justify; padding-left: 40px;">g) Quyền hạn chế xử lý dữ liệu: Khách hàng được quyền hạn chế PNJL xử lý Dữ liệu cá nhân của Khách hàng. PNJL sẽ thực hiện theo yêu cầu của Khách hàng trong thời hạn 72 giờ sau khi nhận được yêu cầu của Khách hàng.</p>
<p style="text-align: justify; padding-left: 40px;">h) Quyền yêu cầu PNJL cung cấp dữ liệu: Khách hàng được quyền yêu cầu PNJL cung cấp Dữ liệu cá nhân của mình với trình tự, thủ tục yêu cầu như sau:</p>
<p style="text-align: justify; padding-left: 80px;">h.1) Khi có yêu cầu cung cấp dữ liệu cá nhân, Khách hàng hoặc đại diện hợp pháp của Khách hàng gửi Phiếu yêu cầu cung cấp dữ liệu cá nhân theo mẫu đến PNJL bằng một trong các phương thức sau (i) trực tiếp tại trụ sở của PNJL; hoặc (ii) qua email của PNJL; (iii) qua dịch vụ bưu chính.</p>
<p style="text-align: justify; padding-left: 80px;">h.2) PNJL sẽ cử nhân sự có trách nhiệm tiếp nhận yêu cầu cung cấp dữ liệu cá nhân của Khách hàng và theo dõi quá trình, danh sách cung cấp dữ liệu cá nhân theo yêu cầu; Trường hợp dữ liệu cá nhân được yêu cầu không thuộc thẩm quyền thì PNJL sẽ thông báo và hướng dẫn Khách hàng đến cơ quan có thẩm quyền hoặc thông báo rõ ràng việc không thể cung cấp dữ liệu cá nhân.</p>
<p style="text-align: justify; padding-left: 80px;">h.3) Trong thời hạn 72 giờ sau khi nhận được yêu cầu cung cấp dữ liệu cá nhân hợp lệ của Khách hàng PNJL sẽ thông báo về thời hạn, địa điểm, hình thức cung cấp dữ liệu cá nhân; chi phí thực tế để in, sao, chụp, gửi thông tin qua dịch vụ bưu chính, fax (nếu có) và phương thức, thời hạn thanh toán.</p>
<p style="text-align: justify; padding-left: 40px;">i) Quyền khiếu nại, tố cáo, khởi kiện: Khách hàng có quyền khiếu nại, tố cáo hoặc khởi kiện theo quy định của pháp luật.</p>
<p style="text-align: justify; padding-left: 40px;">j) Quyền yêu cầu bồi thường thiệt hại: Khách hàng có quyền yêu cầu bồi thường thiệt hại theo quy định của pháp luật khi xảy ra vi phạm quy định về bảo vệ dữ liệu cá nhân của mình.</p>
<p style="text-align: justify; padding-left: 40px;">k) Quyền tự bảo vệ: Khách hàng có quyền tự bảo vệ theo quy định của pháp luật hoặc yêu cầu cơ quan, tổ chức có thẩm quyền thực hiện các phương thức bảo vệ quyền dân sự như công nhận, tôn trọng, bảo vệ và bảo đảm quyền dân sự của mình; buộc chấm dứt hành vi xâm phạm; buộc xin lỗi, cải chính công khai; buộc thực hiện nghĩa vụ; buộc bồi thường thiệt hại; hủy quyết định cá biệt trái pháp luật của cơ quan, tổ chức, người có thẩm quyền; và yêu cầu khác theo quy định của luật.</p>
<p style="text-align: justify;">8.2. Nghĩa vụ của Khách hàng:</p>
<p style="text-align: justify; padding-left: 40px;">a) Tự bảo vệ Dữ liệu cá nhân của mình; yêu cầu các tổ chức, cá nhân khác có liên quan bảo vệ Dữ liệu cá nhân của mình.</p>
<p style="text-align: justify; padding-left: 40px;">b) Tôn trọng, bảo vệ Dữ liệu cá nhân của người khác.</p>
<p style="text-align: justify; padding-left: 40px;">c) Cung cấp đầy đủ, chính xác Dữ liệu cá nhân khi đồng ý cho phép PNJL xử lý Dữ liệu cá nhân của Khách hàng.</p>
<p style="text-align: justify; padding-left: 40px;">d) Cam kết, đảm bảo và chịu trách nhiệm khi cung cấp Dữ liệu cá nhân của Bên thứ ba cho PNJL. Khách hàng cam kết rằng đã có được sự ủy quyền hợp pháp của Bên thứ ba đó cho việc cung cấp và xử lý dữ liệu cá nhân và đã thông báo cho Bên thứ ba biết rõ và đồng ý tất cả nội dung của Thông báo này, kể cả việc cho phép PNJL xử lý dữ liệu cá nhân của Bên thứ ba phục vụ cho một hoặc một số hoặc tất cả mục đích xử lý được nêu tại Thông báo này.</p>
<p style="text-align: justify; padding-left: 40px;">e) Thông báo, cập nhật, bổ sung kịp thời, chính xác Dữ liệu cá nhân của mình cho PNJL phù hợp với mục đích xử lý dữ liệu.</p>
<p style="text-align: justify; padding-left: 40px;">f) Tuân thủ các điều kiện (nếu có) khi thực hiện các quyền của Khách hàng được quy định tại Thông báo này và quy định pháp luật có liên quan.</p>
<p style="text-align: justify; padding-left: 40px;">g) Các nghĩa vụ khác theo Thông báo này và quy định pháp luật.</p>
<p style="text-align: justify;"><strong>Điều 9. Sự đồng ý của Khách hàng và rút lại sự đồng ý</strong></p>
<p style="text-align: justify;">9.1. Sự đồng ý của Khách hàng</p>
<p style="text-align: justify; padding-left: 40px;">a) PNJL luôn tôn trọng và bảo mật thông tin của Khách hàng, do đó PNJL chỉ xử lý Dữ liệu cá nhân của Khách hàng phù hợp với mục đích được đề cập trong Thông báo này khi được sự đồng ý của Khách hàng, trừ trường hợp pháp luật có quy định khác.</p>
<p style="text-align: justify; padding-left: 40px;">b) Bằng cách đồng ý tạo tài khoản, mua Sản phẩm của PNJL, Khách hàng đã biết rõ các nội dung trong Thông báo này, bao gồm nhưng không giới hạn các nội dung về (i) các loại Dữ liệu cá nhân được PNJL xử lý; (ii) Mục đích PNJL xử lý Dữ liệu cá nhân của Khách hàng; (iii) Tổ chức, cá nhân được xử lý Dữ liệu cá nhân của Khách hàng; (iv) Quyền và nghĩa vụ của Khách hàng.</p>
<p style="text-align: justify; padding-left: 40px;">c) Khách hàng được xem là đồng ý cho phép PNJL xử lý Dữ liệu cá nhân của Khách hàng khi Khách hàng thực hiện một trong các hoạt động sau:</p>
<p style="text-align: justify; padding-left: 80px;">c.1) Khách hàng xác nhận bằng văn bản khi giao dịch trực tiếp tại PNJL; hoặc</p>
<p style="text-align: justify; padding-left: 80px;">c.2) Khách hàng đăng ký thẻ thành viên hoặc đã trở thành khách hàng thân thiết của PNJL; hoặc</p>
<p style="text-align: justify; padding-left: 80px;">c.3) Khách hàng truy cập, giao dịch trên nền tảng trực tuyến của PNJL (bao gồm website, facebook,…); hoặc</p>
<p style="text-align: justify; padding-left: 80px;">c.4) Khách hàng đăng ký, đăng nhập tài khoản trên website của PNJL;</p>
<p style="text-align: justify; padding-left: 40px;">d) Bằng việc thực hiện một trong các hoạt động nêu trên, Khách hàng tự nguyện đồng ý cho PNJL được xử lý Dữ liệu cá nhân của Khách hàng phù hợp với mục đích xử lý dữ liệu của PNJL trong từng thời kỳ.</p>
<p style="text-align: justify; padding-left: 40px;">e) Trường hợp Khách hàng không đồng ý cho PNJL xử lý Dữ liệu cá nhân cho bất kỳ mục đích nào, Khách hàng vui lòng gửi yêu cầu về địa chỉ thông tin liên hệ được nêu tại Thông báo này. PNJL tôn trọng quyền của Khách hàng, tuy nhiên Khách hàng có thể không được hưởng những quyền lợi nhất định từ PNJL.</p>
<p style="text-align: justify; padding-left: 40px;">f) Trường hợp Khách hàng ủy quyền cho một tổ chức, cá nhân khác đại diện Khách hàng thực hiện các thủ tục liên quan tới xử lý Dữ liệu cá nhân của Khách hàng với PNJL, Khách hàng hoặc người đại diện hợp pháp của Khách hàng phải cung cấp cho PNJL văn bản ủy quyền hợp pháp (nếu ủy quyền cho cá nhân thì văn bản ủy quyền phải được công chứng, chứng thực; nếu ủy quyền cho tổ chức thì phải có đầy đủ chữ ký của Khách hàng và người đại diện có thẩm quyền của tổ chức), đồng thời nội dung văn bản ủy quyền phải thể hiện rõ Khách hàng đã biết rõ các chính sách, quy định về xử lý dữ liệu cá nhân và đồng ý cho PNJL xử lý dữ liệu cá nhân của Khách hàng.</p>
<p style="text-align: justify; padding-left: 40px;">g) Đối với xử lý dữ liệu cá nhân nhạy cảm, khách hàng sẽ được PNJL thông báo rằng dữ liệu cần xử lý là dữ liệu cá nhân nhạy cảm.</p>
<p style="text-align: justify;">9.2. Rút lại sự đồng ý</p>
<p style="text-align: justify; padding-left: 40px;">a) Khách hàng được quyền rút lại sự đồng ý cho phép PNJL xử lý Dữ liệu cá nhân của Khách hàng. Khi có nhu cầu rút lại sự đồng ý, Khách hàng phải gửi yêu cầu (yêu cầu phải được thể hiện ở một định dạng có thể được in, sao chép bằng văn bản, bao gồm cả dưới dạng điện tử hoặc định dạng kiểm chứng được) đến PNJL.</p>
<p style="text-align: justify; padding-left: 40px;">b) Khi nhận yêu cầu rút lại sự đồng ý của Khách hàng, PNJL báo cho Khách hàng về hậu quả, thiệt hại có thể xảy ra khi rút lại sự đồng ý; đồng thời ngừng và yêu cầu các tổ chức, cá nhân có liên quan ngừng xử lý các Dữ liệu cá nhân mà Khách hàng đã rút lại sự đồng ý.</p>
<p style="text-align: justify; padding-left: 40px;">c) Khách hàng lưu ý rằng việc rút lại sự đồng ý không ảnh hưởng đến tính hợp pháp của việc xử lý dữ liệu đã được đồng ý trước khi rút lại sự đồng ý.</p>
<p style="text-align: justify;">9.3. PNJL được quyền xử lý Dữ liệu cá nhân trong các trường hợp sau mà không cần sự đồng ý của Khách hàng, cụ thể:</p>
<p style="text-align: justify; padding-left: 40px;">a) Trong trường hợp khẩn cấp, cần xử lý ngay Dữ liệu cá nhân có liên quan để bảo vệ tính mạng, sức khỏe của Khách hàng hoặc người khác.</p>
<p style="text-align: justify; padding-left: 40px;">b) Việc công khai Dữ liệu cá nhân theo quy định của luật.</p>
<p style="text-align: justify; padding-left: 40px;">c) Để thực hiện nghĩa vụ theo các thỏa thuận và/hoặc hợp đồng của Khách hàng với cơ quan, tổ chức, cá nhân có liên quan theo quy định của luật.</p>
<p style="text-align: justify; padding-left: 40px;">d) Phục vụ hoạt động của cơ quan nhà nước có thẩm quyền theo quy định pháp luật.</p>
<p style="text-align: justify; padding-left: 40px;">e) Các trường hợp khác theo quy định pháp luật</p>
<p style="text-align: justify;"><strong>Điều 10. Thông tin liên hệ của PNJL</strong></p>
<p style="text-align: justify;">10.1. Mọi câu hỏi, ý kiến đóng góp, khiếu nại liên quan đến xử lý Dữ liệu cá nhân, Khách hàng vui lòng liên hệ và/hoặc gửi đến PNJL theo thông tin dưới đây:</p>
<p style="text-align: justify; padding-left: 80px;">Công ty TNHH Một Thành Viên Giám Định PNJ</p>
<p style="text-align: justify; padding-left: 80px;">Địa chỉ: 302-304 Phan Xích Long, phường 07, quận Phú Nhuận, thành phố Hồ Chí Minh.</p>
<p style="text-align: justify; padding-left: 80px;">Điện thoại: 028 39956120.</p>
<p style="text-align: justify; padding-left: 80px;">Email: pnjl@pnj.com.vn<a href="mailto:cskh@pnj.com.vn">.</a></p>
<p style="text-align: justify;">10.2. Giải quyết khiếu nại</p>
<p style="text-align: justify; padding-left: 40px;">a) Trường hợp phát hiện PNJL không thực hiện xử lý dữ liệu cá nhân đúng mục đích, phạm vi cách thức hoặc các nội dung khác theo Thông báo này hoặc các Thông báo xử lý dữ liệu cá nhân được sửa đổi, bổ sung từng thời điểm, Khách hàng vui lòng gửi thông tin và chứng cứ có liên quan đến PNJL theo thông tin liên hệ nêu trên.</p>
<p style="text-align: justify; padding-left: 40px;">b) PNJL sẽ kiểm tra và phản hồi thông tin khiếu nại của Khách hàng ngay lập tức hoặc muộn nhất là trong thời hạn 72 giờ làm việc kể từ thời điểm tiếp nhận thông tin. Trường hợp vấn đề của Khách hàng phức tạp hoặc PNJL có khối lượng lớn các vấn đề cần giải quyết, PNJL sẽ thông tin đến Khách hàng về việc PNJL cần nhiều thời gian hơn để giải quyết và PNJL sẽ tìm cách giải quyết trong vòng một tháng kể từ khi vấn đề được nêu ra lần đầu tiên.</p>
<p style="text-align: justify;"><strong>Điều 11. Nội dung khác</strong></p>
<p style="text-align: justify;">11.1. Thông báo này có hiệu lực kể từ 01/7/2023 và được PNJL công bố công khai đến Khách hàng trên website chính thức và/hoặc các kênh giao dịch, liên lạc giữa PNJL với Khách hàng và/hoặc các ứng dụng của PNJL.</p>
<p style="text-align: justify;">11.2. Thông báo này có thể được cập nhật, sửa đổi theo từng thời kỳ và được thông báo tới Khách hàng qua website hoặc các kênh giao dịch hoặc các ứng dụng của PNJL.</p>
<p style="text-align: justify;">11.3. Mọi khiếu nại, tranh chấp nếu có liên quan đến việc thu thập và xử lý dữ liệu cá nhân theo Thông báo này trước tiên sẽ được giải quyết bằng thương lượng giữa PNJL và Khách hàng. Trường hợp không thể thương lượng được thì tranh chấp được giải quyết bằng Trọng tài quy chế tại một Trung tâm Trọng tài thương mại được thành lập và hoạt động tại Việt Nam theo Quy tắc tố tụng trọng tài có hiệu lực tại thời điểm giải quyết tranh chấp của Trung tâm Trọng tài đó; địa điểm trọng tài là tại Tp. Hồ Chí Minh, Việt Nam.</p>
<p style="text-align: justify;">11.4. PNJL khuyến nghị Khách hàng thường xuyên truy cập website của PNJL để cập nhật kịp thời các thay đổi, bổ sung (nếu có) của Thông báo này.</p>
<p style="text-align: justify;">11.5. Các vấn đề về xử lý Dữ liệu cá nhân không được quy định tại Thông báo này thì áp dụng theo quy định của pháp luật hiện hành về xử lý dữ liệu cá nhân để thực hiện.</p>
<p style="text-align: right;"><strong>CÔNG TY TNHH MỘT THÀNH VIÊN </strong></p>
<p style="text-align: justify;"><strong>                                                                                                                                                GIÁM ĐỊNH PNJ</strong></p>
<table style="height: 21px; width: 100%; border-collapse: collapse;" border="1">
<caption> </caption>
<tbody>
<tr style="height: 21px;">
<td style="width: 100%; height: 21px;">
<h1><span style="font-size: 75%; color: #333399;"><strong>XÁC NHẬN CỦA KHÁCH HÀNG</strong></span></h1>
<ul style="list-style-type: square;">
<li>Tôi đồng ý cho phép PNJL thu thập, xử lý dữ liệu cá nhân của tôi theo quy định tại Thông báo này và theo quy định của pháp luật.</li>
<li>Tôi không đồng ý cho phép PNJL thu thập, xử lý dữ liệu cá nhân của tôi theo quy định tại Thông báo này và theo quy định của pháp luật.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>¨</p>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/thong-bao-chinh-sach-xu-ly-du-lieu-ca-nhan/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Đánh giá chất lượng Dịch vụ thử nghiệm của Lab</title>
		<link>https://pnjlab.com.vn/danh-gia-chat-luong-dich-vu-thu-nghiem-cua-lab/</link>
					<comments>https://pnjlab.com.vn/danh-gia-chat-luong-dich-vu-thu-nghiem-cua-lab/#respond</comments>
		
		<dc:creator><![CDATA[Trần Tân]]></dc:creator>
		<pubDate>Tue, 20 Jun 2023 09:36:14 +0000</pubDate>
				<category><![CDATA[Tin tức]]></category>
		<guid isPermaLink="false">https://pnjlab.com.vn/?p=1848</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<p><img decoding="async" loading="lazy" class="alignnone wp-image-1849 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2023/06/352236677_251961644120439_6040776226353620403_n.jpg" alt="" width="1446" height="2048" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/06/352236677_251961644120439_6040776226353620403_n.jpg 1446w, https://pnjlab.com.vn/wp-content/uploads/2023/06/352236677_251961644120439_6040776226353620403_n-212x300.jpg 212w, https://pnjlab.com.vn/wp-content/uploads/2023/06/352236677_251961644120439_6040776226353620403_n-723x1024.jpg 723w, https://pnjlab.com.vn/wp-content/uploads/2023/06/352236677_251961644120439_6040776226353620403_n-768x1088.jpg 768w, https://pnjlab.com.vn/wp-content/uploads/2023/06/352236677_251961644120439_6040776226353620403_n-1085x1536.jpg 1085w" sizes="(max-width: 1446px) 100vw, 1446px" /></p>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/danh-gia-chat-luong-dich-vu-thu-nghiem-cua-lab/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>NHỮNG LƯU Ý/KHUYẾN NGHỊ KHI SỬ DỤNG VÀ KINH DOANH  KIM CƯƠNG THIÊN NHIÊN</title>
		<link>https://pnjlab.com.vn/nhung-luu-y-khuyen-nghi-khi-su-dung-va-kinh-doanh-kim-cuong-thien-nhien/</link>
					<comments>https://pnjlab.com.vn/nhung-luu-y-khuyen-nghi-khi-su-dung-va-kinh-doanh-kim-cuong-thien-nhien/#respond</comments>
		
		<dc:creator><![CDATA[Trần Tân]]></dc:creator>
		<pubDate>Thu, 09 Mar 2023 01:14:18 +0000</pubDate>
				<category><![CDATA[Tin tức]]></category>
		<guid isPermaLink="false">https://pnjlab.com.vn/?p=1630</guid>

					<description><![CDATA[Kim cương là món quà kỳ diệu và tuyệt vời thiên nhiên ban tặng mà con người của mọi thời đại, mọi nền văn hóa hay mọi dân tộc đều mong muốn sở hữu để làm trang sức, làm những món quà ý nghĩa có giá trị hay trao đổi kinh doanh. Theo đó, giám...]]></description>
										<content:encoded><![CDATA[<p style="text-align: justify;">Kim cương là món quà kỳ diệu và tuyệt vời thiên nhiên ban tặng mà con người của mọi thời đại, mọi nền văn hóa hay mọi dân tộc đều mong muốn sở hữu để làm trang sức, làm những món quà ý nghĩa có giá trị hay trao đổi kinh doanh. Theo đó, giám định kim cương dần trở thành một dịch vụ thiết yếu nhằm hỗ trợ khách hàng đánh giá đúng bản chất và chất lượng sản phẩm.</p>
<p style="text-align: justify;">Trong quá trình thực hiện dịch vụ giám định-phân cấp, PNJLAB đã gặp nhiều tình huống thực tế ảnh hưởng lớn đến chất lượng của sản phẩm có giá trị cao này. Sau đây là một số những trường hợp tiêu biểu chúng tôi gặp phải:</p>
<p style="text-align: justify;"><span style="font-weight: normal !msorm;"><strong>1. V</strong></span><span style="font-weight: normal !msorm;"><strong>i</strong></span><span style="font-weight: normal !msorm;"><strong>ệ</strong></span><span style="font-weight: normal !msorm;"><strong>c s</strong></span><span style="font-weight: normal !msorm;"><strong>ử</strong></span><span style="font-weight: normal !msorm;"><strong> d</strong></span><span style="font-weight: normal !msorm;"><strong>ụ</strong></span><span style="font-weight: normal !msorm;"><strong>ng</strong></span><span style="font-weight: normal !msorm;"><strong>, lưu gi</strong></span><span style="font-weight: normal !msorm;"><strong>ữ</strong></span><span style="font-weight: normal !msorm;"><strong> ho</strong></span><span style="font-weight: normal !msorm;"><strong>ặ</strong></span><span style="font-weight: normal !msorm;"><strong>c </strong></span><span style="font-weight: normal !msorm;"><strong>v</strong></span><span style="font-weight: normal !msorm;"><strong>ậ</strong></span><span style="font-weight: normal !msorm;"><strong>n</strong></span><span style="font-weight: normal !msorm;"><strong> chuy</strong></span><span style="font-weight: normal !msorm;"><strong>ể</strong></span><span style="font-weight: normal !msorm;"><strong>n s</strong></span><span style="font-weight: normal !msorm;"><strong>ả</strong></span><span style="font-weight: normal !msorm;"><strong>n ph</strong></span><span style="font-weight: normal !msorm;"><strong>ẩ</strong></span><span style="font-weight: normal !msorm;"><strong>m </strong></span><span style="font-weight: normal !msorm;"><strong>khôn</strong></span><span style="font-weight: normal !msorm;"><strong>g</strong></span><span style="font-weight: normal !msorm;"><strong> đúng cách </strong></span><span style="font-weight: normal !msorm;"><strong>có th</strong></span><span style="font-weight: normal !msorm;"><strong>ể</strong></span> <span style="font-weight: normal !msorm;"><strong>gây</strong></span><span style="font-weight: normal !msorm;"><strong> t</strong></span><span style="font-weight: normal !msorm;"><strong>ổ</strong></span><span style="font-weight: normal !msorm;"><strong>n </strong></span><span style="font-weight: normal !msorm;"><strong>thương </strong></span><span style="font-weight: normal !msorm;"><strong>đ</strong></span><span style="font-weight: normal !msorm;"><strong>ế</strong></span><span style="font-weight: normal !msorm;"><strong>n </strong></span><span style="font-weight: normal !msorm;"><strong>bên ngoài </strong></span><span style="font-weight: normal !msorm;"><strong>s</strong></span><span style="font-weight: normal !msorm;"><strong>ả</strong></span><span style="font-weight: normal !msorm;"><strong>n ph</strong></span><span style="font-weight: normal !msorm;"><strong>ẩ</strong></span><span style="font-weight: normal !msorm;"><strong>m như t</strong></span><span style="font-weight: normal !msorm;"><strong>ổ</strong></span><span style="font-weight: normal !msorm;"><strong>n thương </strong></span><span style="font-weight: normal !msorm;"><strong>Girdle, Culet,</strong></span><span style="font-weight: normal !msorm;"><strong> Table,</strong></span><span style="font-weight: normal !msorm;"><strong>… </strong></span><span style="font-weight: normal !msorm;"><strong>tr</strong></span><span style="font-weight: normal !msorm;"><strong>ự</strong></span><span style="font-weight: normal !msorm;"><strong>c ti</strong></span><span style="font-weight: normal !msorm;"><strong>ế</strong></span><span style="font-weight: normal !msorm;"><strong>p </strong></span><span style="font-weight: normal !msorm;"><strong>ả</strong></span><span style="font-weight: normal !msorm;"><strong>nh hư</strong></span><span style="font-weight: normal !msorm;"><strong>ở</strong></span><span style="font-weight: normal !msorm;"><strong>ng đ</strong></span><span style="font-weight: normal !msorm;"><strong>ế</strong></span><span style="font-weight: normal !msorm;"><strong>n c</strong></span><span style="font-weight: normal !msorm;"><strong>ấ</strong></span><span style="font-weight: normal !msorm;"><strong>p đ</strong></span><span style="font-weight: normal !msorm;"><strong>ộ</strong></span><span style="font-weight: normal !msorm;"><strong> tinh khi</strong></span><span style="font-weight: normal !msorm;"><strong>ế</strong></span><span style="font-weight: normal !msorm;"><strong>t (Clarity) và c</strong></span><span style="font-weight: normal !msorm;"><strong>ấ</strong></span><span style="font-weight: normal !msorm;"><strong>p đ</strong></span><span style="font-weight: normal !msorm;"><strong>ộ</strong></span><span style="font-weight: normal !msorm;"><strong> mài bóng (Polish). Do đó n</strong></span><span style="font-weight: normal !msorm;"><strong>ế</strong></span><span style="font-weight: normal !msorm;"><strong>u</strong></span><span style="font-weight: normal !msorm;"><strong> ngư</strong></span><span style="font-weight: normal !msorm;"><strong>ờ</strong></span><span style="font-weight: normal !msorm;"><strong>i tiêu dùng</strong></span> <span style="font-weight: normal !msorm;"><strong>trao đ</strong></span><span style="font-weight: normal !msorm;"><strong>ổ</strong></span><span style="font-weight: normal !msorm;"><strong>i mua bán </strong></span><span style="font-weight: normal !msorm;"><strong>s</strong></span><span style="font-weight: normal !msorm;"><strong>ả</strong></span><span style="font-weight: normal !msorm;"><strong>n ph</strong></span><span style="font-weight: normal !msorm;"><strong>ẩ</strong></span><strong>m không<span style="font-weight: normal !msorm;"> đư</span><span style="font-weight: normal !msorm;">ợ</span><span style="font-weight: normal !msorm;">c giám đ</span><span style="font-weight: normal !msorm;">ị</span><span style="font-weight: normal !msorm;">nh ho</span><span style="font-weight: normal !msorm;">ặ</span><span style="font-weight: normal !msorm;">c ch</span><span style="font-weight: normal !msorm;">ỉ</span><span style="font-weight: normal !msorm;"> d</span><span style="font-weight: normal !msorm;">ự</span><span style="font-weight: normal !msorm;">a</span><span style="font-weight: normal !msorm;"> vào mã s</span><span style="font-weight: normal !msorm;">ố</span><span style="font-weight: normal !msorm;"> c</span><span style="font-weight: normal !msorm;">ạ</span><span style="font-weight: normal !msorm;">nh có trên viên đá thì có th</span><span style="font-weight: normal !msorm;">ể</span><span style="font-weight: normal !msorm;"> g</span><span style="font-weight: normal !msorm;">ặ</span><span style="font-weight: normal !msorm;">p nh</span><span style="font-weight: normal !msorm;">ữ</span><span style="font-weight: normal !msorm;">ng r</span><span style="font-weight: normal !msorm;">ủ</span><span style="font-weight: normal !msorm;">i ro sau:</span></strong></p>
<p style="text-align: justify;">&#8211; Mua phải những sản phẩm bị trầy xước, tổn thương bên ngoài dẫn đến chất lượng thực tế sản phẩm không còn đúng với kết quả giám định tương ứng với mã số cạnh.</p>
<p style="text-align: justify;">&#8211; Nếu những tổn thương, trầy xước được chỉnh sửa hết thì những thông số kỹ thuật như: tỷ lệ cắt mài (proportion), trọng lượng (carat weight), kích thước (Size), cấp độ đối xứng (symmetry) có thể sẽ sai lệch so với kết quả giám định tương ứng với mã số cạnh. Trường hợp này khách hàng có thể sẽ mua phải những sản phẩm không đúng với giá trị kinh tế mà mình bỏ ra.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 50%;"><img decoding="async" loading="lazy" class="wp-image-1631 aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/03/327926475_974522053534776_2707824283770813828_n-300x164.jpg" alt="" width="360" height="208" /></td>
<td style="width: 50%;"><img decoding="async" loading="lazy" class=" wp-image-1633 aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/03/Untitled-2.jpg" alt="" width="353" height="192" /></td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%; text-align: justify;">Trong quá trình trao đổi mua bán khách hàng thường được xem mã số cạnh sản phẩm của mình, đối với những tổn thương ngay mã số cạnh hoặc gần đó thì khách hàng có thể dễ dàng phát hiện, tuy nhiên những tổn thương ở vị trí khác thì rất khó phát hiện như viên đá bị tổn thương culet ở hình trái.</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;"><span style="font-weight: normal !msorm;"><strong>2. T</strong></span><span style="font-weight: normal !msorm;"><strong>rong quá trình </strong></span><span style="font-weight: normal !msorm;"><strong>giám</strong></span><span style="font-weight: normal !msorm;"><strong> đ</strong></span><span style="font-weight: normal !msorm;"><strong>ị</strong></span><span style="font-weight: normal !msorm;"><strong>nh – phân c</strong></span><span style="font-weight: normal !msorm;"><strong>ấ</strong></span><span style="font-weight: normal !msorm;"><strong>p th</strong></span><span style="font-weight: normal !msorm;"><strong>ự</strong></span><span style="font-weight: normal !msorm;"><strong>c t</strong></span><span style="font-weight: normal !msorm;"><strong>ế</strong></span><span style="font-weight: normal !msorm;"><strong> s</strong></span><span style="font-weight: normal !msorm;"><strong>ả</strong></span><span style="font-weight: normal !msorm;"><strong>n ph</strong></span><span style="font-weight: normal !msorm;"><strong>ẩ</strong></span><span style="font-weight: normal !msorm;"><strong>m, chúng tôi g</strong></span><span style="font-weight: normal !msorm;"><strong>ặ</strong></span><span style="font-weight: normal !msorm;"><strong>p</strong></span><span style="font-weight: normal !msorm;"><strong> nhi</strong></span><span style="font-weight: normal !msorm;"><strong>ề</strong></span><span style="font-weight: normal !msorm;"><strong>u</strong></span><span style="font-weight: normal !msorm;"><strong> các tình hu</strong></span><span style="font-weight: normal !msorm;"><strong>ố</strong></span><span style="font-weight: normal !msorm;"><strong>ng </strong></span><span style="font-weight: normal !msorm;"><strong>đ</strong></span><span style="font-weight: normal !msorm;"><strong>ặ</strong></span><span style="font-weight: normal !msorm;"><strong>c bi</strong></span><span style="font-weight: normal !msorm;"><strong>ệ</strong></span><span style="font-weight: normal !msorm;"><strong>t </strong></span><span style="font-weight: normal !msorm;"><strong>v</strong></span><span style="font-weight: normal !msorm;"><strong>ề</strong></span><span style="font-weight: normal !msorm;"><strong> s</strong></span><span style="font-weight: normal !msorm;"><strong>ả</strong></span><span style="font-weight: normal !msorm;"><strong>n ph</strong></span><span style="font-weight: normal !msorm;"><strong>ẩ</strong></span><span style="font-weight: normal !msorm;"><strong>m có mã s</strong></span><span style="font-weight: normal !msorm;"><strong>ố</strong></span><span style="font-weight: normal !msorm;"><strong> c</strong></span><span style="font-weight: normal !msorm;"><strong>ạ</strong></span><span style="font-weight: normal !msorm;"><strong>nh c</strong></span><span style="font-weight: normal !msorm;"><strong>ủ</strong></span><span style="font-weight: normal !msorm;"><strong>a các hãng giám đ</strong></span><span style="font-weight: normal !msorm;"><strong>ị</strong></span><span style="font-weight: normal !msorm;"><strong>nh nư</strong></span><span style="font-weight: normal !msorm;"><strong>ớ</strong></span><span style="font-weight: normal !msorm;"><strong>c ngoài (GIA, HRD, IGI,…) v</strong></span><span style="font-weight: normal !msorm;"><strong>ớ</strong></span><span style="font-weight: normal !msorm;"><strong>i k</strong></span><span style="font-weight: normal !msorm;"><strong>ế</strong></span><span style="font-weight: normal !msorm;"><strong>t qu</strong></span><span style="font-weight: normal !msorm;"><strong>ả</strong></span><span style="font-weight: normal !msorm;"><strong> giám đ</strong></span><span style="font-weight: normal !msorm;"><strong>ị</strong></span><span style="font-weight: normal !msorm;"><strong>nh kèm theo là kim cương thiên nhiên </strong></span><span style="font-weight: normal !msorm;"><strong>ch</strong></span><span style="font-weight: normal !msorm;"><strong>ấ</strong></span><span style="font-weight: normal !msorm;"><strong>t lư</strong></span><span style="font-weight: normal !msorm;"><strong>ợ</strong></span><span style="font-weight: normal !msorm;"><strong>ng 4Cs cao nhưng</strong></span><span style="font-weight: normal !msorm;"><strong>:</strong></span></p>
<p style="text-align: justify;">&#8211; Kết quả giám định thực tế tại PNJLAB, ngoài những trường hợp có kết quả trùng khớp với giấy giám định nước ngoài (GIA, HRD, IGI,..) PNJLAB vẫn thường xuyên gặp những sản phẩm có chất lượng 4Cs không đúng/hoặc thấp hơn so với kết quả giám định liên quan đến mã số cạnh. Vd: Kết quả giám định của sản phẩm theo mã số cạnh của các hãng nước ngoài là VVS1/F nhưng kết quả giám định tại PNJLAB lại là VS1/I</p>
<p style="text-align: justify;">&#8211; Kết quả giám định thực tế tại PNJLAB là kim cương tổng hợp &#8211; Lab-grown/Synthetic diamond (CVD, HPHT)</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 50%;"><img decoding="async" loading="lazy" class="wp-image-1635 aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/03/img200-300x165.jpg" alt="" width="349" height="194" /></td>
<td style="width: 50%;"><a href="http://pnjlab.com.vn/wp-content/uploads/2023/03/img872.bmp"><img decoding="async" loading="lazy" class="wp-image-1637 aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/03/img872.bmp" alt="" width="348" height="178" /></a></td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%; text-align: justify;">Kim cương tổng hợp CVD (hình trái) và HPHT (hình phải) có mã số cạnh và kèm giấy giám định kim cương thiên nhiên của các hãng nước ngoài được gửi giám định tại PNJLAB.</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">&#8211; Kết quả giám định thực tế tại PNJLAB là kim cương đã trải qua quá trình xử lý độ tinh khiết (Clarity) hoặc xử lý màu sắc (Color)</p>
<p style="text-align: justify;">&#8211; Thậm chí kết quả giám định thực tế tại PNJLAB là đá giả kim cương &#8211; Simulant Diamond (CZ hoặc Moissanite).</p>
<p style="text-align: justify;">Qua đó, từ những thực tế gặp phải nêu trên, chúng tôi mong muốn gửi đến Quý Khách hàng những lưu ý nêu trên để gìn giữ trong việc sử dụng và lựa chọn được những sản phẩm tốt nhất cho Quý Khách hàng./.</p>
<p style="text-align: right;"><span style="font-size: 100%;">Nguồn: PNJLAB</span></p>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/nhung-luu-y-khuyen-nghi-khi-su-dung-va-kinh-doanh-kim-cuong-thien-nhien/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Giám định kim cương đá quý tại PNJLAB</title>
		<link>https://pnjlab.com.vn/giam-dinh-kim-cuong-da-quy-tai-pnjlab/</link>
					<comments>https://pnjlab.com.vn/giam-dinh-kim-cuong-da-quy-tai-pnjlab/#respond</comments>
		
		<dc:creator><![CDATA[Trần Tân]]></dc:creator>
		<pubDate>Tue, 07 Mar 2023 01:03:06 +0000</pubDate>
				<category><![CDATA[Tin tức]]></category>
		<guid isPermaLink="false">https://pnjlab.com.vn/?p=1619</guid>

					<description><![CDATA[Chiếm 70% thị phần giám định kim cương và các loại đá quý tại Việt Nam là Công ty TNHH Một thành viên Giám định PNJ (PNJLab) do PNJ thành lập năm 1998. PNJLab được PNJ trang bị những thiết bị kiểm định tiên tiến nhất trên thế giới. Trải qua gần 20 năm trên...]]></description>
										<content:encoded><![CDATA[<p style="text-align: justify;">Chiếm 70% thị phần giám định kim cương và các loại đá quý tại Việt Nam là Công ty TNHH Một thành viên Giám định PNJ (PNJLab) do PNJ thành lập năm 1998.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="wp-image-1620 size-full aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/03/Lab-2-419b7.jpg" alt="" width="500" height="312" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/03/Lab-2-419b7.jpg 500w, https://pnjlab.com.vn/wp-content/uploads/2023/03/Lab-2-419b7-300x187.jpg 300w" sizes="(max-width: 500px) 100vw, 500px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: center;">PNJLab được PNJ trang bị những thiết bị kiểm định tiên tiến nhất trên thế giới.</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Trải qua gần 20 năm trên thị trường, PNJLab đã tạo dựng được uy tín trên thị trường kiểm định kim cương và được giới kinh doanh đá quý đánh giá cao.</p>
<p style="text-align: justify;">Đặc biệt, PNJLab là đơn vị đầu tiên trong lĩnh vực kiểm định đá quý tại Việt Nam được cấp chứng nhận ISO 17025, đây là chứng nhận được tổ chức Tiêu chuẩn hóa Quốc tế (International Organization for Standardization &#8211; ISO) cấp cho những đơn vị thuộc lĩnh vực kiểm định, thí nghiệm có năng lực kỹ thuật và có thể cung cấp các kết quả có giá trị về mặt kỹ thuật.</p>
<p style="text-align: justify;">Với sự chứng nhận này, chất lượng “giấy khai sinh” của PNJLab có giá trị và được công nhận trên toàn thế giới.</p>
<p style="text-align: justify;">“Điểm mạnh của PNJLab là đã có nhiều năm kinh nghiệm trong ngành kiểm định đá quý và đá màu ở Việt Nam và đang dẫn đầu thị trường này. Được công ty PNJ đầu tư trang thiết bị hiện đại cộng với nguồn nhân lực có chuyên môn được đào tạo bài bản trong và ngoài nước, PNJLab áp dụng tiêu chuẩn phân cấp và kiểm định đá quý rất khắt khe tương đương với GIA (Viện ngọc học Hoa Kỳ &#8211; đơn vị kiểm định hàng đầu thế giới). Mỗi tháng, PNJLab kiểm định hơn 10.000 sản phẩm, trong đó đa số là kim cương, có những sản phẩm trị giá cả triệu đô la Mỹ”, ông Đặng Ngọc Thảo &#8211; Giám đốc công ty PNJLab, cho biết.</p>
<p style="text-align: justify;">Mới nhất, đầu năm 2016 công ty PNJ vừa trang bị cho PNJLab một loạt các thiết bị kiểm định mới nhập từ Viện Ngọc học Hoa Kỳ (GIA) và De Beer (công ty kim cương hàng đầu thế giới hiện nay). Đó là các máy Diamond View, Diamond Check, D-Sure… có thể nhận biết kim cương thiên nhiên, đá thay thế kim cương, kim cương nhân tạo … với trị giá trên 100.000 USD.</p>
<p style="text-align: justify;">Trả lời câu hỏi vì sao PNJLab là địa chỉ giám định kim cương đá quý uy tín nhất ở Việt Nam hiện nay, ông Thảo khẳng định: “PNJLab quy tụ đủ ba yếu tố: chất lượng kiểm định hàng đầu; luôn giữ uy tín với khách hàng; đội ngũ nhân sự có lòng đam mê với nghề và giữ vững đạo đức nghề nghiệp. Thiếu một trong ba yếu tố này thì PNJLab không thể tồn tại trên thị trường.</p>
<p style="text-align: justify;">Cái khó nhất đối với một công ty kiểm định là phải luôn giữ thái độ trung lập và trung thực, không bị tác động khách quan lẫn chủ quan, không bị mua chuộc, như vậy mới bảo vệ được người tiêu dùng và người kinh doanh đá quý có lương tâm. Trong nghề này, quan trọng nhất là niềm tin của khách hàng. Làm sao để khách hàng tin mình? Chỉ có cách là tay nghề giỏi, giữ uy tín và có đạo đức nghề nghiệp”.</p>
<p style="text-align: justify;">Ngoài các dịch vụ giám định, tư vấn về kim cương; giám định, tư vấn về các loại đá quý, đá bán quý; giám định, tư vấn về kim loại quý, kim loại màu; khắc chữ trên kim cương theo yêu cầu…</p>
<p style="text-align: justify;">PNJLab còn có chức năng kiểm định vàng trang sức trên toàn quốc theo như cấp phép của Tổng cục Tiêu chuẩn Đo lường Chất lượng thuộc Bộ Khoa học và Công nghệ vào tháng 2/2015.</p>
<p style="text-align: justify;">Theo đó, kết quả xác định hàm lượng vàng trang sức từ PNJL sẽ được xem là căn cứ để giải quyết những tranh chấp về tuổi vàng phát sinh trên thị trường.</p>
<p style="text-align: right;"><span style="font-size: 90%;">Nguồn:https://vneconomy.vn/giam-dinh-kim-cuong-da-quy-tai-pnjlab.htm</span></p>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/giam-dinh-kim-cuong-da-quy-tai-pnjlab/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>XU HƯỚNG SỬ DỤNG VÀ GIÁM ĐỊNH ĐÁ MÀU</title>
		<link>https://pnjlab.com.vn/xu-huong-su-dung-va-giam-dinh-da-mau/</link>
					<comments>https://pnjlab.com.vn/xu-huong-su-dung-va-giam-dinh-da-mau/#respond</comments>
		
		<dc:creator><![CDATA[Đặng Thị Ngọc Chinh]]></dc:creator>
		<pubDate>Fri, 17 Feb 2023 09:44:11 +0000</pubDate>
				<category><![CDATA[Tin tức]]></category>
		<guid isPermaLink="false">https://pnjlab.com.vn/?p=1572</guid>

					<description><![CDATA[Từ xa xưa con người đã biết sử dụng kim loại và các loại đá quý để làm trang sức và đặc biệt nó còn có ý nghĩa trong việc lưu giữ tài sản. Ngày nay, cùng với sự phát triển của xã hội các loại đá quý ngày càng được sử dụng nhiều hơn...]]></description>
										<content:encoded><![CDATA[<p style="text-align: justify;">Từ xa xưa con người đã biết sử dụng kim loại và các loại đá quý để làm trang sức và đặc biệt nó còn có ý nghĩa trong việc lưu giữ tài sản. Ngày nay, cùng với sự phát triển của xã hội các loại đá quý ngày càng được sử dụng nhiều hơn trong ngành công nghiệp thời trang nói chung và trang sức nói riêng, theo đó các loại đá nhân tạo, đá thay thế, đá xử lý cũng phát triển theo. Vì vậy người tiêu dùng thường tìm đến các công ty giám định uy tín để tránh mua phải các sản phẩm đá quý giả hoặc kém chất lượng.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 50%; text-align: justify;"><span style="font-size: 110%;">Cẩm thạch là một trong những loại đá quý lâu đời nhất và cho đến nay thì chúng vẫn được yêu thích, sử dụng rất phổ biến, đặc biệt là các nước châu Á, trong đó có Việt Nam chúng ta. Đây được coi là loại đá tinh tế, tao nhã, hàm chứa những đức tính cao đẹp mà con người luôn theo đuổi: cao  thượng, chân thành, trí tuệ và nhân ái. Chúng còn được cho là mang lại vận khí tốt, sức khỏe, tiền tài, phú quý, may mắn và cát tường cho tín chủ. Các sản phẩm Cẩm thạch còn phù hợp cho cả nam và nữ với tính ứng dụng cao vì thế trên thị trường các sản phẩm Cẩm thạch chiếm tỷ lệ nhất định. Hiện nay, tại Giám định PNJ dịch vụ giám định Cẩm thạch chiếm tỷ lệ cao với đa dạng các loại sản phẩm như vòng tay, lắc tay, nhẫn, bông tai, mề đay, tượng ….</span></td>
<td style="width: 50%;">&nbsp;</p>
<p><img decoding="async" loading="lazy" class="alignnone size-full wp-image-1573 aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/02/CT.png" alt="" width="260" height="171" /><em style="font-family: inherit; font-size: 80%;">                                              Các sản phẩm Cẩm thạch                                                                   ngày càng đa dạng và phong phú về kiểu dáng</em></td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 100%; height: 172px;">
<tbody>
<tr style="height: 172px;">
<td style="width: 50%; height: 172px;">&nbsp;</p>
<p style="text-align: center;"><img decoding="async" loading="lazy" class="alignnone size-full wp-image-1575 aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/02/DQ.png" alt="" width="163" height="140" /></p>
<p style="text-align: center;"><span style="font-size: 80%;"><em>Bộ nữ trang chế tác từ vàng đính Ruby</em></span></p>
</td>
<td style="width: 50%; height: 172px; text-align: justify;"><span style="font-size: 110%;">Xu hướng trang sức 2023 hướng đến sự bùng nổ, cá tính và táo bạo với các thiết kế đa dạng, phong phú  cùng các loại đá quý, đá bán quý như Ruby, Sapphire, Emerald, Citrine, Topaz… được ứng dụng phổ biến trong các sản phẩm nữ trang phù hợp với mọi nhu cầu của khách hàng từ bình dân đến cao cấp, từ phong cách cổ điển đến hiện đại. Các sản phẩm này chủ yếu gửi giám định dưới dạng viên rời hoặc đính trên kim loại, ngoài ra còn các sản phẩm khác như lắc tay, chuỗi, mề đay, tượng…</span></td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 50%; text-align: justify;"><span style="font-size: 110%;">Trang sức Ngọc trai thực sự quay trở lại một cách ngoạn mục và thời thượng. Không còn những định kiến cho rằng Ngọc trai chỉ phù hợp cho người trung niên, nó trở thành xu hướng với vô vàn kiểu dáng và biến tấu khác nhau, phù hợp với mọi lứa tuổi. Không chỉ giới hạn trong việc xâu chuỗi để tạo thành các sản phẩm như lắc tay và dây chuyền, mà Ngọc trai còn được các nghệ nhân chế tác và kết hợp với các loại đá màu khác nhau để tạo thành các sản phẩm độc đáo, thu hút ánh nhìn của người tiêu dùng. Khách hàng cũng quan tâm đến sản phẩm Ngọc trai mà họ đang sử dụng liệu có chất lượng tốt như mong đợi, vì vậy số lượng khách hàng gửi giám định Ngọc trai tại PNJLAB trong các năm qua có xu hướng liên tục tăng cao.</span></td>
<td style="width: 50%;">&nbsp;</p>
<p><img decoding="async" loading="lazy" class="size-full wp-image-1581 aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/02/nt-1.png" alt="" width="293" height="300" /></p>
<p style="text-align: center;"><span style="font-size: 80%;"><em>                        </em></span></p>
<p style="text-align: center;"><span style="font-size: 80%;"><em>                           Ngọc trai được chạm khắc và đính kèm đá màu.                          </em></span><span style="font-size: 80%;"><em>Nguồn: Chi Huynh/GIA G&amp;G, Winter 2022, Vol.58, No.4</em></span></p>
</td>
</tr>
</tbody>
</table>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/xu-huong-su-dung-va-giam-dinh-da-mau/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
