<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	 xmlns:media="http://search.yahoo.com/mrss/" >

<channel>
	<title>Pnjlab</title>
	<atom:link href="https://pnjlab.com.vn/feed/?lang=en" rel="self" type="application/rss+xml" />
	<link>https://pnjlab.com.vn/?lang=en</link>
	<description>Công Ty TNHH Một Thành Viên Giám Định PNJ</description>
	<lastBuildDate>Mon, 07 Nov 2022 04:30:27 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.1.6</generator>

<image>
	<url>https://pnjlab.com.vn/wp-content/uploads/2022/10/pnj-icon.png</url>
	<title>Pnjlab</title>
	<link>https://pnjlab.com.vn/?lang=en</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Những cảnh báo về tình hình kim cương gửi giám định tại PNJLAB &#8211; EN</title>
		<link>https://pnjlab.com.vn/bao-the-huyen-bi-trong-topaz-copy-copy-2/?lang=en</link>
					<comments>https://pnjlab.com.vn/bao-the-huyen-bi-trong-topaz-copy-copy-2/?lang=en#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Tue, 11 Oct 2022 19:26:25 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://lab.pnj.io/bao-the-huyen-bi-trong-topaz-copy-copy-2/</guid>

					<description><![CDATA[Đôi khi, chúng ta tình cờ bắt gặp một vấn đề nhất định nào đó của bao thể mà ta không thể giải quyết được. Cũng như trong trường hợp của viên Topaz từ vùng Elahera, Sri Lanka nặng 5.10 carat như đã thấy ở hình trái là một minh chứng. Đây là tinh thể...]]></description>
										<content:encoded><![CDATA[<p>Đôi khi, chúng ta tình cờ bắt gặp một vấn đề nhất định nào đó của bao thể mà ta không thể giải quyết được. Cũng như trong trường hợp của viên Topaz từ vùng Elahera, Sri Lanka nặng 5.10 carat như đã thấy ở hình trái là một minh chứng. Đây là tinh thể Topaz không màu, trong suốt, được mua ở Kusum S. Naotune (Colombo, Sri Lanka), bên trong nó nổi bật là bao thể trong suốt màu lục nhạt và một hình hoa được kết cụm lại bởi những bao thể tấm dẹp màu đen đục ánh bạc (hình phải). Màu sắc và các đặc điểm của bao thể màu xanh lục này gợi ý đây có thể là khoáng vật fluorite, điều này đã được xác thực dưới vi phổ laser Raman. ( laser Raman micro-spetrometry).</p>
<p><img decoding="async" loading="lazy" class="aligncenter size-full wp-image-201" src="http://lab.pnj.io/wp-content/uploads/2022/10/image-18-6.jpg" alt="" width="810" height="549" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/10/image-18-6.jpg 810w, https://pnjlab.com.vn/wp-content/uploads/2022/10/image-18-6-300x203.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/10/image-18-6-768x521.jpg 768w" sizes="(max-width: 810px) 100vw, 810px" /></p>
<p style="text-align: left;">Viên Topaz trong suốt, nặng 5.10 carat ở vùng Sri Lankan có cảnh tượng bao thể bên trong rất nghệ thuật (hình trái). Trong khi các tinh thể bao thể màu xanh lục nhạt được xác định là Fluorit khi phân tích dưới phổ Raman, thì các bao thể dạng tấp dẹp, đen đục rất khó để xác định. Hình chụp bởi Nathan Renfo, thị trường kính 5.87 mm.(hình phải)</p>
<p>Phân tích những bao thể dẹp này là một vấn đề khó hơn nhiều. Các nhân viên ở phòng giám định ngọc học GIA Carlsbad đã dùng phổ Raman để xác định, tuy nhiên các bao thể này ở khá sâu, không thể bắt được bất kỳ tín hiệu nào ngoại trừ đường quang phổ của chính viên Topaz. Phổ huỳnh quang tia X tán xạ năng lượng EDXRF cũng đã cố gắng tìm ra tín hiệu của thành phần các nguyên tố hóa học trong nó, nhưng vẫn không có một thông tin hữu ích nào được tìm thấy.</p>
<p>Rõ ràng là các phân tích phá hủy mẫu là cần thiết để có thể xác định chính xác được chúng. Tuy nhiên đây là lần đầu tiên thấy sự kết hợp độc đáo của các bao thể, vì vậy chúng tôi quyết định giữ nguyên, không phá hủy mẫu để sử dụng cho các nghiên cứu, thăm dò khác trong tương lai. Chắc chắn có một ngày khi công nghệ phát triển hơn sẽ cho phép xác định được những bao thể bí ẩn này. Còn hiện tại được ngắm nhìn kiệt tác bao thể của chúng cũng đã đủ rồi.</p>
<p style="text-align: right;">Dịch giả: Hảo Vũ<br />
Tác giả: John I. Koivula &#8211; GIA Carlsbad, California.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/bao-the-huyen-bi-trong-topaz-copy-copy-2/feed/?lang=en</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
