<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	 xmlns:media="http://search.yahoo.com/mrss/" >

<channel>
	<title>Kim cương &#8211; Pnjlab</title>
	<atom:link href="https://pnjlab.com.vn/kim-cuong/feed/" rel="self" type="application/rss+xml" />
	<link>https://pnjlab.com.vn</link>
	<description>Công Ty TNHH Một Thành Viên Giám Định PNJ</description>
	<lastBuildDate>Tue, 23 May 2023 04:12:30 +0000</lastBuildDate>
	<language>vi-VN</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.1.6</generator>

<image>
	<url>https://pnjlab.com.vn/wp-content/uploads/2022/10/pnj-icon.png</url>
	<title>Kim cương &#8211; Pnjlab</title>
	<link>https://pnjlab.com.vn</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>CẤP ĐỘ CẮT MÀI – CUT GRADE</title>
		<link>https://pnjlab.com.vn/cap-do-cat-mai-cut-grade/</link>
					<comments>https://pnjlab.com.vn/cap-do-cat-mai-cut-grade/#respond</comments>
		
		<dc:creator><![CDATA[Trần Tân]]></dc:creator>
		<pubDate>Mon, 22 May 2023 06:52:29 +0000</pubDate>
				<category><![CDATA[Phân cấp Kim cương]]></category>
		<guid isPermaLink="false">https://pnjlab.com.vn/?p=1705</guid>

					<description><![CDATA[Cắt mài kim cương có thể hiểu đơn giản là hình dạng và kiểu cắt mài (hình dạng các mặt giác) của nó. Có nhiều kiểu cắt kim cương khác nhau, cho đến nay phổ biến nhất vẫn là kiểu cắt tròn round brilliant. Những viên kim cương có hình dạng và kiểu cắt khác...]]></description>
										<content:encoded><![CDATA[<p style="text-align: justify;">Cắt mài kim cương có thể hiểu đơn giản là hình dạng và kiểu cắt mài (hình dạng các mặt giác) của nó. Có nhiều kiểu cắt kim cương khác nhau, cho đến nay phổ biến nhất vẫn là kiểu cắt tròn round brilliant. Những viên kim cương có hình dạng và kiểu cắt khác với round brilliant được gọi là những kiểu cắt lạ măt hay fancy cut.</p>
<p style="text-align: justify;">Trong phân cấp kim cương, cắt mài là một trong 4 tiêu chuẩn 4C đề cập đến chất lượng cắt tổng thể của viên kim cương. Phân cấp chất lượng cắt mài bao gồm đánh giá tỷ lệ của viên kim cương, tính đối xứng và cấp độ mài bóng của viên đá. Chỉ áp dụng đối với những viên kim cương round brilliant nằm trong dải màu từ D đến Z và được phân cấp theo thang điểm từ Excellent, Very good, Good, Fair đến Poor.</p>
<p style="text-align: justify;"><strong>ĐẶC ĐIỂM KIM CƯƠNG TƯƠNG ỨNG TỪNG CẤP ĐỘ CẮT MÀI</strong></p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 71.2449%;"><span style="font-size: 115%;"><strong>Excellent</strong>:</span></p>
<ul>
<li style="text-align: justify;"><span style="font-size: 115%;">Viên kim cương rất sáng, sống động. Các vùng sáng phân bố đồng đều ở phần trên viên đá mà không có vùng tối nào. Khu vực ngay bên dưới mặt bàn, đặc biệt là xung quanh tim đáy vẫn sáng.</span></li>
<li style="text-align: justify;"><span style="font-size: 115%;">Lửa mạnh, xuất hiện hầu hết trên các mặt giác ở phần trên viên đá.</span></li>
<li style="text-align: justify;"><span style="font-size: 115%;">Chất lượng mài bóng và đối xứng từ Excellent đến Very Good.</span></li>
</ul>
</td>
<td style="width: 28.7551%;"><img decoding="async" loading="lazy" class="size-full wp-image-1706 aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/EX.png" alt="" width="206" height="155" /></td>
</tr>
<tr>
<td style="width: 71.2449%;"><span style="font-size: 115%;"><strong>Very good</strong>:</span></p>
<ul>
<li style="text-align: justify;"><span style="font-size: 115%;">Viên kim cương sáng, sống động. Các vùng sáng phân bố đều ở phần trên viên đá và có rất ít vùng tối. Khu vực ngay bên dưới mặt bàn vẫn sáng.</span></li>
<li style="text-align: justify;"><span style="font-size: 115%;">Lửa từ mạnh đến vừa, xuất hiện nhiều ở các mặt giác phần trên.</span></li>
<li style="text-align: justify;"><span style="font-size: 115%;">Chất lượng mài bóng và đối xứng từ Excellent đến Good.</span></li>
</ul>
</td>
<td style="width: 28.7551%;"><img decoding="async" loading="lazy" class="size-full wp-image-1708 aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/VG.png" alt="" width="207" height="155" /></td>
</tr>
<tr>
<td style="width: 71.2449%;"><span style="font-size: 115%;"><strong>Good</strong>:</span></p>
<ul>
<li style="text-align: justify;"><span style="font-size: 115%;">Viên kim cương hơi sống động, sự hiện diện của một số vùng tối làm giảm độ sáng của viên đá. Một nửa mặt giác ở phần trên và vùng xung quanh tim đáy hoặc cả hai có thể tối.</span></li>
<li style="text-align: justify;"><span style="font-size: 115%;">Lửa vừa phải, chỉ giới hạn ở các mặt của phần trên viên đá.</span></li>
<li style="text-align: justify;"><span style="font-size: 115%;">Chất lượng mài bóng và đối xứng từ Excellent đến Fair.</span></li>
</ul>
</td>
<td style="width: 28.7551%;"><img decoding="async" loading="lazy" class="size-full wp-image-1710 aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/G.png" alt="" width="206" height="164" /></td>
</tr>
<tr>
<td style="width: 71.2449%;"><span style="font-size: 115%;"><strong>Fair</strong>:</span></p>
<ul>
<li style="text-align: justify;"><span style="font-size: 115%;">Viên kim cương hơi tối chỉ có một số vùng sáng, ít sống động. Có thể có những chỗ tối hoặc mờ ở khu vực mặt bàn, xung quanh girdle hoặc cả hai. Viên kim cương khá kém hấp dẫn.</span></li>
<li style="text-align: justify;"><span style="font-size: 115%;">Lửa vừa phải đến thấp, chỉ giới hạn ở những khu vực nhỏ của phần trên viên đá.</span></li>
<li style="text-align: justify;"><span style="font-size: 115%;">Chất lượng mài bóng và đối xứng từ Excellent đến Fair.</span></li>
</ul>
</td>
<td style="width: 28.7551%;"><img decoding="async" loading="lazy" class="size-full wp-image-1712 aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/F.png" alt="" width="206" height="164" /></td>
</tr>
<tr>
<td style="width: 71.2449%;"><span style="font-size: 115%;"><strong>Poor</strong>:</span></p>
<ul>
<li style="text-align: justify;"><span style="font-size: 115%;">Viên kim cương rất tối và rất ít chỗ sáng, nhìn thiếu sức sống. Khu vực mặt bàn thường tối và vùng tối có thể mở rộng đến các mặt giác xung quanh. Viên kim cương trở nên cực kỳ kém hấp dẫn.</span></li>
<li style="text-align: justify;"><span style="font-size: 115%;">Lửa thấp hoặc xuất hiện rất ít trên viên đá.</span></li>
<li style="text-align: justify;"><span style="font-size: 115%;">Chất lượng mài bóng và đối xứng từ Excellent đến Poor.</span></li>
</ul>
</td>
<td style="width: 28.7551%;"><img decoding="async" loading="lazy" class="size-full wp-image-1714 aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/P.png" alt="" width="207" height="167" /></td>
</tr>
</tbody>
</table>
<p style="text-align: justify;"><strong>TỶ LỆ CẮT MÀI KIM CƯƠNG</strong></p>
<p style="text-align: justify;">Cấp độ cắt mài được đánh giá chủ yếu dựa trên sự kết hợp của các thông số tỷ lệ cắt mài và một số yếu tố trực quan.</p>
<p style="text-align: justify;">Hình bên dưới minh hoạ và cách xác định các tỷ lệ ảnh hưởng đến phân cấp cắt mài kim cương:</p>
<p><img decoding="async" loading="lazy" class="aligncenter wp-image-1728 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/1-1.png" alt="" width="340" height="217" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/05/1-1.png 340w, https://pnjlab.com.vn/wp-content/uploads/2023/05/1-1-300x191.png 300w" sizes="(max-width: 340px) 100vw, 340px" /></p>
<p><strong>Total depth</strong>: bề dày của kim cương được quy ra phần trăm so với đường kính trung bình viên đá.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="size-medium wp-image-1718 aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/11-300x217.png" alt="" width="300" height="217" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/05/11-300x217.png 300w, https://pnjlab.com.vn/wp-content/uploads/2023/05/11.png 543w" sizes="(max-width: 300px) 100vw, 300px" /></td>
</tr>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="size-medium wp-image-1720 aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/Total-depth-300x43.jpg" alt="" width="300" height="43" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/05/Total-depth-300x43.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Total-depth-1024x147.jpg 1024w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Total-depth-768x110.jpg 768w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Total-depth.jpg 1216w" sizes="(max-width: 300px) 100vw, 300px" /></td>
</tr>
</tbody>
</table>
<p><strong>Table size</strong>: kích thước trung bình của mặt bàn được quy ra phần trăm so với đường kính trung bình viên đá.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="wp-image-1726 size-full aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/Table-size-1.jpg" alt="" width="602" height="217" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/05/Table-size-1.jpg 602w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Table-size-1-300x108.jpg 300w" sizes="(max-width: 602px) 100vw, 602px" /></td>
</tr>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="size-medium wp-image-1724 aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/Table-300x49.jpg" alt="" width="300" height="49" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/05/Table-300x49.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Table-1024x169.jpg 1024w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Table-768x127.jpg 768w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Table.jpg 1091w" sizes="(max-width: 300px) 100vw, 300px" /></td>
</tr>
</tbody>
</table>
<p style="text-align: justify;"><strong>Star length</strong>: chiều dài giác sao được quy ra phần trăm so với khoảng cách từ girdle đến table</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="wp-image-1730 size-full aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/star-length.jpg" alt="" width="598" height="217" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/05/star-length.jpg 598w, https://pnjlab.com.vn/wp-content/uploads/2023/05/star-length-300x109.jpg 300w" sizes="(max-width: 598px) 100vw, 598px" /></td>
</tr>
</tbody>
</table>
<p><strong>Crown angle</strong> là góc đo giữa mặt phẳng chứa giác bezel  và mặt table.</p>
<p style="text-align: justify;"><strong>Crown height</strong> là chiều cao phần trên của viên kim cương, được quy ra phần trăm so với đường kính trung bình viên đá.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="wp-image-1732 size-full aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/Crown-height-angle.jpg" alt="" width="732" height="217" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/05/Crown-height-angle.jpg 732w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Crown-height-angle-300x89.jpg 300w" sizes="(max-width: 732px) 100vw, 732px" /></td>
</tr>
</tbody>
</table>
<p><strong>Gridle thickness: </strong>bề dày trung bình của gridle tại vị trí “hill” được quy ra phần trăm so với đường kính trung bình.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="wp-image-1734 size-full aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/Girdle.png" alt="" width="546" height="202" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/05/Girdle.png 546w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Girdle-300x111.png 300w" sizes="(max-width: 546px) 100vw, 546px" /></td>
</tr>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="wp-image-1736 size-full aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/Girdle-thickness.png" alt="" width="352" height="217" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/05/Girdle-thickness.png 352w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Girdle-thickness-300x185.png 300w" sizes="(max-width: 352px) 100vw, 352px" /></td>
</tr>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="wp-image-1738 aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/Girdle-thickness.jpg" alt="" width="388" height="49" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/05/Girdle-thickness.jpg 1522w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Girdle-thickness-300x38.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Girdle-thickness-1024x129.jpg 1024w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Girdle-thickness-768x97.jpg 768w" sizes="(max-width: 388px) 100vw, 388px" /></td>
</tr>
</tbody>
</table>
<p style="text-align: justify;"><strong>Pavilion depth</strong> là độ sâu của pavilion (đo từ culet tới điểm giao nhau của các giác pavilion main và girdle) được quy ra phần trăm so với đường kính trung bình.</p>
<p><strong>Pavilion angle </strong>là góc hợp bởi mặt giác pavilion main và mặt table.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1746 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/Pavilion-deptht-angle.jpg" alt="" width="732" height="217" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/05/Pavilion-deptht-angle.jpg 732w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Pavilion-deptht-angle-300x89.jpg 300w" sizes="(max-width: 732px) 100vw, 732px" /></td>
</tr>
</tbody>
</table>
<p style="text-align: justify;"><strong>Lower half legth </strong>là chiều dài của giác lower half được quy ra phần trăm so với khoảng cách từ girdle tới culet.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1748 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/Lower-half-length.jpg" alt="" width="732" height="217" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/05/Lower-half-length.jpg 732w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Lower-half-length-300x89.jpg 300w" sizes="(max-width: 732px) 100vw, 732px" /></td>
</tr>
</tbody>
</table>
<p style="text-align: justify;"><strong>Culet size</strong> là chiều rộng của mặt culet, được mô tả dựa theo đường kính trung bình của kim cương ở độ phóng đại 10x. Kích thước culet từ một điểm nhọn (none) đến cực lớn (extremely large)</p>
<p><strong>SHAPE AND CUTTING STYLE (hình dạng và kiểu cắt mài)</strong></p>
<p style="text-align: justify;">Hình dạng đề cập đến hình dạng đường viền khi nhìn từ trên mặt và kiểu cắt là sự sắp xếp các mặt giác của một viên kim cương.</p>
<p style="text-align: justify;">Round Brilliant là viên kim cương mài tròn tiêu chuẩn bao gồm 57 hoặc 58 mặt giác, được cắt mài với tỷ lệ hiện đại. Dưới đây là tên gọi và cách sắp xếp các mặt giác của viên kim cương round brilliant.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1802 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/so-luong-mat-giac-1-scaled.jpg" alt="" width="2560" height="1773" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/05/so-luong-mat-giac-1-scaled.jpg 2560w, https://pnjlab.com.vn/wp-content/uploads/2023/05/so-luong-mat-giac-1-300x208.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2023/05/so-luong-mat-giac-1-1024x709.jpg 1024w, https://pnjlab.com.vn/wp-content/uploads/2023/05/so-luong-mat-giac-1-768x532.jpg 768w, https://pnjlab.com.vn/wp-content/uploads/2023/05/so-luong-mat-giac-1-1536x1064.jpg 1536w, https://pnjlab.com.vn/wp-content/uploads/2023/05/so-luong-mat-giac-1-2048x1418.jpg 2048w" sizes="(max-width: 2560px) 100vw, 2560px" /></td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Kiểu cắt của kim cương được mô tả như sau: brilliant (rực rỡ), step cut (cắt từng bậc), mixed cut (cắt hỗn hợp), portrait cut, rose cut (cắt hoa hồng), hoặc double rose cut (cắt hoa hồng kép). Trong đó kiểu cắt brilliant, step và mixed cut là phổ biến nhất. Bất kỳ kiểu cắt nào trong số này đều có thể được áp dụng cho nhiều hình dạng khác nhau.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 58.5251%;"><span style="font-size: 115%;"><strong>Brilliant</strong></span></p>
<p style="text-align: justify;"><span style="font-size: 115%;">Kiểu cắt brilliant tiêu chuẩn bao gồm chủ yếu các mặt giác hình cánh diều hoặc tam giác. Nó cũng có girdle, table facet, và một culet. Thuật ngữ “modified” được dùng để mô tả kiểu cắt brilliant có đối xứng kiểu khác với kiểu cắt brilliant tiêu chuẩn.</span></p>
</td>
<td style="width: 41.4749%;"><img decoding="async" loading="lazy" class="alignnone size-medium wp-image-1752" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/Round-brilliant-300x136.png" alt="" width="300" height="136" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/05/Round-brilliant-300x136.png 300w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Round-brilliant.png 612w" sizes="(max-width: 300px) 100vw, 300px" /></td>
</tr>
<tr>
<td style="width: 58.5251%;"><span style="font-size: 115%;"><strong>Step cut</strong></span></p>
<p style="text-align: justify;"><span style="font-size: 115%;">Kiểu cắt step cut bao gồm các mặt giác dài hẹp, bốn cạnh xếp thành hàng song song với girdle.</span></p>
</td>
<td style="width: 41.4749%;"><img decoding="async" loading="lazy" class="alignnone size-medium wp-image-1754" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/Step-cut-300x146.png" alt="" width="300" height="146" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/05/Step-cut-300x146.png 300w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Step-cut.png 612w" sizes="(max-width: 300px) 100vw, 300px" /></td>
</tr>
<tr>
<td style="width: 58.5251%;"><span style="font-size: 115%;"><strong>Mixed cut</strong></span></p>
<p style="text-align: justify;"><span style="font-size: 115%;">Kiểu cắt hỗn hợp có brilliant – cut ở phần trên và step – cut ở phần dưới hoặc step – cut ở phần trên và brilliant – cut ở phần dưới.</span></p>
</td>
<td style="width: 41.4749%;"><img decoding="async" loading="lazy" class="alignnone size-medium wp-image-1756" src="http://pnjlab.com.vn/wp-content/uploads/2023/05/Mix-cut-300x207.png" alt="" width="300" height="207" srcset="https://pnjlab.com.vn/wp-content/uploads/2023/05/Mix-cut-300x207.png 300w, https://pnjlab.com.vn/wp-content/uploads/2023/05/Mix-cut.png 542w" sizes="(max-width: 300px) 100vw, 300px" /></td>
</tr>
</tbody>
</table>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/cap-do-cat-mai-cut-grade/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Kim cương tổng hợp và đặc điểm nhận dạng</title>
		<link>https://pnjlab.com.vn/kim-cuong-tong-hop-va-dac-diem-nhan-dang/</link>
					<comments>https://pnjlab.com.vn/kim-cuong-tong-hop-va-dac-diem-nhan-dang/#respond</comments>
		
		<dc:creator><![CDATA[Trần Tân]]></dc:creator>
		<pubDate>Fri, 16 Dec 2022 10:00:35 +0000</pubDate>
				<category><![CDATA[Nhận dạng Kim cương]]></category>
		<guid isPermaLink="false">https://pnjlab.com.vn/?p=1320</guid>

					<description><![CDATA[Trên thị trường đá quý hiện nay kim cương tổng hợp chất lượng ngọc (gem-quality) đã xuất hiện rộng rãi hơn so với trước đây, điều này vừa đem đến sự thú vị vừa tạo sự quan tâm đặc biệt cho những người kinh doanh và câu hỏi được đặt ra là: đặc tính của...]]></description>
										<content:encoded><![CDATA[<p style="text-align: justify;">Trên thị trường đá quý hiện nay kim cương tổng hợp chất lượng ngọc (gem-quality) đã xuất hiện rộng rãi hơn so với trước đây, điều này vừa đem đến sự thú vị vừa tạo sự quan tâm đặc biệt cho những người kinh doanh và câu hỏi được đặt ra là: đặc tính của kim cương tổng hợp như thế nào? và nó có thể được nhận dạng bởi các nhà ngọc học hoặc các phòng thí nghiệm ngọc học hay không?</p>
<table style="border-collapse: collapse; width: 100%; height: 401px;">
<tbody>
<tr style="height: 358px;">
<td style="width: 100%; height: 358px;"><img decoding="async" loading="lazy" class="wp-image-1321 size-full aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image001.jpg" alt="" width="636" height="358" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image001.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image001-300x169.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr style="height: 43px;">
<td style="width: 100%; height: 43px; text-align: justify;">Hình 1: Hiện nay kim cương tổng hợp HPHT xuất hiện rộng rãi trên thị trường đá quý và trang sức với nhiều màu sắc khác nhau.</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400; text-align: justify;">GIA đã nghiên cứu về kim cương tổng hợp trong hơn 30 năm qua, do đó hiểu rõ các phương pháp tổng hợp và cách nhận dạng chúng. Kim cương tổng hợp có thành phần hóa học và tính chất vật lý tương tự kim cương thiên nhiên, chỉ khác là chúng được tạo ra trong phòng thí nghiệm.</p>
<p style="font-weight: 400; text-align: justify;">Nhiều người thường nhầm lẫn kim cương tổng hợp với đá thay thế kim cương (simulant) nhưng điều này không chính xác. Đá thay thế kim cương như là cubic zirconia (CZ) hoặc moissanite tổng hợp,… chỉ có bề ngoài gần giống kim cương còn tính chất vật lý và thành phần hóa học thì hoàn toàn khác. Do đó các nhà ngọc học có thể dễ dàng nhận dạng đá thay thế nhưng đối với kim cương tổng hợp thì khó hơn rất nhiều</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="wp-image-1323 size-full aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image002.jpg" alt="" width="636" height="358" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image002.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image002-300x169.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 2: Trên thị trường hiện nay xuất hiện rộng rãi cả kim cương thiên nhiên, kim cương xử lý màu và kim cương tổng hợp với nhiều màu sắc khác nhau. Bởi vì giá trị của chúng rất khác nhau nên việc giám định rất quan trọng trong định giá và công bố thông tin viên đá với khách hàng.</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400; text-align: justify;">Chỉ trong một số trường hợp các nhà ngọc học có thể nhận dạng được kim cương tổng hợp hoặc xử lý màu bằng các thiết bị ngọc học cơ bản, còn trong hầu hết trường hợp để nhận dạng chính xác cẩn phải sử dụng các thiết bị hiện đại. GIA đã tạo một cơ sở dữ liệu rất lớn về tính chất ngọc học (quang phổ, ảnh phát huỳnh quang, bao thể…) của tất cả các loại kim cương (thiên nhiên, xử lý, tổng hợp), trên cơ sở đó đã thiết lập các phương pháp nhận dạng kim cương một cách khoa học và đáng tin cậy.</p>
<p style="font-weight: 400;"><strong>HỆ THỐNG PHÂN LOẠI KIM CƯƠNG (THEO THÀNH PHẦN HÓA HỌC)</strong></p>
<p style="font-weight: 400; text-align: justify;">Bắt đầu từ những năm 1930, các nhà khoa học đã chia kim cương thành hai nhóm chính là loại I (type I) và loại II (type II) dựa trên sự khác nhau về độ trong suốt dưới tia cực tím, và trong mỗi loại lại được chia thành hai phụ nhóm dựa vào cách sắp xếp của nguyên tử carbon (và tạp chất) trong cấu trúc tinh thể kim cương. Đến năm 1959, các nhà khoa học phát hiện ra nitrogen là tạp chất chính trong kim cương và phân loại kim cương theo tạp chất này như sau: kim cương loại I có chứa nitrogen và kim cương loại II không có chứa nitrogen</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1325 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image003.jpg" alt="" width="636" height="483" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image003.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image003-300x228.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 3: Biểu đồ trên mô tả  một cách đơn giản hệ thống phân loại kim cương. Kim cương loại I (hàng trên) và kim cương loại II (hàng dưới), mỗi loại được chia thành hai nhóm nhỏ dựa vào cách sắp xếp của các nguyên tử carbon (và tạp chất) trong cấu trúc kim cương. Loại kim cương có thể được xác định nhanh chóng bằng phổ hồng ngoại.</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400; text-align: justify;">Hầu hết kim cương thiên nhiên thuộc loại Ia. <strong>Kim cương loại Ia</strong> chứa lượng lớn nitrogen ở dạng cặp hoặc dạng nhóm (cluster), kim cương loại này không thể tổng hợp được. <strong>Kim cương loại Ib</strong> chứa nguyên tử nitrogen ở dạng phân tán (scattered) và đơn lẻ (isolated), kim cương loại này khá hiếm trong tự nhiên. <strong>Kim cương loại IIa</strong> không chứa nitrogen. <strong>Kim cương loại IIb</strong> chứa boron.</p>
<p style="font-weight: 400; text-align: justify;">Kim cương tổng hợp thường thuộc các loại Ib, IIa và IIb, đây là những loại hiếm trong tự nhiên.</p>
<p style="font-weight: 400; text-align: justify;">Tại GIA kim cương loại I và loại II được xác định bằng cả hai phương pháp: độ trong suốt dưới sóng ngắn tia cực tím và phổ hồng ngoại (Tham khảo thêm: <a href="http://www.gia.edu/gems-gemology/summer-2009-type-classification-system-diamonds-breeding" target="_blank" rel="noopener">The “Type” Classification System of Diamonds and Its Importance in Gemology</a>, <em>Gems &amp; Gemology</em>, Summer 2009, Vol. 45, No. 2).</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1327 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/Type-Table.jpg" alt="" width="969" height="329" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/Type-Table.jpg 969w, https://pnjlab.com.vn/wp-content/uploads/2022/12/Type-Table-300x102.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/12/Type-Table-768x261.jpg 768w" sizes="(max-width: 969px) 100vw, 969px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Bảng 1: Bảng trên môt tả mối quan hệ giữa loại kim cương với kim cương thiên nhiên và kim cương tổng hơp (HPHT và CVD).</td>
</tr>
</tbody>
</table>
<p><strong>QUÁ TRÌNH TĂNG TRƯỞNG CỦA KIM CƯƠNG THIÊN NHIÊN</strong></p>
<p style="font-weight: 400; text-align: justify;">Tinh thể kim cương thiên nhiên được thành tạo hàng triệu năm, thậm chí hàng tỷ năm ở dưới sâu bên trong trái đất tại độ sâu khoảng 160 km và được mang lên bề mặt thông qua các núi lửa phun nổ. Những núi lửa này thường có dạng ống (pipe) thẳng đứng, thành phần chủ yếu là đá phun trào kimberlite. Người ta khai thác những ống kimberlite này để tìm kiếm kim cương và quặng được làm vỡ cơ học để tách kim cương ra khỏi kimberlite. Hàm lượng kim cương trong kimberlite rất thấp, có thể chỉ một phần triệu vì vậy phải khai thác một lượng rất lớn quặng mới thu hồi được kim cương.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1329 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image004.jpg" alt="" width="636" height="212" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image004.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image004-300x100.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 4: Tinh thể kim cương thiên nhiên (hình trái) thường có dạng bát diện và bị tròn cạnh do chịu ảnh hưởng của điều kiện môi trường dưới sâu bên trong trái đất. Chúng được mang lên mặt đất từ các núi lửa phun nổ có thành phần kimberlite (hình giữa). Mô hình tinh thể bát diện lý tưởng của kim cương thiên nhiên (hình phải)</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400; text-align: justify;">Kim cương thiên nhiên tăng trưởng dưới điều kiện nhiệt độ và áp suất rất cao. Nhiệt độ tăng trưởng của kim cương thiên nhiên cao hơn nhiệt độ được sử dụng để tăng trưởng kim cương tổng hợp. Tại nhiệt độ cao và có thời gian tăng trưởng lâu, kim cương thiên nhiên tăng trưởng tinh thể dạng bát diện (octaheral) nhưng ở nhiệt độ thấp hơn và thời gian tăng trưởng rất ngắn (vài tuần đến hơn một tháng) trong phòng thí nghiệm, kim cương tổng hợp tăng trưởng tinh thể có cả mặt bát diện và mặt lập phương (cubic). Tinh thể kim cương thiên nhiên tăng trưởng và nằm sâu trong lòng đất một thời gian rất dài trước khi xuất hiện trên mặt đất, chính điều này làm cho tạp chất nitrogen trong kim cương có đủ thời gian để liên kết lại với nhau thành cặp hoặc nhóm, do đó trên 95% kim cương thiên nhiên thuộc loại Ia.</p>
<p><strong>QUÁ TRÌNH TỔNG HỢP KIM CƯƠNG</strong></p>
<p style="font-weight: 400; text-align: justify;">Các nhà khoa học đã tổng hợp thành công kim cương lần đầu tiên vào giữa thập niên 1950, những tinh thể kim cương tổng đầu tiên có kích thước nhỏ và chất lượng công nghiệp. Việc sản xuất những tinh thể lớn phục vụ cho thị trường nữ trang được bắt đầu vào giữa thập niên 1990 và tiếp tục cho đến nay với hàng loạt công ty và tập đoàn tham gia vào lĩnh vực này. Tại một số quốc gia kim cương được tổng hợp phục vụ cho cả nhu cầu trang sức và nhu cầu công nghiệp, thậm chí nhu cầu công nghiệp có thể còn quan trọng hơn. (Tham khảo thêm: <a href="http://www.gia.edu/gems-gemology/spring-2016-gemnews-large-colorless-hpht-synthetic-gem-diamonds-china" target="_blank" rel="noopener">Large Colorless HPHT Synthetic Gem Diamonds from China</a>, Gem News International, <em>Gems &amp; Gemology</em>, Spring 2016, Vol. 52, No. 1).</p>
<p style="font-weight: 400; text-align: justify;">Hiện nay có hai phương pháp được sử dụng để tổng hợp kim cương. Phương pháp truyền thống được gọi là <strong>phương pháp áp suất cao, nhiệt độ cao</strong> (HPHT-high pressure, high temperature): kim cương được tăng trưởng bên trong một hợp kim nóng chảy gồm sắt (Fe), nickel (Ni) hoặc cobalt (Co). Phương pháp mới hơn được gọi là <strong>phương pháp tích tụ hơi hóa học</strong> (CVD- chemical vapor deposition): kim cương được tăng trưởng từ khí có chứa nguyên tử carbon (như là methan) bên trong buồng chân không.</p>
<p style="font-weight: 400; text-align: justify;">Cả hai phương pháp này đều cần đến mầm mà có thể là một tinh thể kim cương hoặc một vật liệu dạng tấm mỏng để bắt đầu quá trình tổng hợp.</p>
<p style="font-weight: 400;"><strong>Quá trình tổng hợp HPHT</strong></p>
<p style="font-weight: 400; text-align: justify;">Quá trình tăng trưởng kim cương HPHT diễn ra trong buồng kín (capsule) được đặt bên trong một thiết bị có khả năng tạo ra được nguồn áp suất rất cao. Bên trong buồng kín, bột kim cương (nguyên liệu tổng hợp) hòa tan trong hợp kim nóng chảy (metal alloy flux), sau đó kết tinh trên mầm để hình thành tinh thể kim cương tổng hợp. Quá trình kết tinh này chỉ có thể diễn ra trong vài tuần đến hơn một tháng và tạo ra được một hoặc một vài tinh thể kim cương tổng hợp.</p>
<p style="font-weight: 400; text-align: justify;">Tinh thể kim cương HPHT có thêm những mặt lập phương ngoài những mặt bát diện. Bởi vì dạng tinh thể của kim cương thiên nhiên và kim cương HPHT khác nhau nên cấu trúc tăng trưởng bên trong của chúng cũng khác nhau, đây chính là một trong những dấu hiệu đáng tin cậy nhất để phân biệt chúng với nhau.</p>
<p style="font-weight: 400; text-align: justify;">Kim cương HPHT sau khi được cắt mài có thể được nhận dạng từ những đặc điểm như là <strong>sự phân bố của đới màu, phát huỳnh quang, graining dạng chữ thập và bao thể kim loại màu đen,…</strong>. Trong một số trường hợp, kim cương HPHT có hiện tượng phát lân quang (phosphorescence) khá lâu sau khi tắt đèn cực tím. Kim cương HPHT cũng dễ dàng được nhận dạng bằng các thiết bị hiện đại ở các phòng thí nghiệm như là máy quang phổ visible hoặc photoluminescence.</p>
<p style="font-weight: 400; text-align: justify;">Hầu hết tinh thể kim cương HPHT có màu vàng, vàng cam, vàng phớt nâu và chủ yếu thuộc loại Ib &#8211; loại này hiếm trong kim cương thiên nhiên.</p>
<p style="font-weight: 400; text-align: justify;">Trước dây, để tạo ra kim cương HPHT không màu là một thách thức rất lớn, bởi vì muốn tạo ra được kim cương HPHT không màu phải giải quyết được 2 vấn đề chính sau: thứ nhất là ngăn cản sự xâm nhập của tạp chất nitrogen vào cấu trúc mạng tinh thể trong quá trình tăng trưởng, thứ hai là tốc độ tăng trưởng của kim cương HPHT không màu (loại IIa hoặc loại IIb yếu) chậm hơn kim cương HPHT loại Ib, do đó cần phải có thời gian tăng trưởng lâu hơn và điều kiện nhiệt độ, áp suất được kiểm soát tốt hơn. Gần đây với sự phát triển của khoa học và nỗ lực nghiên cứu, các nhà khoa học đã điều chỉnh điều kiện tăng trưởng và thiết bị phù hợp để tạo ra được những tinh thể đủ lớn để mài được viên đá với trọng lượng trên 10 carat (Tham khảo thêm: <a href="http://www.gia.edu/UK-EN/gia-news-research/large-blue-and-colorless-hpht-synthetic-diamonds" target="_blank" rel="noopener">Large Blue and Colorless HPHT Synthetic Diamonds</a>, Lab Notes,<em>Gems &amp; Gemology</em>, Summer 2016, Vol. 52, No. 2).</p>
<p style="font-weight: 400; text-align: justify;">Bằng cách thêm tạp chất boron (B) vào trong quá trình tăng trưởng sẽ tạo ra được những tinh thể kim cương HPHT màu xanh dương. Những màu khác như là hồng và đỏ được tạo ra bằng cách xử lý chiếu xạ và ủ nhiệt sau khi tăng trưởng, loại này hiếm gặp trên thị trường.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1331 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image005.jpg" alt="" width="636" height="260" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image005.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image005-300x123.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 5: Trong quá trình tổng hợp HPHT, một thiết bị được sử dụng để tạo ra môi trường áp suất và nhiệt độ cực cao cho buồng tăng trưởng (hình trái). Tinh thể kim cương HPHT có cả mặt lập phương và mặt bát diện (hình giữa và phải).</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400;"><strong>Quá trình tổng hợp CVD</strong></p>
<p style="font-weight: 400; text-align: justify;">Quá trình tăng trưởng kim cương CVD diễn ra bên trong buồng chân không được bơm đầy khí có chứa carbon, như là methan. Một nguồn năng lượng (chùm microwve) được sử dụng để bẻ gãy liên kết giữa các phân tử khí và nguyên tử carbon rớt xuống dưới tấm mầm. Quá trình kết tinh này diễn ra trong khoảng vài tuần để tạo ra nhiều tinh thể cùng lúc, số lượng tinh thể phụ thuộc vào kích thước buồng tăng trưởng và số lượng mầm. Tinh thể sau khi tăng trưởng có dạng tấm với xung quanh viền là graphite đen.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1333 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image006.jpg" alt="" width="636" height="358" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image006.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image006-300x169.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 6: Kim cương CVD không màu trọng lượng từ 0.22 đến 0.31 xuất hiện rộng rãi trên thị trường. Ảnh:  Jian Xin (Jae) Liao/GIA.</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400; text-align: justify;">Hầu hết tinh thể kim cương CVD có màu nâu nhạt hoặc xám nhạt, nhưng nếu thêm một lượng nhỏ tạp chất nitrogen hoặc boron vào trong buồng tăng trưởng thì sẽ tạo ra màu vàng, cam hồng hoặc xanh dương. Trái ngược với phương pháp HPHT, tinh thể không màu được tạo ra dễ dàng hơn với phương pháp này nhưng phải cần thời gian tăng trưởng rất lâu. Hầu hết kim cương CVD không màu xuất hiện trên thị trường đều đã trải qua quá trình xử lý nhiệt để loại bỏ màu nâu. Kim cương CVD chủ yếu thuộc loại IIa.</p>
<p style="font-weight: 400; text-align: justify;">Kim cương CVD có tính chất ngọc học hơi khác so với kim cương HPHT. Sự phân bố màu đều hơn và có “sự biến dạng” màu giao thoa nhẹ, cấu trúc dải khi quan sát dưới ánh sáng  phân cực, độ tinh khiết có khuynh hướng cao hơn do chỉ có những pinpoint carbon màu đen.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1337 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image007.jpg" alt="" width="636" height="230" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image007.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image007-300x108.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 7: Trong quá trình tổng hợp CVD,  kim cương tăng trưởng thành từ lớp mỏng chồng lên nhau, độ dày tinh thể sau khi tăng trưởng phụ thuộc vào thời gian tăng trưởng (hình trái). Với phương pháp này, tinh thể có dạng tấm phẳng (hình giữa và phải) với xung quanh viền là graphite đen</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400; text-align: justify;">Cũng giống như quá trình tổng hợp HPHT, quá trình tổng hợp CVD đang tiếp tục được cải thiện và cho phép các nhà sản xuất tạo ra được những tinh thể lớn với độ tinh khiết và cấp độ màu ngày càng cao (Tham khảo thêm: <a href="http://www.gia.edu/gems-gemology/summer-2012-cvd-synthetic-diamonds-gemesis-corp-wang" target="_blank" rel="noopener">Recent Advances in CVD Synthetic Diamond Quality</a>, <em>Gems &amp; Gemology</em>, Summer 2012, Vol. 48, No. 2).</p>
<p style="font-weight: 400; text-align: justify;">Gần đây GIA đã kiểm tra hai viên kim cương CVD lớn với trọng lượng 2.51 và 3.23 carat, đây là những viên kim cương CVD lớn nhất mà GIA từng kiểm tra cho đến nay (Tham khảo thêm: <a href="http://www.gia.edu/gems-gemology/winter-2015-labnotes-two-large-CVD-grown-synthetic-diamonds" target="_blank" rel="noopener">Two Large CVD-Grown Synthetic Diamonds Tested by GIA</a>, Lab Notes, <em>Gems &amp; Gemology</em>, Winter 2015, Vol. 51, No. 4).</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1339 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image009.jpg" alt="" width="635" height="221" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image009.jpg 635w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image009-300x104.jpg 300w" sizes="(max-width: 635px) 100vw, 635px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 8: Dạng tinh thể lý tưởng của: kim cương CVD, kim cương HPHT và kim cương thiên nhiên. Mặt bát diện màu vàng và mặt lập phương màu xanh dương. Hầu hết kim cương thiên nhiên tăng trưởng dạng bát diện (hình phải), kim cương HPHT có cả mặt bát diện và mặt lập phương (hình giữa) và mặt bát diện hoàn toàn không có trong kim cương CVD (hình trái). Mũi tên chỉ hướng tinh thể tăng trưởng.</td>
</tr>
</tbody>
</table>
<p><strong>ĐẶC ĐIỂM NHẬN DẠNG</strong></p>
<p style="font-weight: 400; text-align: justify;">Trong vài năm trở lại đây bắt đầu xuất hiện nhiều công ty sản xuất kim cương tổng hợp phục vụ cho thị trường nữ trang với cấp độ màu, độ tinh khiết được cải thiện đáng kể và trọng lượng tinh thể cũng lớn hơn. Vì vậy, phạm vi ảnh hưởng của kim cương tổng hợp ngày càng tăng cao mặc dù cho tới nay GIA chỉ phát hiện một số lượng nhỏ kim cương tổng hợp khi chúng được gửi kèm với kim cương thiên nhiên để giám định.</p>
<p style="font-weight: 400; text-align: justify;">Để nhận dạng các loại đá quý một nhà ngọc học có thể chỉ cần sử dụng một số loại thiết bị như là khúc xạ kế, đèn cực tím, kính hiển vi, kính phân cực,…Nhưng đối với kim cương tổng hợp có chất lượng cao như hiện nay, việc nhận dạng chúng là một thử thách rất lớn đặc biệt chỉ với những thiết bị ngọc học cơ bản, thậm chí với cả những nhà ngọc học giàu kinh nghiệm.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1341 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/table2.jpg" alt="" width="916" height="492" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/table2.jpg 916w, https://pnjlab.com.vn/wp-content/uploads/2022/12/table2-300x161.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/12/table2-768x413.jpg 768w" sizes="(max-width: 916px) 100vw, 916px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Bảng 2: So sánh  đặc điểm nhận dạng của kim cương HPHT và CVD</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400; text-align: justify;">Bảng 2 trình bày những đặc điểm đặc trưng của phần lớn kim cương tổng hợp, nhưng không phải viên kim cương tổng hợp nào cũng thể hiện đầy đủ những đặc điểm này. Ví dụ: một viên kim cương tổng hợp có thể không phát huỳnh quang, vì vậy phải dựa vào những đặc điểm khác để nhận dạng nó.</p>
<p style="font-weight: 400;"><strong>Đới màu</strong></p>
<p style="font-weight: 400; text-align: justify;">Kim cương HPHT màu thường có sự phân bố màu không đều, đặc điểm này có thể thấy được dưới ánh sáng truyền qua (transmitted light) của kính hiển vi và nếu cần có thể nhúng viên đá trong dung dịch nhúng để quan sát rõ hơn. Đôi khi kim cương thiên nhiên cũng có đới màu nhưng hình dạng của chúng khác hoàn toàn so với kim cương HPHT.</p>
<p style="font-weight: 400; text-align: justify;">Khác với kim cương HPHT, kim cương CVD thường có sự phân bố màu đều đặn.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1343 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image9.jpg" alt="" width="636" height="265" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image9.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image9-300x125.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 9: Sự phân đới màu trong kim cương HPHT màu thường liên quan tới các mặt tinh thể và có hình dạng khác hoàn toàn kim cương thiên nhiên. Khu vực màu vàng thuộc loại Ib và chứa nitrogen đơn lẻ, khu vực xanh dương thuộc loại IIb và chứa boron, khu vực không  màu thuộc loại IIa và không chứa tạp chất. Chỉ kim cương tổng hợp mới phổ biến hỗn hợp tạp chất nitrogen và boron trong cùng một tinh thể.</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400;"><strong>Bao thể</strong></p>
<p style="font-weight: 400; text-align: justify;">Kim cương HPHT thường chứa bao thể kim loại, dưới ánh sáng truyền qua chúng có màu đen và không thấu quang, dưới ánh sáng phản chiếu chúng có ánh kim loại. Bởi vì hợp kim nóng chảy được sử dụng cho quá trình tăng trưởng gồm các nguyên tố như là sắt, nickel hoặc cobal nên kim cương HPHT chứa những bao thể lớn hoặc nhiều bao thể nhỏ sẽ có từ tính mạnh và có thể dính vào nam châm.</p>
<p style="font-weight: 400; text-align: justify;">Kim cương CVD thành tạo theo cách khác nên chúng không chứa bao thể kim loại mà chỉ có những pinpoint màu đen.</p>
<p style="font-weight: 400; text-align: justify;">Kim cương thiên nhiên có thể có bao thể màu đen (graphite hoặc một số khoáng vật khác) nhưng những bao thể này không có ánh kim loại dưới ánh sáng phản chiếu.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1345 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image010.jpg" alt="" width="636" height="203" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image010.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image010-300x96.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 10: Kim cương HPHT thường có bao thể kim loại. Trong một số trường hợp, nếu bao thể kim loại có hàm lượng nickel-sắt (Ni-Fe) cao thì có thể dính vào nam châm</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400;"><strong>Lưỡng chiết suất bất thường (Anomalous birefringence)</strong></p>
<p style="font-weight: 400; text-align: justify;">Khi kiểm tra dưới hai nicol vuông góc, kim cương thiên nhiên loại II thường thể hiện lưỡng chiết suất bất thường hay còn được gọi là “sự biến dạng” (strain) màu giao thoa với cấu trúc “tatami” hoặc cấu trúc dải. “Sự biến dạng” dạng màu giao thoa này là do kim cương thiên nhiên phải trải qua điều kiện ứng suất (sress) thay đổi liên tục trong thời gian dài khi còn nằm sâu bên trong trái đất hoặc trong qua trình phun nổ của núi lửa. Ngược lại, kim cương tổng hợp tăng trưởng trong môi trường áp suất gần như đều đặn và không trải qua điều kiện ứng suất như trên, vì vậy khi kiểm tra dưới hai nicol vuông góc chúng không có “sự biến dạng” hoặc chỉ có “sự biến dạng” nhẹ, cấu trúc dải.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1347 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/Strain.jpg" alt="" width="548" height="469" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/Strain.jpg 548w, https://pnjlab.com.vn/wp-content/uploads/2022/12/Strain-300x257.jpg 300w" sizes="(max-width: 548px) 100vw, 548px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 11: Phương pháp quan sát kim cương dưới 2 nicol vuông góc (hình trái) và” sự biến dạng” màu giao thoa  đặc trưng của kim cương thiên nhiên loại II (hình phải)</td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1349 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image012.jpg" alt="" width="556" height="211" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image012.jpg 556w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image012-300x114.jpg 300w" sizes="(max-width: 556px) 100vw, 556px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 12: Kim cương HPHT  không có “ sự biến dạng” màu giao thoa (hình trái) và kim cương CVD đôi khi chỉ có “sự biến dạng” nhẹ, cấu trúc dải (hình phải)</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400;"><strong>Phát huỳnh quang</strong></p>
<p style="font-weight: 400; text-align: justify;">Phát huỳnh quang là một trong những đặc điểm quan trọng nhất để nhận dạng kim cương tổng hợp, dưới sóng ngắn tia cực tím thường phát huỳnh quang mạnh hơn dưới sóng dài và có thể có những cấu trúc đặc trưng.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1351 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image013.jpg" alt="" width="636" height="338" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image013.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image013-300x159.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 13: Kim cương HPHT phát huỳnh quang với cấu trúc chữ thập trên phần crown hoặc pavilion</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400; text-align: justify;">Kim cương HPHT phát huỳnh quang với <strong>cấu trúc chữ thập</strong> khi quan sát từ phần crown hoặc pavillion. Kim cương CVD phát huỳnh quang với cấu trúc <strong>sọc</strong> khi quan sát từ pavilion. Màu phát huỳnh quang đặc trưng là lục, vàng lục, vàng, cam hoặc đỏ.</p>
<p style="font-weight: 400; text-align: justify;">Khi tắt đèn cực tím, một số viên kim cương tổng hợp có hiện tượng phát lân quang trong một vài phút hoặc lâu hơn.</p>
<p style="font-weight: 400; text-align: justify;">GIA sử dụng thiết bị thu ảnh phát huỳnh quang gọi là DiamondView để kiểm tra kim cương. Thiết bị này cho phép phát hiện cấu trúc tăng trưởng bên trong kim cương và giúp phân biệt giữa kim cương thiên nhiên với kim cương tổng hợp.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1353 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image014.jpg" alt="" width="468" height="467" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image014.jpg 468w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image014-300x300.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image014-150x150.jpg 150w" sizes="(max-width: 468px) 100vw, 468px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 14: Thiết bị DiamondView (hình trên) cho phép xác định cấu trúc tăng trưởng của kim cương thiên nhiên và kim cương tổng hợp. Cấu trúc đồng tâm (hình trái) là kim cương thiên nhiên, cấu trúc chữ thập (hình giữa) là kim cương HPHT và cấu trúc sọc (hình phải) là kim cương CVD.</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Hiện tại, ngoài việc nhận dạng chính xác những viên kim cương tổng hợp lớn một trong những thách thức nữa phải đối mặt trên thị trường nữ trang là việc giám định kim cương có kích thước nhỏ, khó khăn là loại này thường được bán theo lô với mỗi lô có thể lên đến hàng trăm, hàng ngàn viên kim cương, trong đó có thể có cả kim cương thiên nhiên và kim cương tổng hợp.(Tham khảo thêm: <a href="http://www.gia.edu/gems-gemology/winter-2015-labnotes-large-type-ib-natural-diamond" target="_blank" rel="noopener">Screening of Small Yellow Diamond Melee for Treatment and Synthetics</a>, Lab Notes,<i>Gems &amp; Gemology</i>, Winter 2015, Vol. 51, No. 4).</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1355 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image015.jpg" alt="" width="636" height="242" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image015.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image015-300x114.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 15: 359 viên kim cương vàng này có trọng lượng từ 0.02 đến 0.03 ct, trong đó hầu hết là kim cương thiên nhiên (phần bên trái), 14 viên kim cương HPHT và 1 viên kim cương thiên nhiên bị xử lý HPHT. Tất cả các viên kim cương này có bề ngoài giống nhau và không thể phân biệt được bằng mắt thường hoặc lúp. Ảnh: Sood Oil (Judy) Chia</td>
</tr>
</tbody>
</table>
<p style="text-align: right;"><span style="font-size: 90%;">Nguồn: Dr. James E. Shigley</span></p>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/kim-cuong-tong-hop-va-dac-diem-nhan-dang/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Trọng lượng và kích thước</title>
		<link>https://pnjlab.com.vn/trong-luong-va-kich-thuoc/</link>
					<comments>https://pnjlab.com.vn/trong-luong-va-kich-thuoc/#respond</comments>
		
		<dc:creator><![CDATA[Trần Tân]]></dc:creator>
		<pubDate>Mon, 12 Dec 2022 10:15:58 +0000</pubDate>
				<category><![CDATA[Phân cấp Kim cương]]></category>
		<guid isPermaLink="false">https://pnjlab.com.vn/?p=1278</guid>

					<description><![CDATA[CARAT WEIGHT (TRỌNG LƯỢNG CARAT) Trọng lượng của một viên kim cương được đo lường và tính bằng “carat”, viết tắt là “ct”. “Carat” là đơn vị đo lường xuất xứ từ hạt của một loại cây đậu Minh Quyết (carob). Do tính chất các trái đậu này tương đối đồng đều về mặt kích...]]></description>
										<content:encoded><![CDATA[<p style="text-align: justify;"><strong>CARAT WEIGHT (TRỌNG LƯỢNG CARAT)</strong></p>
<p style="text-align: justify;">Trọng lượng của một viên kim cương được đo lường và tính bằng “carat”, viết tắt là “ct”. “Carat” là đơn vị đo lường xuất xứ từ hạt của một loại cây đậu Minh Quyết (carob). Do tính chất các trái đậu này tương đối đồng đều về mặt kích cỡ và trọng lượng, nên thời kỳ đầu các nhà buôn đá quý và thợ kim hoàn đã dùng hạt carob để làm vật đối trọng khi cân đá quý trên những chiếc cân cầm tay nhỏ. Từ đó chúng trở thành thang đo trọng lượng đá quý.</p>
<p style="text-align: justify;">Đến đầu thế kỷ XX, trọng lượng “carat” được xây dựng phù hợp với hệ đo lường và được sử dụng thành hệ chuẩn quốc tế.</p>
<p style="text-align: justify;">Theo đó, quy chuẩn:</p>
<p style="text-align: center;">01 carat = 200 miligam (0,2 gram) = 1/5 gram</p>
<p style="text-align: justify;">Kim cương thường có trọng lượng rất nhỏ nên carat còn được chia thành điểm (point), một “carat” được chia thành 100 điểm, 1 điểm sẽ tương đương 0,01 carat. Điều này cho phép các phép đo trọng lượng kim cương chính xác đến chữ số thập phân thứ một trăm.</p>
<p style="text-align: justify;">Ví dụ: 01 viên kim cương có trọng lượng ¼ carat là 25 điểm, thì sẽ được viết 0.25ct, tương tự 01 viên kim cương có trọng lượng là 0.56 carat thì sẽ được gọi là 56 điểm.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="wp-image-1279 size-full aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/1.png" alt="" width="1000" height="196" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/1.png 1000w, https://pnjlab.com.vn/wp-content/uploads/2022/12/1-300x59.png 300w, https://pnjlab.com.vn/wp-content/uploads/2022/12/1-768x151.png 768w" sizes="(max-width: 1000px) 100vw, 1000px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: center;">Hình 1: Bảng trọng lượng carat kim cương.</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;"><strong>KÍCH THƯỚC (MEASUREMENTS)</strong></p>
<p style="text-align: justify;">Song song với trọng lượng carat, kích thước của viên kim cương cũng là một nhân tố quan trọng kế tiếp.</p>
<p style="text-align: justify;">Kích thước là độ lớn của viên kim cương khi nhìn từ trên xuống. Kích thước này được tính theo đường kính hoặc chiều dài và chiều rộng và chiều cao của viên đá.</p>
<p style="text-align: justify;">Kích thước được trình bày như sau:</p>
<ul style="text-align: justify;">
<li>Viên đá dạng tròn: Đường kính nhỏ nhất (Minimum Diameter) – Đường kính lớn nhất (Maximum Diameter) x Chiều cao (Depth).</li>
</ul>
<p style="text-align: justify;">          Vd: 6.50 – 6.55 x 3.92 mm</p>
<ul style="text-align: justify;">
<li>Viên đá dạng Fancy: Chiều Dài (Length) x Chiều Rộng (Width) x Chiều Cao (Depth).</li>
</ul>
<p style="text-align: justify;">          Vd: 6.52 x 4.12 x 3.37 mm</p>
<table style="border-collapse: collapse; width: 100%; height: 317px;">
<tbody>
<tr style="height: 278px;">
<td style="width: 100%; height: 278px;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1281 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/2.png" alt="" width="1467" height="543" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/2.png 1467w, https://pnjlab.com.vn/wp-content/uploads/2022/12/2-300x111.png 300w, https://pnjlab.com.vn/wp-content/uploads/2022/12/2-1024x379.png 1024w, https://pnjlab.com.vn/wp-content/uploads/2022/12/2-768x284.png 768w" sizes="(max-width: 1467px) 100vw, 1467px" /></td>
</tr>
<tr style="height: 39px;">
<td style="width: 100%; height: 39px; text-align: center;">Hình 2: Các thông số kích thước kim cương</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Kích thước được đo lường bằng đơn vị là milimét (mm), hay thường gọi là ly. Ngoài việc mô tả, kích thước còn giúp phân tích tỷ lệ, chất lượng cắt mài và ước tính trọng lượng tương đối của viên đá.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="wp-image-1283 size-full aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/bangtrongluong1.png" alt="" width="635" height="718" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/bangtrongluong1.png 635w, https://pnjlab.com.vn/wp-content/uploads/2022/12/bangtrongluong1-265x300.png 265w" sizes="(max-width: 635px) 100vw, 635px" /></td>
</tr>
<tr>
<td style="width: 100%;">
<p style="text-align: center;">Hình 3: Trọng lượng tương ứng kích thước.</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Ví dụ: Viên kim cương có trọng lượng 0.5 ct sẽ có kích thước tương ứng là 5.0 mm hay còn lại là 5ly.</p>
<p style="text-align: justify;">Một số trường hợp cụ thể, tùy vào hình dạng của một viên kim cương (hình tròn, hình oval,) sẽ có công thức tính kích thước khác nhau.</p>
<p style="text-align: justify;">Ngoài trường hợp hình tròn, tùy vào hình dạng cụ thể của một viên kim cương như: hình vuông, oval, chữ nhật, marquise,. sẽ có những công thức ước lượng kích thước khác nhau.</p>
<p style="text-align: justify;">Ví dụ: Một viên kim cương hình vuông 1 carat thường là 5,5 mm và 1,25 carat là 6 mm.</p>
<ul style="list-style-type: square;">
<li><strong>Đường kính nhỏ nhất và đường kính lớn nhất (Minimum and Maximum Diameter):</strong></li>
</ul>
<p style="text-align: justify;">Đường kính của một viên kim cương cắt mài hình tròn là đường thẳng từ một điểm cạnh này đến điểm cạnh đối diện và qua tâm của viên đá.</p>
<p style="text-align: justify;">Đối với những viên kim cương hình tròn cho dù được cắt mài rất tốt cũng không bao giờ tròn hoàn hảo, do đó sẽ đo được đường kính khác nhau ở một số vị trí khác nhau.</p>
<p style="text-align: justify;">Ví dụ: Kích thước viên kim cương hình tròn đo được lần lượt là: 4.23, 4.24, 4.26, 4.24, 4.27 và 4.28, thì có Đường kính nhỏ nhất = 4.23 mm và Đường kính lớn nhất = 4.28 mm</p>
<ul style="list-style-type: square;">
<li><strong>Chiều dài và chiều rộng (Length and Width):</strong></li>
</ul>
<p style="text-align: justify;">Đối với kim cương cắt mài dạng Fancy, kích thước chiều dài và chiều rộng thường được sử dụng thay thế cho đường kính. Thông thường, chiều dài là kích thước dài nhất từ đầu cạnh này đến đầu cạnh đối diện; chiều rộng là kích thước vuông góc với chiều dài (Hình 4). Trong một số trường hợp đặc biệt, như hình tam giác hay hình trái tim thì chiều rộng có thể lớn hơn chiều dài.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1285 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/4.png" alt="" width="1367" height="542" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/4.png 1367w, https://pnjlab.com.vn/wp-content/uploads/2022/12/4-300x119.png 300w, https://pnjlab.com.vn/wp-content/uploads/2022/12/4-1024x406.png 1024w, https://pnjlab.com.vn/wp-content/uploads/2022/12/4-768x305.png 768w" sizes="(max-width: 1367px) 100vw, 1367px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: center;">Hình 4: Chiều dài và chiều rộng của kim cương dạng Fancy</td>
</tr>
</tbody>
</table>
<ul style="list-style-type: square;">
<li><strong>Chiều cao (Depth)</strong>: Chiều cao của viên kim cương là khoảng cách từ mặt bàn đến tim đáy cho cả kim cương dạng tròn và dạng Fancy.</li>
</ul>
<table style="border-collapse: collapse; width: 100%; height: 249px;">
<tbody>
<tr style="height: 199px;">
<td style="width: 100%; height: 199px;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1290" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/6-300x153.jpg" alt="" width="392" height="200" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/6-300x153.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/12/6.jpg 672w" sizes="(max-width: 392px) 100vw, 392px" /></td>
</tr>
<tr style="height: 50px;">
<td style="width: 100%; height: 50px;">
<p style="text-align: center;">Hình 5: Chiều cao của kim cương</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 100%; border-collapse: collapse; border-color: #e6e6e6; background-color: #d2d2d2;">
<tbody>
<tr>
<td style="width: 735px;">
<p style="text-align: justify;"><strong>CÁCH XÁC ĐỊNH KÍCH THƯỚC CỦA MỘT SỐ KIM CƯƠNG DẠNG FANCY HIẾM GẶP</strong></p>
<ul style="list-style-type: square;">
<li><strong>Hình tam giác (Triangle)</strong></li>
</ul>
<table style="width: 100%; border-collapse: collapse; border-color: #e8e1e1; background-color: #d4d2d2;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="size-medium wp-image-1309 aligncenter" style="color: #555555; font-size: 14.4px;" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/kc5-300x137.png" alt="" width="300" height="137" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/kc5-300x137.png 300w, https://pnjlab.com.vn/wp-content/uploads/2022/12/kc5-1024x467.png 1024w, https://pnjlab.com.vn/wp-content/uploads/2022/12/kc5-768x350.png 768w, https://pnjlab.com.vn/wp-content/uploads/2022/12/kc5-1536x701.png 1536w, https://pnjlab.com.vn/wp-content/uploads/2022/12/kc5-2048x934.png 2048w" sizes="(max-width: 300px) 100vw, 300px" /></td>
</tr>
</tbody>
</table>
<p>&#8211; Phần lớn những viên đá có cắt mài hình tam giác đều có 01 cạnh lớn hơn hoặc nhỏ hơn so với 02 cạnh còn lại. Đây là cạnh cần xem xét về chiều rộng và chiều dài là khoảng cách vuông góc với chiều rộng.</p>
<p>&#8211; Cách thực hiện đo lường viên đá có cắt mài hình dáng tam giác:</p>
<p style="text-align: justify;">+ Đo lường tất cả 03 cạnh của viên đá, chọn cạnh có kích thước nhỏ nhất so với 02 cạnh còn lại, đây là chiều rộng.</p>
<p style="text-align: justify;">+ Trên cơ sở đó, đo chiều dài vuông góc với chiều rộng</p>
<ul style="list-style-type: square;">
<li><strong>Kim cương cắt mài hình dạng quả lê/ giọt nước (Briolette) và hạt (Faceted Beads)</strong></li>
</ul>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 731px;"><img decoding="async" loading="lazy" class="size-medium wp-image-1311 aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/kc6-300x192.png" alt="" width="300" height="192" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/kc6-300x192.png 300w, https://pnjlab.com.vn/wp-content/uploads/2022/12/kc6-1024x656.png 1024w, https://pnjlab.com.vn/wp-content/uploads/2022/12/kc6-768x492.png 768w, https://pnjlab.com.vn/wp-content/uploads/2022/12/kc6-1536x984.png 1536w, https://pnjlab.com.vn/wp-content/uploads/2022/12/kc6.png 1590w" sizes="(max-width: 300px) 100vw, 300px" /></td>
</tr>
</tbody>
</table>
<p><span style="font-family: inherit; font-size: inherit;">&#8211; Viên đá có kiểu cắt mài hình dạng quả lê và hạt có kích thước khác so với các viên đá có cắt mài hình dạng còn lại vì không xác định được phần bên trên (crown), phần bên dưới (pavillon) và viền cạnh (girdle) của viên đá.</span></p>
<p>&#8211; Cách thức thực hiện đo một viên đá cắt mài hình dạng quả lê/ giọt nước và hạt:</p>
<p style="text-align: justify;">+   Đo đường kính ở ít nhất tám vị trí xung quanh chu vi để xác định chiều dài (số đo lớn nhất) và chiều rộng (số đo nhỏ nhất).</p>
<p style="text-align: justify;">+   Trên cơ sở này, chiều sâu được đo vuông góc với chu vi, hoặc từ điểm này đến điểm đối xứng còn lại trên hình dạng quả lê/ giọt nước</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: right;"><span style="font-size: 90%;">Nguồn: GIA Diamond &amp; Diamond Grading Course</span></p>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/trong-luong-va-kich-thuoc/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Kim cương 3x &#8211; Triple X diamond</title>
		<link>https://pnjlab.com.vn/kim-cuong-3x-triple-x-diamond/</link>
					<comments>https://pnjlab.com.vn/kim-cuong-3x-triple-x-diamond/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Wed, 23 Nov 2022 03:37:35 +0000</pubDate>
				<category><![CDATA[Kim cương]]></category>
		<category><![CDATA[Phân cấp Kim cương]]></category>
		<guid isPermaLink="false">http://lab.pnj.io/?p=883</guid>

					<description><![CDATA[KIM CƯƠNG 3X LÀ GÌ? Kim cương 3X là thuật ngữ thương mại chỉ những viên kim cương round brilliant có cấp độ cắt mài (cut), mài bóng (polish) và đối xứng (symmetry) đều đạt Excellent theo thang phân cấp của GIA. &#8220;X&#8221; là viết tắt của từ Excellent nên 3X nghĩa là 3 Excellent....]]></description>
										<content:encoded><![CDATA[<p><strong>KIM CƯƠNG 3X LÀ GÌ?</strong></p>
<p style="text-align: justify;">Kim cương 3X là thuật ngữ thương mại chỉ những viên kim cương round brilliant có cấp độ cắt mài (cut), mài bóng (polish) và đối xứng (symmetry) đều đạt Excellent theo thang phân cấp của GIA. &#8220;X&#8221; là viết tắt của từ Excellent nên 3X nghĩa là 3 Excellent.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="wp-image-884 size-full aligncenter" src="http://lab.pnj.io/wp-content/uploads/2022/11/kimcuong_01.jpg" alt="" width="700" height="394" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/kimcuong_01.jpg 700w, https://pnjlab.com.vn/wp-content/uploads/2022/11/kimcuong_01-300x169.jpg 300w" sizes="(max-width: 700px) 100vw, 700px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 1: Kim cương chất lượng cao và được cắt mài tinh xảo thì cực kỳ hấp dẫn. Trên hình là viên kim cương round brilliant, nặng 51,71 carat với chất lượng D-FL, 3X. Ành: Sotheby’s</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Cấp độ cắt mài, đối xứng và mài bóng là tiêu chí phản ánh kỹ năng và độ chính xác của quá trình chế tác từ kim cương thô thành kim cương thành phẩm, cả ba nhân tố này đều tác động đến sự tương tác giữa kim cương và ánh sáng. Thang phân cấp GIA của cả ba tiêu chí này gồm năm cấp: Excellent, Very Good, Good, Fair và Poor.</p>
<p style="text-align: justify;">Đa phần người mua đều thích kim cương 3X bởi vì họ muốn sở hữu viên kim cương hoàn hảo nhất có thể. Chất lượng 3X đảm bảo rằng ánh sáng sau khi phản chiếu bêntrong kim cương sẽ quay lại bề mặt với mức cao nhất và lửa cũng đẹp nhất.</p>
<p><strong>EXCELLENT CUT LÀ GÌ?</strong></p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="size-full wp-image-886 aligncenter" src="http://lab.pnj.io/wp-content/uploads/2022/11/kimcuong_02.jpg" alt="" width="700" height="394" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/kimcuong_02.jpg 700w, https://pnjlab.com.vn/wp-content/uploads/2022/11/kimcuong_02-300x169.jpg 300w" sizes="(max-width: 700px) 100vw, 700px" /></td>
</tr>
<tr>
<td style="width: 100%;">Hình 2: Khi quan sát ba viên kim cương này sẽ thấy được tầm quan trọng của chất lượng cắt mài.Từ trái qua phải chất lượng cắt mài lần lượt là: Excellent, Good, Poor. Ảnh: Kevin Schumacher/GIA</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;"><strong style="text-align: justify; font-size: 14.4px;">Cut</strong><span style="text-align: justify; font-size: 14.4px;"> (Độ cắt mài) là một trong những nhân tố quan trọng nhất của kim cương. Nó được xác định thông qua tỷ lệ cắt mài (proportions &#8211; kích thước và góc của những mặt giác), tỷ lệ này quyết định cách ánh sáng phản chiếu bên trong và lượng ánh sáng quay lại mặt trên kim cương. Cấp độ Excellent nghĩa là viên kim cương được cắt mài với những thông số hoàn hảo cho phép kim cương có độ sáng (brightness), độ lấp lánh (scintillation) và lửa (fire) cao nhất. Cấp độ Poor thì trên mặt viên kim cương thường có những mảng sáng hoặc tối lớn, không đều làm cho viên kim cương mờ không cuốn hút.</span></p>
<p><strong>EXCELLENT SYMMETRY LÀ GÌ?</strong></p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1295 " src="http://pnjlab.com.vn/wp-content/uploads/2022/11/kc4.png" alt="" width="382" height="484" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 3: Biểu đồ thể hiện những loại mặt giác và sự sắp xếp của chúng trong kim cương round brilliant. Ảnh: Peter Johnston/GIA</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;"><strong>Symmetry</strong> (Đối xứng) liên quan đến độ chính xác của hình dạng (shape) và những mặt giác (facets) kim cương. Sự đều đặn trong cách sắp xếp những mặt giác và sự tương đồng về kích thước, tỷ lệ và hình dạng của những mặt giác cùng loại sẽ quyết định cấp độ đối xứng. Kim cương có đối xứng Excellent thì đỉnh của những giác bezel và pavilion main sẽ chạm girdle, những đỉnh của bezel cũng sẽ thẳng hàng với những đỉnh của pavilion main tương ứng qua girdle, mặt table nằm ngay giữa viên đá và những đỉnh dưới của pavilion main sẽ tụ lại thành một điểm tại culet. Đối xứng Excellent sẽ làm tăng khả năng ánh sáng quay trở lại mặt trên viên đá và làm viên kim cương cân đối hấp dẫn hơn.</p>
<p style="text-align: justify;"><strong>EXCELLENT POLISH LÀ GÌ?</strong></p>
<p style="text-align: justify;"><strong>Polish</strong> (Độ mài bóng) là chất lượng bề mặt của kim cương thành phẩm. Kim cương có độ mài bóng Excellent thì không có những khuyết điểm mài bóng có thể thấy dưới phóng đại 10X. Những khuyết điểm nhỏ trên bề mặt như là pit và polish line thường do đĩa mài trong quá trình đánh bóng và những khuyết điểm này có thể dễ dàng được loại bỏ bằng cách đánh bóng lại. Trong khi pit và polish line là một trong những khuyết điểm nhẹ không thể thấy bằng mắt thường và không ảnh hưởng nhiều đến chất lượng viên đá, có nhiều loại khuyết điểm bề mặt sẽ làm giảm độ chiếu sáng và lấp lánh của viên đá.</p>
<p style="text-align: justify;">Nếu xem mặt giác của kim cương như một tấm gương thì bề mặt càng nhẵn mịn sự phản chiếu sẽ càng tốt. Kết hợp với tỷ lệ cắt mài và đối xứng hoàn hảo sẽ làm cho độ chiếu sáng, độ lấp lánh và lửa đẹp nhất.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="size-full wp-image-890 aligncenter" src="http://lab.pnj.io/wp-content/uploads/2022/11/kimcuong_04.jpg" alt="" width="1929" height="1020" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/kimcuong_04.jpg 1929w, https://pnjlab.com.vn/wp-content/uploads/2022/11/kimcuong_04-300x159.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/11/kimcuong_04-1024x541.jpg 1024w, https://pnjlab.com.vn/wp-content/uploads/2022/11/kimcuong_04-768x406.jpg 768w, https://pnjlab.com.vn/wp-content/uploads/2022/11/kimcuong_04-1536x812.jpg 1536w" sizes="(max-width: 1929px) 100vw, 1929px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 4: Viên kim cương có polish line được tạo ra trong quá trình cắt mài. Polish line thì trong suốt nhưng vẫn có thể thấy khi quan sát dưới độ phóng đại và ánh sáng phản chiếu. Ảnh: Mitchell Moore/GIA</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;"><strong>CÓ PHẢI CHỈ NÊN CHỌN KIM CƯƠNG 3X?</strong></p>
<p style="text-align: justify;">Kim cương không nhất thiết đạt 3X mới đẹp. Độ mài bóng và đối xứng ảnh hưởng đến cấp độ cắt mài (Cut) nhưng không phải mài bóng, đối xứng Excellent thì cấp độ cắt mài mới đạt Excellent mà mài bóng, đối xứng Very Good cấp độ cắt mài vẫn có thể đạt Excellent. Điều này là do sự khác nhau giữa cấp độ Excellent và Very Good của mài bóng, đối xứng chỉ có thể nhận biết dưới độ phóng đại. Ngoài ra, kim cương 3X vẫn có thể mờ, không lấp lánh nếu độ tinh khiết (clarity) thấp với nhiều bao thể hoặc phát huỳnh quang Very Strong. Do đó, ngoài cấp độ cắt mài, đối xứng và mài bóng để đánh giá chất lượng của một viên kim cương cần xem xét tất cả các nhân tố chất lượng.</p>
<p><strong>KIM CƯƠNG 3X THÌ HIẾM?</strong></p>
<p style="text-align: justify;">Do sự tiến bộ của công nghệ cắt mài kim cương và nhu cầu khách hàng nên hiện nay kim cương 3X phổ biến. Những công ty cắt mài kim cương thường mài kim cương với những thông số theo tiêu chuẩn cắt mài GIA để đạt 3X.</p>
<p style="text-align: justify;">Khi GIA xây dựng hệ thống phân cấp cắt mài cho kim cương round brilliant vào 2005, họ đã thực hiện một nghiên cứu diện rộng về những kiểu lấp lánh (scintillation patterns) mà người tham gia nghiên cứu đánh giá bằng mắt thường sau đó đối chiếu với tỷ lệ cắt mài kim cương và thông số cắt mài để tìm ra sự khác nhau giữa những kiểu lấp lánh. Sau quá trình nghiên cứu đã tìm ra những tỷ lệ cắt mài và thông số cắt mài tiêu chuẩn và được áp dụng rộng rãi trong nhiều lĩnh vực kim cương. Hiện nay nhiều công ty đã sử dụng hệ thống cắt mài tự động để mài ra những viên kim cương có tỷ lệ cắt mài tốt nhất có thể nên kim cương 3X càng ngày càng phổ biến.</p>
<p style="text-align: justify;"><strong>CÓ NÊN TIẾT KIỆM TIỀN BẰNG VIỆC KHÔNG CHỌN KIM CƯƠNG 3X?</strong></p>
<p style="text-align: justify;">Kim cương với Cut: Excellent, Polish: Very Good và Symmetry: Very Good có giá thấp hơn kim cương 3X, nếu tất cả nhân tố chất lượng khác bằng nhau. Tuy nhiên dưới mắt thường giữa hai loại này gần như không có sự khác nhau, do đó ngoài việc muốn tiết kiệm tiền bằng cách chọn những viên kim cương 3X với chất lượng màu sắc và độ tinh khiết thấp hoặc phát huỳnh quang medium &#8211;  very strong mà có thể ảnh hưởng đến vẻ đẹp của viên đá, người mua có thể cân nhắc chọn những viên kim cương Cut: Excellent, Polish: Very Good và Symmetry: Very Good với chất lượng cao về màu sắc, độ tinh khiết và phát huỳnh quang.</p>
<p style="text-align: justify;">Tóm lại, đánh giá chất lượng của kim cương phải xem xét một cách tổng thể đầy đủ các nhân tố chất lượng. 3X chỉ thật sự có ý nghĩa khi kim cương có chất lượng cao về màu sắc, độ tinh khiết và phát huỳnh quang. Và cuối cùng 3X là dấu hiệu của một viên kim cương được chế tác cực kỳ cẩn thận và tinh xảo.</p>
<p style="text-align: right;"><span style="font-size: 90%;">Nguồn: <a href="https://4cs.gia.edu/en-us/blog/triple-x-diamonds/" target="_blank" rel="noopener">https://4cs.gia.edu/en</a><a href="https://4cs.gia.edu/en-us/blog/triple-x-diamonds/" target="_blank" rel="noopener">&#8211;</a><a href="https://4cs.gia.edu/en-us/blog/triple-x-diamonds/" target="_blank" rel="noopener">us/blog/triple</a><a href="https://4cs.gia.edu/en-us/blog/triple-x-diamonds/" target="_blank" rel="noopener">&#8211;</a><a href="https://4cs.gia.edu/en-us/blog/triple-x-diamonds/" target="_blank" rel="noopener">x</a><a href="https://4cs.gia.edu/en-us/blog/triple-x-diamonds/" target="_blank" rel="noopener">&#8211;</a><a href="https://4cs.gia.edu/en-us/blog/triple-x-diamonds/" target="_blank" rel="noopener">diamonds/</a></span></p>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/kim-cuong-3x-triple-x-diamond/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Phát huỳnh quang</title>
		<link>https://pnjlab.com.vn/phat-huynh-quang/</link>
					<comments>https://pnjlab.com.vn/phat-huynh-quang/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Sat, 08 Oct 2022 17:57:58 +0000</pubDate>
				<category><![CDATA[Phân cấp Kim cương]]></category>
		<category><![CDATA[Kim cương]]></category>
		<guid isPermaLink="false">http://lab.pnj.io/?p=135</guid>

					<description><![CDATA[Nhiều viên kim cương phát ra ánh sáng, hoặc phát sáng khi tiếp xúc với tia cực tím (ultraviolet radiation &#8211; UV), đây là hiệu ứng xảy ra khi một viên kim cương bị tia UV chiếu vào. Phản ứng này được gọi là phát huỳnh quang. Cấp độ độ phát huỳnh quang đề cập...]]></description>
										<content:encoded><![CDATA[<p style="text-align: justify;">Nhiều viên kim cương phát ra ánh sáng, hoặc phát sáng khi tiếp xúc với tia cực tím (ultraviolet radiation &#8211; UV), đây là hiệu ứng xảy ra khi một viên kim cương bị tia UV chiếu vào. Phản ứng này được gọi là phát huỳnh quang.</p>
<p style="text-align: justify;">Cấp độ độ phát huỳnh quang đề cập đến phản ứng của kim cương với sóng dài tia cực tím (longwave ultraviolet radiation – 366 nm), do đó để phân cấp người ta sử dụng các thiết bị với sóng dài tia cực tím để xác định cấp độ. Trong một số trường hợp, viên kim cương vẫn phát huỳnh quang dưới ánh sáng mặt trời khi môi trường</p>
<p><strong>PHÁT HUỲNH QUANG CỦA KIM CƯƠNG ĐƯỢC CHIA THÀNH 5 CẤP ĐỘ</strong></p>
<p style="text-align: justify;">&#8211; Không phát huỳnh quang (None)<br />
&#8211; Phát huỳnh quang nhẹ (Faint)<br />
&#8211; Phát huỳnh quang trung bình (Medium)<br />
&#8211; Phát huỳnh quang mạnh (Strong)<br />
&#8211; Phát huỳnh quang rất mạnh (Very Strong).<br />
Màu phát huỳnh quang chỉ được ghi nhận trên “Giấy Giám Định Kim Cương” khi cường độ từ “Medium” trở lên.</p>
<p><img decoding="async" loading="lazy" class="wp-image-165 size-full aligncenter" src="http://lab.pnj.io/wp-content/uploads/2022/10/Rectangle.png" alt="" width="580" height="362" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/10/Rectangle.png 580w, https://pnjlab.com.vn/wp-content/uploads/2022/10/Rectangle-300x187.png 300w" sizes="(max-width: 580px) 100vw, 580px" /></p>
<p><strong>PHÁT HUỲNH QUANG CỦA KIM CƯƠNG CÓ PHỔ BIẾN KHÔNG?</strong></p>
<p style="text-align: justify;">Theo dữ liệu ghi nhận của GIA, có khoảng 25% đến 35% kim cương phát huỳnh quang từ “Faint” trở lên.</p>
<p style="text-align: justify;">Phần lớn kim cương phát huỳnh quang màu xanh dương (blue). Đây là màu phổ biến nhất, trong một số trường hợp, chúng ta có thể gặp kim cương phát huỳnh quang màu vàng, trắng, xanh lá, cam và đỏ.</p>
<p><img decoding="async" loading="lazy" class="size-full wp-image-168 aligncenter" src="http://lab.pnj.io/wp-content/uploads/2022/10/image-48.png" alt="" width="578" height="325" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/10/image-48.png 578w, https://pnjlab.com.vn/wp-content/uploads/2022/10/image-48-300x169.png 300w" sizes="(max-width: 578px) 100vw, 578px" /></p>
<p><strong>PHÁT HUỲNH QUANG CÓ TÁC ĐỘNG GÌ ĐẾN SỰ XUẤT HIỆN CỦA MỘT VIÊN KIM CƯƠNG?</strong></p>
<p style="text-align: justify;">Phần lớn kim cương có cường độ huỳnh quang không ảnh hưởng đến vẻ bề ngoài. Song song đó, trong các tài liệu nghiên cứu về phát huỳnh quang của GIA, người ta thấy rằng mắt của người bình thường không thể phân biệt được kim cương có phát huỳnh quang và kim cương không có phát huỳnh quang.</p>
<p style="text-align: justify;">Trong một số trường hợp hiếm hoi, một số viên kim cương phát huỳnh quang cực mạnh có thể xuất hiện hiệu ứng mờ hoặc bóng dầu (tỷ lệ này chiếm khoảng ít hơn 0,2% kim cương huỳnh quang kiểm định tại GIA)</p>
<p style="text-align: right;"><span style="font-size: 90%;">Nguồn: GIA Understanding Diamond Fluorescence</span></p>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/phat-huynh-quang/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
