@charset "UTF-8";
/*
Theme Name: Pnjlab Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&amp;display=swap");
:root { --secondary-color: #CCA866; }

body { font-size: 14px !important; }

.header-top ul.nav > li { margin: 0 15px; }
.header-top ul.nav > li > a { font-size: 14px; color: #F9F9F9; }
.header-top ul.nav > li > a:hover { color: var(--secondary-color); text-decoration-line: underline; }
.header-top ul.nav .header-language-dropdown > a { text-transform: uppercase; }
.header-top ul.nav .header-language-dropdown > a .image-icon { height: 18px; width: 24px; margin-left: 10px; }
.header-top ul.nav .header-language-dropdown > a svg { margin-left: 6px; }

.header-nav-main > li { margin: 0 3px; }
.header-nav-main > li > a { color: #222222 !important; font-weight: 500 !important; font-size: 15px; padding: 0px 10px; border-radius: 3px; background-color: transparent; }
.header-nav-main > li:hover > a, .header-nav-main > li.current-menu-item > a { color: #fff !important; background-color: var(--secondary-color); }
.header-nav-main > li.current-dropdown > .nav-dropdown { left: 0 !important; }
.header-nav-main > li .nav-dropdown { border-top: 3px solid var(--secondary-color); }
.header-nav-main > li .nav-dropdown > li > a { color: #444444; font-size: 14px; font-weight: 400; }
.header-nav-main > li .nav-dropdown > li:hover > a { color: var(--primary-color); background-color: #0000; }
.header-nav-main > li .nav-dropdown > li:hover > a:before { content: ""; font-family: fl-icons !important; display: inline-block; font-size: 16px; margin-right: 8px; color: var(--primary-color); }
.header-nav-main > li .nav-dropdown > li.nav-dropdown-col { display: block; width: 100%; }
.header-nav-main > li .nav-dropdown > li.nav-dropdown-col > a { color: #333; font-size: 14px; text-transform: none; font-weight: 400; }
.header-nav-main > li .nav-dropdown > li.nav-dropdown-col > ul { margin-top: -48px; display: none; position: absolute; left: 100%; z-index: 9; background-color: #fff; min-width: 240px; box-shadow: 0 2px 4px rgba(40, 40, 40, 0.3); padding: 10px; min-width: 200px; }
.header-nav-main > li .nav-dropdown > li.nav-dropdown-col > ul li > a { color: #444444; font-size: 14px; font-size: 14px !important; border: none; margin: 0; background-color: transparent !important; }
.header-nav-main > li .nav-dropdown > li.nav-dropdown-col > ul li:hover a { color: var(--primary-color) !important; }
.header-nav-main > li .nav-dropdown > li.nav-dropdown-col > ul li:hover a:before { content: ""; font-family: fl-icons !important; display: inline-block; font-size: 16px; margin-right: 8px; color: var(--primary-color); }
.header-nav-main > li .nav-dropdown > li.nav-dropdown-col:hover > ul { display: block; }

.header-button-1 { margin-left: 50px !important; }
.header-button-1 .button { line-height: 44px; font-size: 14px; }

.home-slide h3 { background-color: var(--secondary-color); padding: 5px 15px; border-radius: 3px; color: #fff; font-weight: 600; font-size: 16px; position: relative; display: inline-block; width: auto; }
.home-slide h3:before { content: ""; width: 0; height: 0; border-style: solid; position: absolute; right: -10px; top: 50%; transform: translateY(-50%); border-width: 5px 0 5px 10px; border-color: transparent transparent transparent var(--secondary-color); }
.home-slide h2 { font-weight: 600; font-size: 64px; font-family: 'Playfair Display'; }
.home-slide .flickity-page-dots { display: flex; align-items: center; justify-content: flex-end; counter-reset: dotnumber; bottom: 25px; }
.home-slide .flickity-page-dots:before { content: ""; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); background-color: var(--secondary-color); width: 70px; height: 1px; display: inline-block; margin-right: 10px; }
.home-slide .flickity-page-dots .dot { background: transparent !important; border: none !important; width: auto; margin: 0 8px; opacity: 1; counter-increment: dotnumber; }
.home-slide .flickity-page-dots .dot:before { content: counter(dotnumber); color: #AEAEAE; display: block; font-size: 18px; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
.home-slide .flickity-page-dots .dot.is-selected:before { color: var(--secondary-color); }

.button:not(.icon) { font-weight: 700; font-size: 14px; min-width: 140px; height: 44px; line-height: 44px; border-radius: 3px; }
.button:not(.icon).is-large { min-width: 184px; }

.section-title { border-bottom: none; }
.section-title b { opacity: 0; }
.section-title span.section-title-main { border-bottom: none; font-weight: 600; font-size: 46px; color: var(--primary-color); text-transform: none; line-height: 1; font-family: 'Playfair Display'; }
.section-title a { border: 1.5px solid var(--secondary-color); color: var(--secondary-color); height: 44px; line-height: 44px; padding: 0 20px; border-radius: 3px; text-transform: uppercase; font-family: 'Montserrat', sans-serif; min-width: 140px; text-align: center; transition: 0.4s all ease-in-out; }
.section-title a i { display: none; }
.section-title a:hover { background-color: var(--primary-color); color: #fff; border-color: var(--primary-color); }

h3.section-title span.section-title-main { font-size: 32px; }

.home-section-1:before { content: ""; height: 100%; width: 100%; background-color: #DDB670; opacity: 0.7; border-radius: 2px; position: absolute; right: 0; left: var(--left-var); }

.search-product-form label { font-weight: 700; font-size: 14px; color: var(--primary-color); }
.search-product-form input { font-size: 14px; min-height: 44px; border: none; box-shadow: none; margin-right: 3px; }
.search-product-form button { min-height: 44px; width: 44px; border-radius: 2px; }
.search-product-form .icon-angle-right:before { content: ""; background: url("assets/images/icon-right.png") no-repeat; height: 12px; width: 17px; display: block; }
.search-product-form .two-input { display: flex; }
.search-product-form .two-input input:nth-child(1) { margin-right: 2.5px; }
.search-product-form .two-input input:nth-child(2) { margin-left: 2.5px; }
.search-product-form .title { font-weight: 700; font-size: 18px; position: relative; padding-left: 30px; color: var(--secondary-color); }
.search-product-form .title:before { content: ""; background: url("assets/images/kimcuong.png") no-repeat center center; height: 19px; width: 22px; position: absolute; left: 0; top: 50%; transform: translateY(-50%); }
.search-product-form .title.damau { color: var(--primary-color); }
.search-product-form .title.damau:before { background: url("assets/images/damau.png") no-repeat center center; }
.search-product-form.product { background: #F8F0DE; border-radius: 2px; padding: 30px; max-width: 570px; margin: 0 auto; }
.search-product-form.product label { color: #444444; text-transform: none; font-size: 14px; }
.search-product-form .note { font-style: italic; font-size: 14px; text-align: justify; }
.search-product-form .note span { font-weight: 700; color: var(--primary-color); text-decoration: underline; }

.post-item .post-title { font-family: 'Montserrat'; font-size: 14px; text-transform: uppercase; color: #222222; margin-bottom: 5px; font-weight: 700; }
.post-item .post-meta { font-style: italic; font-size: 13px; color: #AEAEAE; opacity: 1; font-size: 13px; }
.post-item .is-divider { display: none; }
.post-item .readmore { font-weight: 500; font-size: 14px; padding: 0; color: var(--secondary-color); margin: 0; min-width: auto !important; }
.post-item .box-vertical .box-image, .post-item .box-vertical .box-text { display: table-cell; vertical-align: top; }
.post-item .box-vertical .box-text { padding: 0; padding-left: 20px; }
.post-item .box-vertical .box-image .image-cover { border-radius: 3px; overflow: hidden; }
.post-item:hover .post-title { color: var(--secondary-color); }

.post-list-item li { list-style: none; margin-left: 0 !important; padding: 20px 0; border-top: 1px dashed #AEAEAE; }
.post-list-item li:first-child { border: none; padding-top: 0; }
.post-list-item li a { font-weight: 500; font-size: 14px; position: relative; padding-left: 20px; display: flex; }
.post-list-item li a:before { content: ""; background-color: var(--primary-color); display: block; height: 4px; width: 4px; position: absolute; left: 0; top: 7px; }
.post-list-item li a:hover { color: var(--secondary-color); }

.box.box-push .box-text { background: #F8F0DE; border-radius: 3px; }
.box.box-push .box-text h2 { font-size: 18px; }

.form_bg .col-inner { background: #ddb670b3; border-radius: 2px; padding: 37px 29px; }

ul.nav-line-bottom li a { font-size: 14px; font-weight: 700 !important; padding: 5px 12px; }
ul.nav-line-bottom li a:before { height: 1px; }
ul.nav-line-bottom li.active a { color: var(--primary-color) !important; }

.gallery-col.col { padding-bottom: 0; }
.gallery-col.col .col-inner { box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.07); border-radius: 2px; min-height: 80px; line-height: 80px; text-align: center; }
.gallery-col.col img { width: auto; }

.wpcf7 form { margin-bottom: 0; }
.wpcf7 .col { padding-bottom: 0; }
.wpcf7 label { font-weight: 400 !important; }
.wpcf7 input[type=email], .wpcf7 input[type=number], .wpcf7 input[type=tel], .wpcf7 input[type=text], .wpcf7 textarea { font-size: 14px; box-shadow: none; height: 44px; border: 1.5px solid #E3E3E3; border-radius: 2px; }
.wpcf7 .wpcf7-submit { border-color: var(--primary-color) !important; }
.wpcf7 .wpcf7-submit:hover { background-color: var(--secondary-color); border-color: var(--secondary-color); }
.wpcf7 .wpcf7-submit.is-outline { background-color: transparent !important; color: var(--primary-color) !important; }
.wpcf7 .wpcf7-submit.is-outline:hover { color: #fff !important; background-color: var(--primary-color) !important; }
.wpcf7 .wpcf7-submit.has-icon { background-image: url("assets/images/submit.png") !important; background-repeat: no-repeat; background-position: 58% center !important; background-color: var(--primary-color) !important; }
.wpcf7 .wpcf7-spinner { display: none; }

.page-header-wrapper .page-title-inner { justify-content: flex-end !important; }
.page-header-wrapper .page-title-inner > div { margin-left: 0; }
.page-header-wrapper .entry-title { font-family: 'Playfair Display'; font-weight: 600; font-size: 46px; }
.page-header-wrapper .title-content { margin-bottom: 20px; }

.rank-math-breadcrumb { font-size: 14px; color: #AEAEAE; text-transform: none; }
.rank-math-breadcrumb .last { font-weight: 400; color: var(--secondary-color); }

.has-bg { position: relative; }
.has-bg:before { content: ""; background: #F8F0DE; border-radius: 2px; height: 100%; width: 100%; position: absolute; left: -30px; bottom: -30px; }
.has-bg.left:before { left: auto; right: -30px; }

.page-about .featured-box { display: flex; align-items: center; margin-bottom: 15px; }
.page-about .featured-box .icon-box-img { width: 44px !important; background: var(--primary-color); border-radius: 25px; height: 44px; text-align: center; line-height: 40px; }
.page-about .featured-box .icon-box-img img { max-width: 30px; }
.page-about .featured-box h4 { font-weight: 500; font-size: 14px; line-height: 24px; text-transform: capitalize; color: #444444; }

.thankyou-page h1 { font-family: 'Playfair Display'; color: var(--primary-color); font-weight: 600; font-size: 42px; }

.page-contact { background: #fff; }

.contact-form-thank { background: #FFFFFF; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15); padding: 15px 40px; max-width: 430px; margin: 0 auto; }
.contact-form-thank h3 { color: var(--secondary-color); font-size: 18px; }
.contact-form-thank table td { border: none; padding: 12px 0; }
.contact-form-thank table td:first-child { width: 40%; }
.contact-form-thank table td:last-child { font-weight: 500; color: #222222; }

.blog-archive { padding-top: 0; }

.page-news .post-item .col-inner { padding-bottom: 30px; border-bottom: 1px solid #E3E3E3; }

.post-sidebar img { width: 100%; }
.post-sidebar span.widget-title { font-weight: 700; font-size: 24px; display: block; margin-bottom: 20px; text-transform: capitalize; color: var(--primary-color); }
.post-sidebar .is-divider { display: none; }
.post-sidebar ul li a { font-size: 14px; color: #444; display: block; padding: 14px 0; }
.post-sidebar ul li.active, .post-sidebar ul li:hover { border-color: var(--secondary-color); }
.post-sidebar ul li.active a, .post-sidebar ul li:hover a { color: var(--secondary-color); font-weight: 400; }
.post-sidebar ul li.active a:before, .post-sidebar ul li:hover a:before { content: ""; font-family: fl-icons !important; display: inline-block; font-size: 16px; margin-right: 8px; color: var(--secondary-color); }
.post-sidebar .list-post-sidebar .post-item { padding-bottom: 15px; }
.post-sidebar .list-post-sidebar .post-item .col-inner { padding-bottom: 15px; border-bottom: 1px solid #E3E3E3; }
.post-sidebar .list-post-sidebar .post-item h5.post-title { font-weight: 500; font-size: 14px; }
.post-sidebar .list-post-sidebar .post-item:hover .col-inner { border-color: var(--secondary-color); }

.blog-single h1.entry-title { font-family: 'Playfair Display'; color: var(--primary-color); font-weight: 600; font-size: 32px; }
.blog-single .has-bg { background: #F9F9F9; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 2px; padding: 20px; margin-bottom: 40px; }
.blog-single .has-bg:before { display: none; }
.blog-single .entry-content { font-size: 14px; }
.blog-single .entry-content h2 { font-size: 1.2em; }
.blog-single .tag-box { margin-bottom: 30px; display: inline-block; font-size: 13px; }
.blog-single .tag-box a { color: #616161; padding: 4px 6px 3px; background-color: #f5f5f5; text-transform: uppercase; }
.blog-single .tag-box a:hover { background-color: var(--primary-color); color: #fff; }
.blog-single .next_prev_post { padding: 20px; }
.blog-single .next_prev_post .link-content-wrap { display: flex !important; align-items: center; }
.blog-single .next_prev_post i { font-size: 30px; margin-right: 10px; }
.blog-single .next_prev_post p { font-size: 14px; font-weight: 400; color: #AEAEAE; margin-bottom: 0; }
.blog-single .next_prev_post a { font-weight: 700; font-size: 14px; color: #444; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; }
.blog-single .next_prev_post .text-right i { margin-left: 10px; margin-right: 0; color: #444; }
.blog-single .next_prev_post .link-content-wrap:hover a, .blog-single .next_prev_post .link-content-wrap:hover i { color: var(--secondary-color); }

.page-wrapper, .entry-content { padding-top: 0px; }

.footer-wrapper:before { content: ""; background: url("assets/images/bg-footer.png") no-repeat center center; background-size: cover; z-index: 0; display: block; position: absolute; height: 100%; width: 100%; opacity: 0.2; }

.footer-1 { padding-top: 50px; }
.footer-1 span.widget-title { font-weight: 700; font-size: 18px; display: block; margin-bottom: 15px; }
.footer-1 .is-divider { display: none; }
.footer-1 .footer-logo { filter: brightness(0) invert(1); }
.footer-1 p { font-size: 14px; color: #fff; }
.footer-1 p.contact { display: flex; }
.footer-1 p.contact i { color: var(--secondary-color); margin-right: 8px; margin-top: 4px; }
.footer-1 ul { margin-bottom: 20px; }
.footer-1 ul li { margin-right: 35px; display: inline-block; }
.footer-1 ul li a { font-size: 14px; color: #fff !important; }
.footer-1 ul li a:hover { color: var(--secondary-color) !important; text-decoration: underline; }
@media screen and (min-width: 769px) { .footer-1 > .row > .col:nth-child(1) { flex-basis: 17%; max-width: 17%; }
  .footer-1 > .row > .col:nth-child(2) { flex-basis: 82%; max-width: 82%; } }

.icon-envelop:before { content: ""; background: url("assets/images/mail.png") no-repeat; display: block; height: 13px; width: 15px; }

.icon-fax:before { content: ""; background: url("assets/images/fax.png") no-repeat; display: block; height: 13px; width: 13px; }

.copyright-footer { font-size: 14px; color: #F1F1F1; }
.copyright-footer span, .copyright-footer a { color: var(--secondary-color); }

.absolute-footer { display: none; }
.absolute-footer ul { opacity: 1; border-bottom: none; }
.absolute-footer ul li a { font-weight: 400; font-size: 14px; color: #F1F1F1; text-transform: none; }
.absolute-footer ul li a:hover { color: var(--secondary-color) !important; text-decoration: underline; }

.icon-mts:before { content: ""; background: url("assets/images/mts.png") no-repeat; display: block; height: 13px; width: 16px; }

.white-popup-block { background: #FFF; padding: 0px 0px; text-align: left; max-width: 550px; margin: 40px auto; position: relative; border-radius: 15px; overflow: hidden; padding: 25px 30px; background: linear-gradient(180deg, rgba(27, 43, 125, 0.7), rgba(7, 11, 48, 0.56)), #111022; color: #fff; }
.white-popup-block .wpcf7 .wpcf7-list-item-label { color: #fff; }

.white-popup-block h3 { color: #fff; text-align: center; }

.modal-body { padding: 0; color: #000; font-size: 16px; }

.back-to-top { border: none !important; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); height: 50px; width: 50px; bottom: 60px; background: var(--primary-color) !important; color: #fff !important; font-size: 19px; line-height: 47px !important; }

.nav-pagination-box { display: block; text-align: center; border: 1px solid #E3E3E3; }
.nav-pagination-box .nav-pagination li:before { display: none; }

.nav-pagination { border-bottom: 1px solid #E3E3E3; max-width: 500px; margin: 0 auto !important; padding-top: 10px; }
.nav-pagination li a, .nav-pagination li span { border: none; height: 45px; width: 56px; font-weight: 400; font-size: 14px; color: #444; background-color: transparent !important; border-bottom: 2px solid transparent; border-radius: 0; }
.nav-pagination li.active a, .nav-pagination li.active span, .nav-pagination li:hover a, .nav-pagination li:hover span { color: var(--secondary-color) !important; border-color: var(--secondary-color) !important; }
.nav-pagination li .current { color: var(--secondary-color) !important; border-color: var(--secondary-color) !important; }

.back-to-top { border: none !important; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); height: 50px; width: 50px; bottom: 60px; background: var(--primary-color) !important; color: #fff !important; font-size: 19px; line-height: 47px !important; }

@media screen and (max-width: 820px) { .mobile-nav .has-icon.mobile-icon a { height: 36px; width: 36px; background-color: var(--primary-color); border-color: var(--primary-color); color: var(--secondary-color); display: flex; justify-content: center; align-items: center; padding: 0; flex-direction: column; border-radius: 100px; }
  .mobile-nav .has-icon.mobile-icon a svg { max-width: 20px; }
  .off-canvas .sidebar-menu { padding: 50px 0; }
  .off-canvas .nav-vertical > li { border-top: none !important; background-color: transparent !important; }
  .off-canvas .nav-vertical > li > a { padding-top: 10px; padding-bottom: 10px; color: #111; height: auto; font-size: 16px; text-transform: none; text-shadow: none; font-weight: 400; }
  .off-canvas .nav-vertical > li > ul > li a { color: #111; }
  .off-canvas .nav-vertical > li > ul > li li { position: relative; margin-left: 20px !important; }
  .off-canvas .nav-vertical > li > ul > li li:before { content: ""; height: 5px; width: 5px; display: inline-block; background-color: #111; position: absolute; top: 50%; transform: translateY(-50%); }
  .nav-vertical li li.menu-item-has-children > a { text-transform: none; font-size: 1.6rem !important; }
  .searchform-wrapper { border: 1px solid #ddd; border-radius: 4px; overflow: hidden; }
  .searchform-wrapper .search-field { border: none; box-shadow: none; height: 43px; }
  .searchform-wrapper .ux-search-submit { background-color: #fff !important; box-shadow: none; height: 43px; color: #000; border: none; }
  .home-slide h2 { font-size: 44px; }
  h3.section-title span.section-title-main, .page-header-wrapper .entry-title, .blog-single h1.entry-title, .section-title span.section-title-main, .thankyou-page h1 { font-size: 26px; }
  .home-section-1:before { top: var(--top-var); }
  .page-header-wrapper .entry-title, .page-header-wrapper .page-title-inner > div { text-align: left; }
  .page-header-wrapper .page-title-inner .container { padding: 0; }
  .page-header-wrapper .title-content { margin-bottom: 0; }
  .title-breadcrumbs { padding-top: 0; }
  .nav-pagination { margin-bottom: 30px !important; }
  .post-sidebar span.widget-title { font-size: 18px; } }
@media screen and (max-width: 820px) and (min-width: 512px) { .footer-1 .row > .col { flex-basis: 50%; max-width: 50%; } }
@media screen and (max-width: 512px) { .header-button-1 .button { line-height: 44px; font-size: 13px !important; line-height: 31px !important; height: 35px !important; min-width: 140px !important; }
  .button:not(.icon) { font-size: 13px; min-width: 127px; height: 38px; line-height: 36px; }
  .home-slide h2 { font-size: 32px; }
  .section-title span.section-title-main, .page-header-wrapper .entry-title, .blog-single h1.entry-title, .thankyou-page h1 { font-size: 21px; }
  .box.box-push .box-text h2 { font-size: 14px; }
  .post-item .box-vertical { display: table; }
  .post-item .box-vertical .box-image { width: 35% !important; }
  .search-product-form button:not(.icon) { font-size: 0; min-width: 44px; background: url(assets/images/icon-right.png) no-repeat center center; }
  .search-product-form.product { padding: 20px; }
  .wpcf7 .wpcf7-submit.has-icon { background-position: 62% center !important; }
  .post-item .from_the_blog_excerpt { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /* number of lines to show */ line-clamp: 2; -webkit-box-orient: vertical; } }
