@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../assets/images/logo.jpg') no-repeat;
    background-size: cover;




    .wrapper {
        width: 380px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        backdrop-filter: blur(30px);
        color: #fff;
        border-radius: 10px;
        padding: 30px 40px;

        .register-link {
            font-size: 14.5px;
            text-align: center;
            margin: 20px 0 15px;

            p a {
                color: #fff;
                text-decoration: none;
                font-weight: 600;
            }

            p a:hover {
                text-decoration: underline;
            }

        }

        button {
            width: 100%;
            height: 45px;
            background: #fff;
            border: none;
            outline: none;
            border-radius: 40px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            cursor: pointer;
            font-size: 16px;
            color: #333;
            font-weight: 700;
        }

        h1 {
            font-size: 34px;
            text-align: center;
        }

        .input-box {
            position: relative;
            width: 100%;
            height: 50px;
            margin: 30px 0;

            input {
                width: 100%;
                height: 100%;
                background: transparent;
                outline: none;
                border: 2px solid rgba(255, 255, 255, .2);
                border-radius: 40px;
                font-size: 16px;
                color: #fff;
                padding: 20px 45px 20px 20px;
            }

            input::placeholder {
                color: #fff;
            }

            .icon {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 16px;
            }


        }

        .remember-forgot {
            display: flex;
            justify-content: space-between;
            font-size: 14.5px;
            margin: -15px 0 15px;

            label input {
                accent-color: #fff;
                margin-right: 4px;
            }

            a {
                color: #fff;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }


        }


    }
}