<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	 xmlns:media="http://search.yahoo.com/mrss/" >

<channel>
	<title>Tin Chuyên Ngành &#8211; Pnjlab</title>
	<atom:link href="https://pnjlab.com.vn/tin-chuyen-nganh/feed/" rel="self" type="application/rss+xml" />
	<link>https://pnjlab.com.vn</link>
	<description>Công Ty TNHH Một Thành Viên Giám Định PNJ</description>
	<lastBuildDate>Wed, 18 Jan 2023 01:52:23 +0000</lastBuildDate>
	<language>vi-VN</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.1.6</generator>

<image>
	<url>https://pnjlab.com.vn/wp-content/uploads/2022/10/pnj-icon.png</url>
	<title>Tin Chuyên Ngành &#8211; Pnjlab</title>
	<link>https://pnjlab.com.vn</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Phương pháp xử lý nhuộm khí hơi hổ phách – steam-dyed Amber</title>
		<link>https://pnjlab.com.vn/phuong-phap-xu-ly-nhuom-khi-hoi-ho-phach-steam-dyed-amber/</link>
					<comments>https://pnjlab.com.vn/phuong-phap-xu-ly-nhuom-khi-hoi-ho-phach-steam-dyed-amber/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Tue, 17 Jan 2023 06:41:44 +0000</pubDate>
				<category><![CDATA[Tin Chuyên Ngành]]></category>
		<guid isPermaLink="false">http://lab.pnj.io/?p=534</guid>

					<description><![CDATA[KHÁI NIỆM Beeswax Amber là tên thương mại được sử dụng phổ biến trong thị trường đá quý, dùng để chỉ Amber màu vàng có độ trong từ bán trong mờ đến đục. Trong số các loại Beeswax Amber, loại có màu vàng mỡ gà – chicken-fat yellow beeswax khá nổi tiếng vì có màu...]]></description>
										<content:encoded><![CDATA[<p><strong>KHÁI NIỆM</strong></p>
<p style="text-align: justify;"><em>Beeswax Amber</em> là tên thương mại được sử dụng phổ biến trong thị trường đá quý, dùng để chỉ Amber màu vàng có độ trong từ bán trong mờ đến đục. Trong số các loại Beeswax Amber, loại có màu vàng mỡ gà – <em>chicken-fat yellow beeswax</em> khá nổi tiếng vì có màu sắc tươi sáng. Tuy nhiên, nguồn cung của chúng khá hạn chế so với nhu cầu đặc biệt tại thị trường Trung Quốc. Dó đó, các phương pháp để tăng cường màu sắc của Beeswax Amber ra đời.</p>
<p style="text-align: justify;"><em>Steam dyeing – nhuộm khí hơi</em>  là một trong các phương pháp nhằm cải thiện màu của Beeswax Amber bằng cách đưa các bọt khí từ nước màu vào cấu trúc của Amber ở điều kiện nhiệt độ và áp suất gần với hơi nước bão hòa.</p>
<table style="border-collapse: collapse; width: 100%; height: 271px;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-535 size-full" src="http://lab.pnj.io/wp-content/uploads/2022/11/1-e1668951021585.jpg" alt="" width="620" height="201" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/1-e1668951021585.jpg 620w, https://pnjlab.com.vn/wp-content/uploads/2022/11/1-e1668951021585-300x97.jpg 300w" sizes="(max-width: 620px) 100vw, 620px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;"><strong><em>Hình 1</em></strong><em>: Trái: Viên Amber có màu “sáp ong vàng mỡ gà”, kích thước khoảng 15mm, được xử lý bằng phương pháp nhuộm khí hơi. Phải: Amber hình giọt nước màu cam đậm bất thường là kết quả của xử lý nhuộm khí hơi. Ảnh của Fen Liu.</em></td>
</tr>
</tbody>
</table>
<p style="text-align: justify;"><strong>DẤU HIỆU NHẬN BIẾT</strong></p>
<p style="text-align: justify;">Thay vì màu vàng phớt trắng tự nhiên của Amber Baltic, có thể thấy màu vàng sáng hoặc cam, cả hai màu này đều bất thường. Dưới nguồn sáng mạnh hạt có màu vàng như hạt tròn trong hình 1 (trái) cho thấy các đốm màu, đó là bằng chứng của việc nhuộm không đều (hình 3); kiểm tra dưới kính hiển vi còn cho thấy các bọt khí bị ép lại gây ra bởi xử lý hơi. Hơn thế, các sợi màu đỏ không liên quan đến các vết nứt ở giữa các bọt khí gần bề mặt là dấu vết của vết thuốc nhuôm còn sót lại (hình 3, trái).</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 49.7293%;"><img decoding="async" loading="lazy" class="wp-image-537 alignright" src="http://lab.pnj.io/wp-content/uploads/2022/11/2.jpg" alt="" width="312" height="204" /></td>
<td style="width: 50.2707%;">  <img decoding="async" loading="lazy" class="wp-image-539 alignleft" src="http://lab.pnj.io/wp-content/uploads/2022/11/3.jpg" alt="" width="316" height="180" /></td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 100%; height: 66px;">
<tbody>
<tr style="height: 66px;">
<td style="width: 100%; height: 66px; text-align: center;">
<p style="text-align: justify;"><strong><em>Hình 2</em></strong><em>: Trái: Hai hạt Amber màu vàng sáng ở trung tâm được xử lý bằng phương pháp nhuộm khí hơi, trong khi lắc tay bao gồm các viên Amber có màu tự nhiên. Ảnh của Jiewan Huang. </em><em>Phải: </em><em>Các mảng màu lốm đốm tối hơn trong mẫu cho thấy hạt được nhuộm không đều màu. Ảnh của Fen Li.</em></p>
</td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 100%; height: 260px;">
<tbody>
<tr style="height: 196px;">
<td style="width: 100%; height: 196px;"><img decoding="async" loading="lazy" class="aligncenter wp-image-541 size-full" src="http://lab.pnj.io/wp-content/uploads/2022/11/4.jpg" alt="" width="636" height="196" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/4.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/11/4-300x92.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr style="height: 64px;">
<td style="width: 100%; text-align: justify; height: 64px;"><strong><em>Hình 3</em></strong><em>: Trái: Các bọt khí bị ép lại được gây ra bởi nhuộm khí hơi, các sợi màu đỏ là dấu vết có thể có của thuốc nhuộm còn sót lại. Phải: Vùng màu cam đậm giữa các bọt khí, không liên quan đến vết nứt là vùng màu gây ra bởi thuốc nhuộm. Ảnh của Shufang Nie.</em></td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Màu của các mẫu Amber hình giọt nước (hình 1 bên phải) dường như đậm hơn so với Amber màu “chicken – fat” . Màu này có thể nhạt đi khi lau bề mặt bằng aceton. Dưới độ phóng đại 40x, các bọt khí có viền màu vàng. Các khu vực giàu bọt khí có màu đậm hơn so với những vùng ít bọt khí. Một số vùng cam đậm bất thường là dấu hiệu của thuốc nhuộm còn sót lại (hình 3, bên phải). Tất cả các dấu hiệu này cho thấy Amber đã được xử lý bằng phương pháp nhuộm khí hơi.</p>
<p style="text-align: right;"><em>Theo Gems &amp; Gemology, Summer 2016, Vol. 52, No. 2, pp.213-214</em></p>
<p style="text-align: right;">
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/phuong-phap-xu-ly-nhuom-khi-hoi-ho-phach-steam-dyed-amber/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Sự khác nhau về quá trình thành tạo của kim cương thiên nhiên và kim cương tổng hợp</title>
		<link>https://pnjlab.com.vn/su-khac-nhau-ve-qua-trinh-thanh-tao-cua-kim-cuong-thien-nhien-va-kim-cuong-tong-hop/</link>
					<comments>https://pnjlab.com.vn/su-khac-nhau-ve-qua-trinh-thanh-tao-cua-kim-cuong-thien-nhien-va-kim-cuong-tong-hop/#respond</comments>
		
		<dc:creator><![CDATA[Trần Tân]]></dc:creator>
		<pubDate>Mon, 19 Dec 2022 01:17:03 +0000</pubDate>
				<category><![CDATA[Tin Chuyên Ngành]]></category>
		<guid isPermaLink="false">https://pnjlab.com.vn/?p=1375</guid>

					<description><![CDATA[QUÁ TRÌNH TĂNG TRƯỞNG CỦA KIM CƯƠNG THIÊN NHIÊN Tinh thể kim cương thiên nhiên được thành tạo hàng triệu năm, thậm chí hàng tỷ năm ở dưới sâu bên trong trái đất tại độ sâu khoảng 160 &#8211; 660 km và được mang lên bề mặt thông qua các núi lửa phun nổ. Những...]]></description>
										<content:encoded><![CDATA[<p><strong>QUÁ TRÌNH TĂNG TRƯỞNG CỦA KIM CƯƠNG THIÊN NHIÊN</strong></p>
<p style="text-align: justify;">Tinh thể kim cương thiên nhiên được thành tạo hàng triệu năm, thậm chí hàng tỷ năm ở dưới sâu bên trong trái đất tại độ sâu khoảng 160 &#8211; 660 km và được mang lên bề mặt thông qua các núi lửa phun nổ. Những núi lửa này thường có dạng ống (pipe) thẳng đứng, thành phần chủ yếu là đá phun trào kimberlite. Người ta khai thác những ống kimberlite này để tìm kiếm kim cương và quặng được làm vỡ cơ học để tách kim cương ra khỏi kimberlite. Hàm lượng kim cương trong kimberlite rất thấp, có thể chỉ 1/1 triệu carat vì vậy phải khai thác một lượng rất lớn quặng mới thu hồi được kim cương.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1376 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/1.jpg" alt="" width="636" height="448" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/1.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/1-300x211.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: center;">Hình 1: Bối cảnh và vị trí thành tạo của kim cương trong lòng đất</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Kim cương thiên nhiên tăng trưởng dưới điều kiện nhiệt độ và áp suất rất cao. Nhiệt độ tăng trưởng của kim cương thiên nhiên cao hơn nhiệt độ được sử dụng để tăng trưởng kim cương tổng hợp. Tại nhiệt độ cao và có thời gian tăng trưởng lâu, kim cương thiên nhiên tăng trưởng tinh thể dạng bát diện (octaheral) nhưng ở nhiệt độ thấp hơn và thời gian tăng trưởng rất ngắn (vài tuần đến hơn một tháng) trong phòng thí nghiệm, kim cương tổng hợp tăng trưởng tinh thể có cả mặt bát diện và mặt lập phương (cubic).</p>
<p style="text-align: justify;">Tinh thể kim cương thiên nhiên tăng trưởng và nằm sâu trong lòng đất một thời gian rất dài trước khi xuất hiện trên mặt đất, chính điều này làm cho tạp chất nitrogen trong kim cương có đủ thời gian để liên kết lại với nhau thành cặp hoặc nhóm, do đó trên 95% kim cương thiên nhiên thuộc loại Ia.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1378 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/2.jpg" alt="" width="616" height="212" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/2.jpg 616w, https://pnjlab.com.vn/wp-content/uploads/2022/12/2-300x103.jpg 300w" sizes="(max-width: 616px) 100vw, 616px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 2: Tinh thể kim cương thiên nhiên (hình trái) thường có dạng bát diện và bị tròn cạnh do chịu ảnh hưởng của điều kiện môi trường dưới sâu bên trong trái đất. Chúng được mang lên mặt đất từ các núi lửa phun nổ có thành phần kimberlite (hình giữa).Mô hình tinh thể bát diện lý tưởng của kim cương thiên nhiên (hình phải)</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;"><strong> QUÁ TRÌNH TỔNG HỢP KIM CƯƠNG</strong></p>
<p style="text-align: justify;">Các nhà khoa học đã tổng hợp thành công kim cương lần đầu tiên vào giữa thập niên 1950, những tinh thể kim cương tổng đầu tiên có kích thước nhỏ và chất lượng công nghiệp. Việc sản xuất những tinh thể lớn phục vụ cho thị trường nữ trang được bắt đầu vào giữa thập niên 1990 và tiếp tục cho đến nay với hàng loạt công ty và tập đoàn tham gia vào lĩnh vực này. Tại một số quốc gia kim cương được tổng hợp phục vụ cho cả nhu cầu trang sức và nhu cầu công nghiệp, thậm chí nhu cầu công nghiệp có thể còn quan trọng hơn.</p>
<p style="text-align: justify;">Hiện nay có hai phương pháp được sử dụng để tổng hợp kim cương. Phương pháp truyền thống được gọi là <strong>phương pháp áp suất cao, nhiệt độ cao </strong>(HPHT-high pressure,high temperature): kim cương được tăng trưởng bên trong một hợp kim nóng chảy gồm sắt (Fe), nickel (Ni) hoặc cobalt (Co). Phương pháp mới hơn được gọi là <strong>phương pháp tích tụ hơi hóa học </strong>(CVD- chemical vapor deposition): kim cương được tăng trưởng từ khí có chứa nguyên tử carbon (như là methan) bên trong buồng chân không</p>
<p style="text-align: justify;">Cả hai phương pháp này đều cần đến mầm mà có thể là một tinh thể kim cương hoặc một vật liệu dạng tấm mỏng để bắt đầu quá trình tổng hợp.</p>
<p style="text-align: justify;"><strong>Quá trình tổng hợp HPHT</strong></p>
<p style="text-align: justify;">Quá trình tăng trưởng kim cương tổng hợp HPHT diễn ra trong buồng kín (capsule) được đặt bên trong một thiết bị có khả năng tạo ra được nguồn nhiệt (~1300 -1600<sup>0</sup>C) và áp suất (~5-6 GPa) rất cao. Bên trong buồng kín, bột kim cương (nguyên liệu tổng hợp) hòa tan trong hợp kim nóng chảy (metal alloy flux), sau đó kết tinh trên mầm để hình thành tinh thể kim cương tổng hợp. Quá trình kết tinh này chỉ có thể diễn ra trong vài tuần đến hơn một tháng và tạo ra được một hoặc một vài tinh thể kim cương tổng hợp.</p>
<p style="text-align: justify;">Tinh thể kim cương tổng hợp HPHT có thêm những mặt lập phương ngoài những mặt bát diện. Bởi vì dạng tinh thể của kim cương thiên nhiên và kim cương HPHT khác nhau nên cấu trúc tăng trưởng bên trong của chúng cũng khác nhau, đây chính là một trong những dấu hiệu đáng tin cậy nhất để phân biệt chúng với nhau.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1380 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/3-4.jpg" alt="" width="512" height="181" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/3-4.jpg 512w, https://pnjlab.com.vn/wp-content/uploads/2022/12/3-4-300x106.jpg 300w" sizes="(max-width: 512px) 100vw, 512px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 3: Trong quá trình tổng hợp HPHT, một thiết bị được sử dụng để tạo ra môi trường áp suất và nhiệt độ cực cao cho buồng tăng trưởng (hình trái). Tinh thể kim cương HPHT có cả mặt lập phương-màu xanh và mặt bát diện-màu vàng (hình giữa và phải).</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Hầu hết tinh thể kim cương HPHT có màu vàng, vàng cam, vàng phớt nâu và chủ yếu thuộc loại Ib &#8211; loại này hiếm trong kim cương thiên nhiên.</p>
<p style="text-align: justify;">Trước dây, để tạo ra kim cương tổng hợp HPHT không màu (colorless) là một thách thức rất lớn, bởi vì muốn tạo ra được kim cương HPHT không màu phải giải quyết được 2 vấn đề chính sau: thứ nhất là ngăn cản sự xâm nhập của tạp chất nitrogen vào cấu trúc mạngtinh thể trong quá trình tăng trưởng, thứ hai là tốc độ tăng trưởng của kim cương tổng hợp HPHT không màu (loại IIa hoặc loại IIb yếu-ít boron) chậm hơn kim cương tổng hợp HPHT loại Ib, do đó cần phải có thời gian tăng trưởng lâu hơn và điều kiện nhiệt độ, áp suất được kiểm soát tốt hơn. Gần đây với sự phát triển của khoa học và nỗ lực nghiên cứu, các nhà khoa học đã điều chỉnh thành công điều kiện tăng trưởng và thiết bị phù hợp để tạo ra được những tinh thể đủ lớn để mài được viên đá với trọng lượng trên 10 carat</p>
<p style="text-align: justify;">Bằng cách thêm tạp chất boron (B) vào trong quá trình tăng trưởng sẽ tạo ra được những tinh thể kim cương tổng hợp HPHT màu xanh dương. Những màu khác như là hồng và đỏ được tạo ra bằng cách xử lý chiếu xạ và ủ nhiệt sau khi tăng trưởng, loại này hiếm gặp trên thị trường.</p>
<p style="text-align: justify;"><strong>Quá trình tổng hợp CVD</strong></p>
<p style="text-align: justify;">Quá trình tăng trưởng kim cương tổng hợp CVD diễn ra bên trong buồng chân không (nhiệt độ ~ 700-1000<sup>0</sup>C và áp suất ~ 1/20-1/4 atmosph) được bơm đầy khí có chứa carbon, như là methan. Một nguồn năng lượng (chùm microwve) được sử dụng để bẻ gãy liên kết giữa các phân tử khí và nguyên tử carbon rớt xuống dưới tấm mầm. Quá trình kết tinh này diễn ra trong khoảng vài tuần để tạo ra nhiều tinh thể cùng lúc, số lượng tinh thể phụ thuộc vào kích thước buồng tăng trưởng và số lượng mầm. Tinh thể sau khi tăng trưởng có dạng tấm với xung quanh viền là graphite đen.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1382 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/5.jpg" alt="" width="624" height="230" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/5.jpg 624w, https://pnjlab.com.vn/wp-content/uploads/2022/12/5-300x111.jpg 300w" sizes="(max-width: 624px) 100vw, 624px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 4: Trong quá trình tổng hợp CVD, kim cương tăng trưởng thành từng lớp mỏng chồng lên nhau, độ dày tinh thể sau khi tăng trưởng phụ thuộc vào thời gian tăng trưởng (hình trái). Với phương pháp này, tinh thể có dạng tấm phẳng (hình giữa và phải) với xung quanh viền là graphite đen.</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Hầu hết tinh thể kim cương CVD có màu nâu nhạt hoặc xám nhạt, nhưng nếu thêm một lượng nhỏ tạp chất nitrogen hoặc boron vào trong buồng tăng trưởng thì sẽ tạo ra màuvàng, cam, hồng hoặc xanh dương. Trái ngược với phương pháp HPHT, tinh thể không màu được tạo ra dễ dàng hơn với phương pháp này nhưng phải cần thời gian tăng trưởng rất lâu. Hầu hết kim cương CVD không màu xuất hiện trên thị trường đều đã trải qua quá trình xử lý nhiệt để loại bỏ màu nâu. Kim cương tổng hợp CVD chủ yếu thuộc loại IIa.</p>
<p style="text-align: justify;">Cũng giống như quá trình tổng hợp HPHT, quá trình tổng hợp CVD đang tiếp tục được cải thiện và cho phép các nhà sản xuất tạo ra được những tinh thể lớn với độ tinh khiết và cấp độ màu ngày càng cao.</p>
<p style="text-align: right;"><span style="font-size: 90%;">Nguồn: GIA Diamond &amp; Diamond Grading Course và Gem &amp; Gemology Journal</span></p>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/su-khac-nhau-ve-qua-trinh-thanh-tao-cua-kim-cuong-thien-nhien-va-kim-cuong-tong-hop/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Quá trình kim cương xuất hiện trên mặt đất</title>
		<link>https://pnjlab.com.vn/cach-kim-cuong-xuat-hien-tren-mat-dat/</link>
					<comments>https://pnjlab.com.vn/cach-kim-cuong-xuat-hien-tren-mat-dat/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Thu, 15 Dec 2022 23:04:46 +0000</pubDate>
				<category><![CDATA[Tin Chuyên Ngành]]></category>
		<guid isPermaLink="false">http://lab.pnj.io/?p=897</guid>

					<description><![CDATA[Khi tìm hiểu những kiến thức cơ bản về quá trình và nơi thành tạo của kim cương chúng ta thấy rằng sẽ không có cách nào tiếp cận trực tiếp kim cương trừ khi quá trình thiên nhiên mang kim cương lên mặt đất. Nếu quá trình thiên nhiên không mang kim cương lên...]]></description>
										<content:encoded><![CDATA[<p style="text-align: justify;">Khi tìm hiểu những kiến thức cơ bản về quá trình và nơi thành tạo của kim cương chúng ta thấy rằng sẽ không có cách nào tiếp cận trực tiếp kim cương trừ khi quá trình thiên nhiên mang kim cương lên mặt đất. Nếu quá trình thiên nhiên không mang kim cương lên mặt đất thì nó sẽ vẫn mãi mãi ở trong lớp manti của trái đất.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class=" wp-image-898 aligncenter" src="http://lab.pnj.io/wp-content/uploads/2022/11/kimcuong_05.jpg" alt="" width="319" height="431" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: center;">Hình 1: Trái đất gồm 3 phần chính: vỏ, manti và lõi. Vỏ trái đất rất mỏng so với manti và lõi.</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Sau khi đã thành tạo cách đây hàng trăm triệu năm nếu gặp điều kiện phù hợp thì kim cương nằm trong manti có thể được mang lên mặt đất. Quá trình mang lên này diễn ra nhanh chóng bởi vì kim cương đang ở trong điều kiện nhiệt độ rất cao ở manti nếu trải qua một thời gian dài dưới điều kiện áp suất giảm liên tục trong lúc vận chuyển thì sẽ không tồn tại được.</p>
<p><strong>SỰ VẬN CHUYỂN VÀ PHÓNG THÍCH KIM CƯƠNG (TRANSPORT AND DELIVERY)</strong></p>
<p style="text-align: justify;">Những tích tụ kim cương được phát hiện trong hai loại đá: kimberlite và lamproite. Thành phần khoáng vật và thành phần hóa học của hai loại đá này tương tự nhau. Điểm khác nhau chính giữa hai loại đá này nằm ở chỗ, trong khi kimberlite có khuynh hướng xuất hiện ở giữa craton thì lamproite lại được phát hiện phổ biến ở rìa hoặc những khu vực xung quang rìa craton. Mỏ Argle ở Australia là một trong những tích tụ lamproite chứa kim cương điển hình trên thế giới</p>
<table style="width: 100%; border-collapse: collapse; background-color: #e6e6e6;">
<tbody>
<tr>
<td style="width: 100%; text-align: center;"><span style="color: #ed1c24; font-size: 105%;"><span style="font-size: 110%;">Craton: một phần của vỏ lục địa trái đất có đặc điểm là cổ, rộng lớn và điều kiện địa chất ổn định</span>.</span></td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="size-full wp-image-900 aligncenter" src="http://lab.pnj.io/wp-content/uploads/2022/11/kimcuong_06.jpg" alt="" width="387" height="307" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/kimcuong_06.jpg 387w, https://pnjlab.com.vn/wp-content/uploads/2022/11/kimcuong_06-300x238.jpg 300w" sizes="(max-width: 387px) 100vw, 387px" /></td>
</tr>
<tr>
<td style="width: 100%;">Hình 2: Bên dưới craton có nhiệt độ và áp suất phù hợp cho sự thành tạo kim cương và cũng đủ ổn định để bảo quản kim cương hàng trăm triệu năm sau khi thành tạo.</td>
</tr>
</tbody>
</table>
<p><span style="font-size: 14.4px; text-align: justify;">Dung nham Kimberlite và lamproite được đẩy lên bề mặt đặt cách đây hàng tỷ năm và đôi khi chứa kim cương. Quá trình vật liệu được đưa lên mặt đất có chứa hoặc không chứa kim cương được gọi là sự tích tụ (emplacement). Tích tụ chứa kim cương đầu tiên xuất hiện cách đây hơn 2,5 tỷ năm và tích tụ trẻ nhất có thể cách đây khoảng 20 triệu năm.</span></p>
<table style="width: 100%; border-collapse: collapse; background-color: #e6e6e6;">
<tbody>
<tr>
<td style="width: 100%;">
<p style="text-align: center;"><span style="color: #ed1c24; font-size: 110%;">Sự tích tụ (emplacement) – quá trình địa chất phóng thích vật liệu (đôi khi có kim cương) lên bề mặt đất.</span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Điều quan trọng cần nhớ là kim cương chất lượng ngọc (gem-quality diamond) không được thành tạo trong kimberlite và lamproite. Hai loại đá này chỉ có nhiệm vụ là mang kim cương đã thành tạo trong manti lên bề mặt đất. Điều này được các nhà khoa học chứng minh bằng việc xác định tuổi của kim cương già hơn tuổi của đá kimberlite và lamproite hàng triệu hoặc hàng tỷ năm.</p>
<p style="text-align: justify;">Nguồn nhiệt bên trong trái đất giúp cho một phần lớp manti luôn ở trạng thái nóng chảy hoặc chảy lỏng. Vật liệu đá nóng chảy (được gọi là magma) sẽ giãn nở khi nóng lên và nổi lên trên, tương tự như không khí sẽ nổi lên trên trần nhà khi nhiệt độ trong phòng nóng lên. Khi magma nổi lên cao nó bắt đầu nguội lạnh, co lại, nặng hơn và chìm xuống trở lại. Khi hạ xuống nó lại nóng lên và bắt đầu một chu trình mới. Chu trình nóng lên nguội lạnh, nổi lên rơi xuống này lặp đi lặp lại đều đặn bên trong manti được gọi là dòng đối lưu (convection currents). Những dòng đối lưu này giúp cho lớp nóng chảy của manti luôn ở trạng thái dao động liên tục.</p>
<p style="text-align: justify;">Nếu hỗn hợp những nguyên tố hóa học phù hợp thì magma sẽ tạo thành kimberlite hoặc lamproite. Khi magma này nổi lên nếu gặp một khe nứt sâu trong vỏ trái đất nó sẽ tiếp tục di chuyển lên trên. Và nếu quá trình nổi lên của kimberlite hoặc lamprote đi ngang qua khu vực có chứa kim cương trong manti thì nó sẽ cuốn theo kim cương và mang lên mặt đất.</p>
<p style="text-align: justify;">Trong quá trình magma di chuyển lên trên mặt đất áp suất sẽ liên tục giảm. Áp suất càng giảm thì magma di chuyển với vận tốc càng nhanh và khi gần đến mặt đất nó sẽ đạt vận tốc khoảng 300 km/giờ. Áp suất giảm cũng làm cho một phần dung dịch magma giãn nở thành khí (gồm hơi nước và carbon dioxide). Cơ chế này tương tự như khi lắc mạnh và bật nắp chai rượu champagne.</p>
<p style="text-align: justify;">Sự kết hợp giữa vận tốc nhanh và sự giãn nở khí là nguồn năng lượng đủ lớn để tạo ra quá trình phun nổ núi lửa. Khi dòng magma kimberlite đi xuyên qua vỏ trái đất nó hình thành một thành tạo núi lửa dạng quả cà-rốt (carrot) được gọi là pipe. Lamproite cũng tương tự nhưng pipe của nó lại giống cây nấm (mushroom).</p>
<table style="width: 100%; border-collapse: collapse; background-color: #e6e6e6;">
<tbody>
<tr>
<td style="width: 100%;">
<p style="text-align: center;"><span style="color: #ed1c24; font-size: 110%;">Pipe: thành tạo địa chất thẳng đứng và sâu trên bề mặt đất kết quả từ sự tích tụ của kimberlite và lamproite</span></p>
</td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="size-full wp-image-902 aligncenter" src="http://lab.pnj.io/wp-content/uploads/2022/11/kimcuong_07.jpg" alt="" width="343" height="432" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/kimcuong_07.jpg 343w, https://pnjlab.com.vn/wp-content/uploads/2022/11/kimcuong_07-238x300.jpg 238w" sizes="(max-width: 343px) 100vw, 343px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: center;">Hình 3: Kim cương có thể chờ hàng triệu năm (1) trước khi núi lửa phun nổ mang chúng lên mặt đất (2). Kết</td>
</tr>
</tbody>
</table>
<p><span style="font-size: 14.4px; text-align: justify;">Sự giãn nở khí và vận tốc di chuyển là hai nhân tố rất quan trọng đến sự tồn tại của kim cương khi đi lên mặt đất. Sự kết hợp này giúp kim cương không bị biến đổi thành graphite, điều này sẽ xảy ra khi kim cương nằm quá lâu dưới điều kiện nhiệt độ cao và áp suất giảm trong một khoảng thời gian dài khi đi chuyển lên trên. Thực tế trong một số mỏ, các nhà địa chất đã phát hiện một số graphite có dạng tinh thể kim cương, nguyên nhân là do điều kiện nhiệt độ và áp suất thay đổi trong quá trình di chuyển lên trên đã biến đổi kim cương thành graphite.</span></p>
<p><strong>XUẤT HIỆN TRÊN MẶT ĐẤT</strong></p>
<p style="text-align: justify;">Kimberlite hoặc lamproite không chảy tràn ra khỏi pipe giống như dung nham của những loại núi lửa phun trào mà nó phun nổ. Nó có thể hóa rắn ngay khi còn rất nóng vì vậy khi gần đến bề mặt nó đã chuyển từ thể lỏng thành thể rắn. Vật liệu của sự phun nổ là hỗn hợp đá cứng, tro và khí. Sau khi bay lên không trung hầu hết vật liệu này sẽ rơi trở lại vào trong pipe. Kết thúc quá trình phun nổ sẽ để lại một pipe sâu chứa kim cương và một miệng núi lửa nông (crater).</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;">
<table style="border-collapse: collapse; width: 100%; height: 21px;">
<tbody>
<tr style="height: 21px;">
<td style="width: 50%; height: 21px;"><img decoding="async" loading="lazy" class="aligncenter size-full wp-image-904" src="http://lab.pnj.io/wp-content/uploads/2022/11/kimcuong_08.jpg" alt="" width="407" height="539" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/kimcuong_08.jpg 407w, https://pnjlab.com.vn/wp-content/uploads/2022/11/kimcuong_08-227x300.jpg 227w" sizes="(max-width: 407px) 100vw, 407px" /></td>
<td style="width: 50%; height: 21px;"><img decoding="async" loading="lazy" class="aligncenter size-full wp-image-906" src="http://lab.pnj.io/wp-content/uploads/2022/11/kimcuong_09.jpg" alt="" width="468" height="624" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/kimcuong_09.jpg 468w, https://pnjlab.com.vn/wp-content/uploads/2022/11/kimcuong_09-225x300.jpg 225w" sizes="(max-width: 468px) 100vw, 468px" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="width: 100%;">
<p style="text-align: center;">Hình 4: Mô hình chuẩn của một kimberlite pipe (hình trái) và hai kimberlite pipe tại mỏ Diavik – Canada (hình phải)<em>. </em></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Đôi khi – có thể hàng triệu năm sau – tích tụ kim cương mới có thể xuất hiện bên trong pipe cũ. Thực tế có thể có vài tích tụ xuất hiện trong cùng một pipe. Kim cương của những tích tụ mới sẽ có những đặc điểm hơi khác so với những tích tụ trước đó.</p>
<p style="text-align: justify;">Kimberlite thì phổ biến, năm 1990 người ta đã phát hiện khoảng 6,000 pipe chứa kimberlite trên toàn thế giới, nhưng chưa đến 1,000 trong số này chứa kim cương. Trong số đó, chỉ khoảng 50 pipe chứa đủ hàm lượng kim cương để khai thác mang lại hiệu qua kinh tế và khoảng 20 pipe vẫn còn hoạt động đến ngày nay. Với số liệu thống kê trên sẽ không có gì lạ khi kim cương được xem là vật liệu quý và hiếm nhất trên trái đất.</p>
<p style="text-align: justify;">Tìm hiểu về quá trình thành tạo và tích tụ của kim cương giúp chúng ta nhận ra rằng kim cương là một món quà tuyệt vời mà thiên nhiên ban tặng. Những kiến thức này sẽ làm phong phú kiến thức và nhận thức về kim cương bất kể chúng ta đang làm trong lĩnh vực nào của ngành kim cương.</p>
<p style="text-align: right;"><span style="font-size: 90%;">Nguồn: GIA Diamond&amp;Diamond Grading Course và Gem&amp;Gemology Journal</span></p>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/cach-kim-cuong-xuat-hien-tren-mat-dat/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Hệ thống phân loại &#8220;Type &#8211; Diamond&#8221; và tầm quan trọng trong ngọc học</title>
		<link>https://pnjlab.com.vn/he-thong-phan-loai-type-diamond-va-tam-quan-trong-trong-ngoc-hoc/</link>
					<comments>https://pnjlab.com.vn/he-thong-phan-loai-type-diamond-va-tam-quan-trong-trong-ngoc-hoc/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Fri, 25 Nov 2022 09:54:32 +0000</pubDate>
				<category><![CDATA[Tin Chuyên Ngành]]></category>
		<guid isPermaLink="false">http://lab.pnj.io/?p=1009</guid>

					<description><![CDATA[Kim cương tinh khiết chỉ có một nguyên tố là carbon. Những nguyên tử trong kim cương được sắp xếp theo một cấu trúc đặc biệt (mạng tinh thể) không giống với bất kì một loại đá quý nào khác. Tuy nhiên, nguyên tử của những nguyên tố như là nitrogen (N) và boron (B)...]]></description>
										<content:encoded><![CDATA[<p style="text-align: justify;">Kim cương tinh khiết chỉ có một nguyên tố là carbon. Những nguyên tử trong kim cương được sắp xếp theo một cấu trúc đặc biệt (mạng tinh thể) không giống với bất kì một loại đá quý nào khác. Tuy nhiên, nguyên tử của những nguyên tố như là nitrogen (N) và boron (B) có thể thay thế một số nguyên tử carbon trong mạng tinh thể kim cương. Những tạp chất khác cũng có thể có mặt trong kim cương nhưng hệ thống phân loại loại kim cương chỉ dựa trên sự hiện diện hoặc vắng mặt của tạp chất nitrogen và boron và cách chúng sắp xếp trong mạng tinh thể (hình 1)</p>
<p style="text-align: justify;"><strong>SỰ PHÂN LOẠI LOẠI KIM CƯƠNG</strong></p>
<p style="text-align: justify;">Hệ thống phân loại loại kim cương được hình thành dựa trên sự hiện diện hoặc vắng mặt của nitrogen – tạp chất phổ biến nhất trong kim cương. Kim cương loại I là loại kim cương có chứa tạp chất N mà có thể đo được bởi phổ hồng ngoại, trong khi đó kim cương loại II thì không có chứa đủ N có thể nhận biết bằng phổ hồng ngoại. Những loại này thường được chia thành những cấp nhỏ hơn dựa trên đặc điểm của tạp chất mà nó có mặt.</p>
<p style="text-align: justify;"><strong>Kim cương loại I được chia thành loại Ia và loại Ib. Cả hai phụ nhóm này đều chứa N, nhưng nguyên tử N trong mỗi nhóm thì được sắp xếp khác nhau.</strong></p>
<p style="text-align: justify;">&#8211; Trong loại Ib, những nguyên tử N đơn lẻ thay thế nguyên tử carbon trong mạng tinh thể thì cách ly (isolated) với những nguyên tử N khác, nghĩa là chúng không nằm cạnh nhau trong mạng tinh thể. Những tạp chất N loại này thường được gọi trong các văn liệu khoa học bằng những từ như là: <em>isolated N</em>, <em>single substitutional N</em> và <em>C centers</em>.</p>
<p style="text-align: justify;">&#8211; Ngược lại, kim cương loại Ia chứa những nguyên tử N nằm sát bên nhau, trong loại này có hai dạng liên kết N có thể nhận biết được bằng phổ hồng ngoại.</p>
<p style="text-align: justify;">     + Loại liên kết phổ biến nhất đối với kim cương loại Ia là hai nguyên tử N liên kết với nhau trong mạng tinh thể. Mặc dù hai nguyên tử này chiếm hai vị trí cạnh nhau, nhưng mỗi cặp N thì cách ly với cặp khác trong mạng tinh thể. Những tạp chất N này thường được gọi là <em>A aggregates</em> (hoặc <em>A centers</em>) và kim cương chứa tạp chất này được gọi là <em>loại IaA</em>.</p>
<p style="text-align: justify;">     + Loại liên kết còn lại là bốn nguyên tử N bao quanh một lổ hổng (vacancy – là một vị trí trong mạng tinh thể mà không có chứa bất kì nguyên tử nào) một cách đối xứng. Những tạp chất này được gọi là <em>B</em> <em>aggregates </em>(hoặc <em>B centers</em>) và được gọi là kim cương <em>loại IaB</em>.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1010" src="http://lab.pnj.io/wp-content/uploads/2022/11/1-1.jpg" alt="" width="793" height="704" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/1-1.jpg 713w, https://pnjlab.com.vn/wp-content/uploads/2022/11/1-1-300x266.jpg 300w" sizes="(max-width: 793px) 100vw, 793px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 1: Hệ thống phân loại loại kim cương dựa trên sự hiện diện hoặc vắng mặt của tạp chất nitrogen và boron và những loại liên kết của chúng trong mạng tinh thể kim cương. Biểu đồ này miêu tả cách mà nguyên tử N và B thay thế nguyên tử C trong mạng tinh thể kim cương. Kim cương loại Ia chứa tạp chất N tập hợp gồm A aggregates và B aggregates. Kim cương loại Ib chứa nguyên tử N cách ly. Kim cương loại IIa không chứa tạo chất có thể đo được, và loại IIb chứa tạp chất boron.</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;"><strong>Kim cương loại II được chia thành loại IIa và IIb.</strong></p>
<p style="text-align: justify;">&#8211; Kim cương loại IIa không có chứa tạp chất N hoặc boron có thể đo được bằng phổ hồng ngoại</p>
<p style="text-align: justify;">&#8211; Kim cương loại IIb cũng không chứa tạp chất N, nhưng thay vào đó là chứa tạp chất boron thay thế carbon trong mạng tinh thể. Tính chất đặc trưng của kim cương loại IIb là độ dẫn điện tốt (do tạp chất boron).</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter size-full wp-image-1012" src="http://lab.pnj.io/wp-content/uploads/2022/11/type-diamond.jpg" alt="" width="793" height="375" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/type-diamond.jpg 793w, https://pnjlab.com.vn/wp-content/uploads/2022/11/type-diamond-300x142.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/11/type-diamond-768x363.jpg 768w" sizes="(max-width: 793px) 100vw, 793px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 2: Màu chịu ảnh hưởng mạnh mẽ bởi tạp chất/tâm màu trong mạng tinh thể kim cương. Do đó, loại kim cương đóng vai trò quan trọng trong khả năng tạo màu của kim cương tự nhiên, tổng hợp hoặc xử lý. Hình trên thể hiện một số màu đặc trưng của mỗi loại. Ảnh: GIA</td>
</tr>
</tbody>
</table>
<p><strong>MỐI QUAN HỆ GIỮA LOẠI KIM CƯƠNG VÀ XỬ LÝ MÀU</strong></p>
<p style="text-align: justify;">Kim cương tự nhiên thường có màu liên quan với loại của chúng (hình 2). Ví dụ: kim cương tự nhiên loại Ia thường không màu, nâu, hồng hoặc tím, trong khi đó kim cương loại Ia được xử lý màu thường phổ biến màu vàng, cam, đỏ, xanh dương và lục. Kim cương loại Ib gần như luôn luôn có màu nâu, vàng hoặc cam, trong khi đó kim cương loại Ib được chiếu xạ nhân tạo và ủ nhiệt thường có màu hồng hoặc đỏ. Xử lý HPHT (High Pressure, High Temperature) có thể tạo ra màu vàng từ kim cương loại Ib. Xử lý HPHT có thể cải thiện kim cương loại IIa màu nâu nhạt thành không màu hoặc màu hồng, và có thể tạo ra màu xanh dương từ một số kim cương loại IIb. Tuy nhiên, xử lý HPHT không thể biến đổi kim cương loại Ia thành không màu, vì vậy nếu một nhà ngọc học xác định rằng viên kim cương không màu là loại Ia thì không cần phải gởi tới những phòng thí nghiệm để kiểm tra thêm nữa (một ít kim cương tổng hợp không màu xuất hiện trên thị trường gần đây là loại IIa)</p>
<p style="text-align: justify;">Hầu hết những phương pháp xử lý để tạo ra, thay đổi hoặc loại bỏ màu ở kim cương được thực hiện dựa trên sự tái sắp xếp những khuyết tật (defects) trong mạng tinh thể kim cương. Dựa vào loại kim cương có thể xác định được những tâm màu có thể được tạo ra hoặc bị phá hủy trong quá trình xử lý, từ đó sẽ thu được kết quả mong muốn. Chiếu xạ thường được thực hiện trên tất cả các loại kim cương để tạo ra màu lục hoặc xanh dương, vì vậy trong trường hợp này thì loại kim cương không quan trọng. Tuy nhiên, nếu chiếu xạ và sau đó là quá trình ủ nhiệt với nhiệt độ khoảng 800 – 1000<sup>0</sup>C để tạo ra màu vàng hoặc màu hồng thì loại kim cương của vật liệu ban đầu trước khi xử lý là rất quan trọng. Kim cương loại I sẽ thường thay đổi thành màu vàng đậm, cam, hồng hoặc đỏ khi được chiếu xạ sau đó ủ nhiệt, trong khi đó kim cương loại II hiếm khi cho ra màu đậm do thiếu những tạp chất (chủ yếu là N) cần thiết để tạo ra những tâm màu. Vì vậy, các nhà ngọc học phải lưu ý rằng kim cương loại II thường không trải qua quá trình xử lý chiếu xạ sau đó ủ nhiệt.</p>
<p style="text-align: justify;">Để phát hiện xử lý HPHT cần phải hiểu sâu sắc về loại kim cương. Trong hầu hết trường hợp, xử lý HPHT chỉ làm mất màu kim cương loại IIa (hình 3). Điều kiện HPHT sẽ làm thay đổi màu nâu – những vùng bị biến dạng trong viên đá – trở thành không màu hoặc gần không màu. Đôi khi xử lý HPHT có thể biến đổi kim cương loại II thành màu hồng hoặc xanh dương. Trong khi đó kim cương nâu loại I nếu được xử lý HPHT sẽ thay đổi thành những tông màu khác nhau của màu vàng (do sự hiện của tạp chất N). Gần đây sự kết hợp giữa xử lý HPHT và chiếu xạ với ủ nhiệt áp suất thấp được sử dụng để tạo ra màu hồng, đỏ, cam đậm hơn trong cả kim cương loại Ia và IIa.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter size-full wp-image-1014" src="http://lab.pnj.io/wp-content/uploads/2022/11/2-.jpg" alt="" width="594" height="649" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/2-.jpg 594w, https://pnjlab.com.vn/wp-content/uploads/2022/11/2--275x300.jpg 275w" sizes="(max-width: 594px) 100vw, 594px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 3: Ảnh hưởng của xử lý HPHT phụ thuộc mạnh mẽ vào loại của kim cương trước khi xử lý. Kim cương nâu loại IIa có thể trở thành không màu bởi vì màu nâu liên quan với sự biến dạng dẻo trong mạng tinh thể thì dễ dàng bị biến đổi bởi nhiệt độ và áp suất cao; thường thì không có tâm màu mới được tạo ra trong quá trình này do sự vắng mặt của tạp chất N. Kim cương nâu loại Ia chứa một lượng lớn N tập hợp nên sẽ bẫy những lổ hổng trong quá trình xử lý để tạo ra tâm H3 và phá hủy N tập hợp thành nitrogen cách ly; cả hai quá trình này kết hợp với nhau sẽ tạo ra viên kim cương màu vàng</td>
</tr>
</tbody>
</table>
<p><strong>MỐI QUAN HỆ GIỮA LOẠI KIM CƯƠNG VÀ KIM CƯƠNG TỔNG HỢP</strong></p>
<p style="text-align: justify;">Trong những năm gần đây, sản lượng kim cương tổng hợp HPHT tăng lên đáng kể và kim cương tổng hợp CVD (chemical vapor deposite) bắt đầu đi vào thị trường đá quý. Vì vậy, các nhà ngọc học phải chịu một áp lực rất lớn để phát hiện những loại kim cương tổng hợp trong phòng thí nghiệm này. Loại kim cương có thể cung cấp một ít dấu hiệu về kim cương tổng hợp. Kim cương tổng hợp HPHT gần như tất cả đều là loại Ib, loại này hiếm khi nào gặp trong kim cương tự nhiên. Kim cương tự nhiên loại Ib thường chứa nhiều bao thể khoáng vật và có sức căng (strain patterns) nhiều màu sắc (quan sát dưới 2 nicol vuông góc). Ngược lại, kim cương tổng hợp HPHT loại Ib chỉ chứa bao thể  flux và chúng có sức căng rất yếu hoặc không có. Kim cương tổng hợp CVD hầu hết là loại IIa và đặc trưng là không màu hoặc màu nâu nhạt. Loại kim cương tổng hợp này có thể phân biệt với kim cương tự nhiên và kim cương được xử lý màu bằng sự vắng mặt của hiệu ứng sức căng dạng “tatami” (dạng sọc cắt nhau). Đôi khi cả phương pháp tổng hợp HPHT và CVD đều tạo ra kim cương tổng hợp loại IIb màu xanh dương. Sự vắng mặt của sức căng dạng “tatami”, kết hợp với sự hiện diện của độ dẫn điện có thể nhận dạng được kim cương tổng hợp loại này.</p>
<p style="text-align: justify;">Hầu hết kim cương tổng hợp loại Ib xuất hiện trên thị trường gần đây đều có màu vàng đậm tới cam. Bởi vì chúng được tăng trưởng trong môi trường giống với môi trường  xử lý màu ở kim cương tự nhiên loại Ib, do đó màu của kim cương xử lý màu và kim cương tổng hợp rất giống nhau. Những năm gần đây, với sự phát triển của công nghệ tổng hợp kim cương CVD làm cho kim cương không màu loại IIa có thể nhầm lẫn với kim cương tổng hợp CVD.</p>
<p style="text-align: right;"><span style="font-size: 90%;"><i>Nguồn: Gem &amp; Gemology</i>, Vol. 45, No. 2, pp. 96-111.</span></p>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/he-thong-phan-loai-type-diamond-va-tam-quan-trong-trong-ngoc-hoc/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Kim cương thiên nhiên loại IIa phát lân quang mạnh và có tâm màu liên quan với Nickel</title>
		<link>https://pnjlab.com.vn/kim-cuong-thien-nhien-loai-iia-phat-lan-quang-manh-va-co-tam-mau-lien-quan-voi-nickel/</link>
					<comments>https://pnjlab.com.vn/kim-cuong-thien-nhien-loai-iia-phat-lan-quang-manh-va-co-tam-mau-lien-quan-voi-nickel/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Thu, 24 Nov 2022 10:09:07 +0000</pubDate>
				<category><![CDATA[Tin Chuyên Ngành]]></category>
		<guid isPermaLink="false">http://lab.pnj.io/?p=952</guid>

					<description><![CDATA[Hình 1: Ảnh phát quang của hai viên kim cương 0.18 và 0.30 ct dưới DiamondView. Bên trái: Phát huỳnh quang màu xanh dương phớt xám và phát lân quang mạnh màu xanh dương. Bên phải: phát huỳnh quang màu đỏ tươi và phát lân quang mạnh màu xanh dương, và cấu trúc mạng lưới...]]></description>
										<content:encoded><![CDATA[<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="wp-image-946 aligncenter" src="http://lab.pnj.io/wp-content/uploads/2022/11/fig8LR-226194-1280x-1.jpg" alt="" width="700" height="282" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/fig8LR-226194-1280x-1.jpg 1280w, https://pnjlab.com.vn/wp-content/uploads/2022/11/fig8LR-226194-1280x-1-300x121.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/11/fig8LR-226194-1280x-1-1024x412.jpg 1024w, https://pnjlab.com.vn/wp-content/uploads/2022/11/fig8LR-226194-1280x-1-768x309.jpg 768w" sizes="(max-width: 700px) 100vw, 700px" /></td>
</tr>
<tr>
<td style="width: 100%;">
<p style="text-align: justify;">Hình 1: Ảnh phát quang của hai viên kim cương 0.18 và 0.30 ct dưới DiamondView. Bên trái: Phát huỳnh quang màu xanh dương phớt xám và phát lân quang mạnh màu xanh dương. Bên phải: phát huỳnh quang màu đỏ tươi và phát lân quang mạnh màu xanh dương, và cấu trúc mạng lưới trên mặt table. Ảnh: Shi Tang.</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Phát lân quang (phosphorescence) mạnh sau khi được kích thích bằng tia cực tím (UV) thì rất hiếm gặp trong kim cương thiện nhiên và hiện tượng này thường chỉ xuất hiện trong kim cương chameleon loại IaA/Ib hoặc loại Ia giàu hydrogen và kim cương loại IIb (T. Hainschwang et al., <a href="https://www.gia.edu/gems-gemology/spring-2005-chameleon-diamonds-hainschwang" target="_blank" rel="noopener">“A gemological study of a collection of chameleon diamonds,”</a>Spring 2005 <em>G&amp;G</em>, pp. 20–35; S. Eaton-Magaña and R. Lu, “Phosphorescence in type IIb diamonds,” <em>Diamond and Related Materials</em>, Vol. 20, No. 7, 2011, pp. 983–989). Khi hiện tượng này xuất hiện trong những loại kim cương khác nó thường có cường độ nhẹ và thời gian phát quang rất ngắn. Gần đây, National Gemstone Testing Center (NGTC) tại Bắc Kinh phát hiện hai viên kim cương thiên nhiên phát lân quang mạnh, màu xanh dương bất thường và màu phát huỳnh quang cũng thuộc loại hiếm gặp dưới DiamondView.</p>
<p style="text-align: justify;">Hai viên kim cương này có trọng lượng lần lượt là 0.18 và 0.30 carat, cả hai đều có cấp độ màu E. Phổ hồng ngoại xác nhận hai viên kim cương này thuộc loại IIa do không có bất kì sự hấp thu nào của tạp chất nitrogen trong vùng bước sóng từ 1100 đến 1400 cm<sup>-1</sup> và của tạp chất liên quan đến boron. Kiểm tra dưới kính hiển vi và đèn cực tím tiêu chuẩn (bước sóng 254 và 365 nm) không phát hiện bất kì dấu hiệu bất thường nào. Thay vì phát huỳnh quang màu xanh dương đậm và không phát lân quang dưới DiamondView như những viên kim cương loại IIa bình thường thì viên 0.18 ct lại phát huỳnh quang màu xanh dương phát xám (grayish blue) và phát lân quang mạnh màu xanh dương, đặc điểm này tương tự như kim cương tổng hợp HPHT không màu. Còn viên 0.30 ct phát huỳnh quang màu đỏ tươi và phát lân quang mạnh màu xanh dương, đây là đặc điểm bất thường đối với kim cương thiên nhiên không màu và gần không màu (hình 1). Phát huỳnh quang màu đỏ rất hiếm khi gặp trong kim cương thiên nhiên loại IIa và ít khi được đề cập trong các văn liệu. (<a href="https://www.gia.edu/gems-gemology/summer-2016-labnotes-natural-colorless-type-iia-diamond-bright-red-fluorescence" target="_blank" rel="noopener">Summer 2016 Lab Notes, pp. 189–190</a>)</p>
<p style="text-align: justify;">Phổ Photoluminescence (PL) tiến hành tại nhiệt độ nitrogen lỏng với nguồn laser kích thích 532 nm phát hiện một số đặc điểm đáng lưu ý. Ngoài tâm GR1 tại 741nm đặc trưng của kim cương thiên nhiên loại IIa, đỉnh kép tại 883.0/884.7 nm liên quan với tạp chất nickel xuất hiện trong cả hai mẫu (hình 2). Đỉnh kép này – còn được gọi là “tâm 1.40eV’ – thường thấy trong mặt tăng trưởng {111} của kim cương tổng hợp HPHT. Tâm màu liên quan với nikcel thì phổ biến trong kim cương thiên nhiên vàng phớt lục và chameleon (W. Wang et al., “<a href="https://www.gia.edu/gems-gemology/fall-2007-natural-type-1a-diamond-green-yellow-color-wang" target="_blank" rel="noopener">Natural type Ia diamond with green-yellow color due to Ni-related defects</a>,” Fall 2007 <em>G&amp;G</em>, pp. 240–243; <a href="https://www.gia.edu/gems-gemology/summer-2014-labnotes-chameleon-diamond-nickel-absorption" target="_blank" rel="noopener">Summer 2014 Lab Notes, pp. 151–152</a>)  nhưng rất hiếm khi xuất hiện trong kim cương thiên nhiên không màu và gần không màu. Đối với kim cương thiên nhiên mà phát lân quang mạnh như trên và có tâm màu liên quan với nickel thì thật sự bất thường.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="wp-image-948 aligncenter" src="http://lab.pnj.io/wp-content/uploads/2022/11/fig9-226208-1280x.jpg" alt="" width="700" height="541" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/fig9-226208-1280x.jpg 1280w, https://pnjlab.com.vn/wp-content/uploads/2022/11/fig9-226208-1280x-300x232.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/11/fig9-226208-1280x-1024x792.jpg 1024w, https://pnjlab.com.vn/wp-content/uploads/2022/11/fig9-226208-1280x-768x594.jpg 768w" sizes="(max-width: 700px) 100vw, 700px" /></td>
</tr>
<tr>
<td style="width: 100%;">
<p style="text-align: justify;">Hình 2: Phổ PL của hai mẫu với nguồn laser kích thích 532 nm. Cả hai mẫu đều có đỉnh kép liên quan với nickel tại 883.0/884.7 nm và tâm NV tại 575 và 637 nm với cường độ mạnh, ngoài ra còn tâm GR1 tại 741 nm.</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Phổ PL của mẫu 0.30 ct thể hiện cường độ của tâm NV tại 575 nm rất mạnh, đây chính là nguyên nhân tạo ra phát huỳnh quang màu đỏ dưới DiamondView. Phổ PL của cả hai mẫu đều thê hiện cường độ của tâm NV<sup>0</sup> tại 575 nm mạnh hơn rất nhiều so với tâm NV<sup>–</sup>  tại 637 nm, đặc điểm này là một trong những dấu hiệu chính minh nguồn gốc thiên nhiên của hai mẫu kim cương này.</p>
<table style="border-collapse: collapse; width: 100%; height: 561px;">
<tbody>
<tr style="height: 518px;">
<td style="width: 100%; height: 518px;"><img decoding="async" loading="lazy" class="wp-image-950 aligncenter" src="http://lab.pnj.io/wp-content/uploads/2022/11/fig10-226207-1280x.jpg" alt="" width="700" height="519" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/fig10-226207-1280x.jpg 1280w, https://pnjlab.com.vn/wp-content/uploads/2022/11/fig10-226207-1280x-300x222.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/11/fig10-226207-1280x-1024x759.jpg 1024w, https://pnjlab.com.vn/wp-content/uploads/2022/11/fig10-226207-1280x-768x569.jpg 768w" sizes="(max-width: 700px) 100vw, 700px" /></td>
</tr>
<tr style="height: 43px;">
<td style="width: 100%; height: 43px; text-align: justify;">Hình 3: Phổ PL của mẫu 0.30 với nguồn laser kích thích 532 nm ở mức năng lượng cao hơn. Tâm NV có cường độ rất mạnh, hai đỉnh tại 648 và 776 nm được thấy rõ ràng hơn</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Ngoài ra khi kiểm tra mẫu 0.30 ct với nguồn laser kích thích 532 nm ở mức năng lượng, phổ PL còn phát hiện thêm đỉnh kép tại 648/649 nm và một đỉnh tại 776 nm (hình 3). Theo như những nghiên cứu trước đây thì đỉnh của phổ PL tại 648.2 và 776.4 nm liên quan với tạp chất boron trong kim cương thiên nhiên loại IIb có phát lân quang (Eaton-Magaña and Lu, 2011). Tuy nhiên những nghiên cứu sau này thì cho rằng đỉnh 648.2 nm thì liên quan với tổ hợp boron-interstitial, trong khi đó đỉnh 776.4 nm thì liên quan với tổ hợp boron-vacancy (S. Eaton-Magaña and T. Ardon, “Temperature effects on luminescence centers in natural type IIb diamonds,” <em>Diamond and Related Materials</em>, Vol. 69, 2016, pp. 86–95). Hai tâm này có thể giải thích một phần cho hiện tượng phát lân quang mạnh trong mẫu 0.30 ct. Trong khi đó mẫu 0.18 ct không xuất hiện hai tâm boron-interstitial và boron-vacancy, do đó hiện tượng phát lân quang mạnh có thể không phụ thuộc hoàn toàn vào hai tâm này.</p>
<p style="text-align: justify;">Mặc dù màu phát huỳnh quang và phát lân quang dưới DiamondView và xuất hiện tạp chất liên quan với nickel trong phổ PL tương tự như kim cương tổng hợp HPHT, nhưng khi tổ hợp các kết quả phân tích dưới phổ hồng ngoại FTIR, phổ UV-Vis, phổ PL và quan sát dưới hai nicol vuông góc xác nhận rằng hai mẫu này là kim cương thiên nhiên. Hai mẫu này cho thấy sự đa dạng của màu phát quang và đặc điểm phổ PL, ngoài ra cũng góp phần vào sự hiểu biết toàn diện hơn về nguồn gốc của kim cương thiên nhiên.</p>
<p>&nbsp;</p>
<p style="text-align: right;"><span style="font-size: 90%;"><em>Nguồn: Shi Tang, Zhonghua Song, Taijin Lu, Jun Su, and Yongwang Ma.</em><em> Gem&amp;Gemology, Vol. 53, No. 4</em></span></p>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/kim-cuong-thien-nhien-loai-iia-phat-lan-quang-manh-va-co-tam-mau-lien-quan-voi-nickel/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
