<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	 xmlns:media="http://search.yahoo.com/mrss/" >

<channel>
	<title>Đặc Điểm Đá Quý &#8211; Pnjlab</title>
	<atom:link href="https://pnjlab.com.vn/dac-diem-da-quy/feed/" rel="self" type="application/rss+xml" />
	<link>https://pnjlab.com.vn</link>
	<description>Công Ty TNHH Một Thành Viên Giám Định PNJ</description>
	<lastBuildDate>Fri, 17 Feb 2023 07:34:19 +0000</lastBuildDate>
	<language>vi-VN</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.1.6</generator>

<image>
	<url>https://pnjlab.com.vn/wp-content/uploads/2022/10/pnj-icon.png</url>
	<title>Đặc Điểm Đá Quý &#8211; Pnjlab</title>
	<link>https://pnjlab.com.vn</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>SUNSTONE</title>
		<link>https://pnjlab.com.vn/sunstone/</link>
					<comments>https://pnjlab.com.vn/sunstone/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Fri, 17 Feb 2023 07:34:19 +0000</pubDate>
				<category><![CDATA[Đặc Điểm Đá Quý]]></category>
		<guid isPermaLink="false">http://lab.pnj.io/?p=833</guid>

					<description><![CDATA[TỔNG QUAN Sunstone có hiệu ứng đặc trưng là aventurescence, nhưng không phải Sunstone nào cũng có hiệu ứng như vậy. Nhóm khoáng vật: Feldspar Công thức hóa học: NaAlSi3O8 và CaAl2Si2O8 Màu sắc: vàng hoặc cam đến nâu Chiết suất: Orthoclase sunstone &#8211; 1,518 &#8211; 1,526 Oligoclase sunstone &#8211; 1.537 &#8211; 1.547 Labradorite sunstone...]]></description>
										<content:encoded><![CDATA[<table style="border-collapse: collapse; width: 100%; height: 270px;">
<tbody>
<tr style="height: 322px;">
<td style="width: 57.6084%; text-align: center; height: 270px;">
<p style="text-align: center;"><span style="font-size: 130%;"><strong>TỔNG QUAN</strong></span></p>
<p>Sunstone có hiệu ứng đặc trưng là aventurescence,</p>
<p>nhưng không phải Sunstone nào cũng có hiệu ứng như vậy.</p>
<p><strong>Nhóm khoáng vật:</strong> Feldspar</p>
<p><strong>Công thức hóa học:</strong> NaAlSi<sub>3</sub>O<sub>8 </sub>và CaAl<sub>2</sub>Si<sub>2</sub>O<sub>8</sub></p>
<p><strong>Màu sắc:</strong> vàng hoặc cam đến nâu</p>
<p><strong>Chiết suất:</strong></p>
<p>Orthoclase sunstone &#8211; 1,518 &#8211; 1,526</p>
<p>Oligoclase sunstone &#8211; 1.537 &#8211; 1.547</p>
<p>Labradorite sunstone &#8211; 1.559 &#8211; 1.568</p>
<p><strong>Hệ số lưỡng chiết suất:</strong></p>
<p style="text-align: left;">Orthoclase &#8211; 0,005 &#8211; 0,008, Oligoclase và labradorite &#8211; 0,007 &#8211; 0,010</p>
<p><strong>Tỷ trọng:</strong></p>
<p>Orthoclase &#8211; 2,58, Oligoclase &#8211; 2,65, Labradorite &#8211; 2,70</p>
<p><strong>Độ cứng Mohs:</strong> 6 &#8211; 7.5</td>
<td style="width: 42.3916%; height: 270px;"><img decoding="async" loading="lazy" class="aligncenter wp-image-834 size-medium" src="http://lab.pnj.io/wp-content/uploads/2022/11/SUNSTONE-300x170.jpg" alt="" width="300" height="170" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/SUNSTONE-300x170.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/11/SUNSTONE.jpg 633w" sizes="(max-width: 300px) 100vw, 300px" /></p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%; text-align: center;"><em style="font-size: 75%; color: #555555; font-family: inherit;">                                           Sunstone từ Tamil Nadu, Ấn Độ.                                            Nguồn: Shane F. McClure/GIA.edu</em></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><strong>ĐÔI ĐIỀU VỀ SUNSTONE</strong></p>
<p style="text-align: justify;">Sunstone là loại đá quý thuộc nhóm khoáng vật Feldspar, hiệu ứng ở Sunstone gọi là aventurescence – có ánh kim loại được gây ra bởi các bao thể dạng tấm (flat), có sự phản xạ ánh sáng. Nhưng không phải tất cả các loại Sunstone đều có hiệu ứng này. Sự xuất hiện của hiệu ứng phụ thuộc vào kích thước của các bao thể. Các bao thể nhỏ tạo ra ánh phớt đỏ hoặc vàng (golden) trên bodycolor. Các bao thể lớn hơn tạo ra các phản xạ ánh sáng lấp lánh. Các bao thể có thể là hematit, đồng hoặc một số khoáng chất khác.</p>
<p style="text-align: center;"><strong>NƠI NÀO KHAI THÁC SUNSTONE?</strong></p>
<p style="text-align: justify;">Sunstone được tìm thấy ở Úc, Canada, Congo, Trung Quốc,  Ethiopia, Ấn Độ, Mexico, Na Uy, Nga, Sri Lanka, Tanzania, Mỹ và nhiều nơi trên thế giới.</p>
<table style="border-collapse: collapse; width: 100%; height: 20px;">
<tbody>
<tr style="height: 10px;">
<td style="width: 100%; height: 10px;"><span style="font-size: 75%;"><strong>TÀI LIỆU THAM KHẢO</strong></span></td>
</tr>
<tr style="height: 10px;">
<td style="width: 100%; height: 10px;"><em><span style="font-size: 75%;">https://www.gia.edu/sunstone-description; https://geology.com/gemstones/sunstone/     </span></em></td>
</tr>
</tbody>
</table>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/sunstone/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>TOURMALINE</title>
		<link>https://pnjlab.com.vn/tourmaline/</link>
					<comments>https://pnjlab.com.vn/tourmaline/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Fri, 17 Feb 2023 07:33:38 +0000</pubDate>
				<category><![CDATA[Đặc Điểm Đá Quý]]></category>
		<guid isPermaLink="false">http://lab.pnj.io/?p=851</guid>

					<description><![CDATA[TỔNG QUAN Tên Tourmaline được bắt nguồn bởi từ “toramlli” trong tiếng Sinhalese, có nghĩa là nhiều màu sắc kết hợp với nhau. Khoáng vật: Tourmaline Công thức hóa học:                  Elbaite Na(Li5,Al1.5)Al6Si6O18(BO3)3(OH)4                  Dravite NaMg3Al6Si6O18(BO3)3(OH)4          ...]]></description>
										<content:encoded><![CDATA[<table style="border-collapse: collapse; width: 100%; height: 279px;">
<tbody>
<tr style="height: 322px;">
<td style="width: 50.6766%; text-align: center; height: 279px;">
<p style="text-align: center;"><span style="font-size: 130%;"><strong>TỔNG QUAN</strong></span></p>
<p>Tên Tourmaline được bắt nguồn bởi</p>
<p>từ “toramlli” trong tiếng Sinhalese, có</p>
<p>nghĩa <span style="font-family: inherit; font-size: inherit;">là nhiều màu sắc kết hợp với nhau.</span></p>
<p><strong>Khoáng vật:</strong> Tourmaline</p>
<p><strong>Công thức hóa học: </strong></p>
<p style="text-align: left;">                 Elbaite Na(Li<sub>5</sub>,Al<sub>1.5</sub>)Al<sub>6</sub>Si<sub>6</sub>O<sub>18</sub>(BO<sub>3</sub>)<sub>3</sub>(OH)<sub>4</sub></p>
<p style="text-align: left;">                 Dravite NaMg<sub>3</sub>Al<sub>6</sub>Si<sub>6</sub>O<sub>18</sub>(BO<sub>3</sub>)<sub>3</sub>(OH)<sub>4</sub></p>
<p style="text-align: left;">                 Liddicoatite Ca(Li<sub>2</sub>Al)Al<sub>6</sub>Si<sub>6</sub>O<sub>18</sub>(BO<sub>3</sub>)<sub>3</sub>(OH)<sub>3</sub>F</p>
<p style="text-align: left;">                 Chromedravite NaMg<sub>3</sub>Cr<sub>6</sub>Si<sub>6</sub>O<sub>18</sub>(BO<sub>3</sub>)<sub>3</sub>(OH)<sub>4</sub></p>
<p><strong>Màu sắc:</strong> tất cả các màu sắc</p>
<p><strong>Chiết suất:</strong> 1.624 – 1.644 (+0.011, -0.009)</p>
<p><strong>Tỷ trọng:</strong> 3.06 (+0.20, -0.06)</p>
<p><strong>Độ cứng Mohs:</strong> 7 &#8211; 7.5</td>
<td style="width: 49.3234%; height: 279px;"><img decoding="async" loading="lazy" class="aligncenter wp-image-852 size-medium" src="http://lab.pnj.io/wp-content/uploads/2022/11/TOURMALINE-300x169.jpg" alt="" width="300" height="169" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/TOURMALINE-300x169.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/11/TOURMALINE-768x432.jpg 768w, https://pnjlab.com.vn/wp-content/uploads/2022/11/TOURMALINE.jpg 1016w" sizes="(max-width: 300px) 100vw, 300px" /></p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%; text-align: center;"><span style="font-size: 75%;"><span style="font-size: 75%;"><em>                                                                    </em></span>Tourmaline với nhiều màu sắc.                                                    Nguồn: Robert Weldon/GIA.edu</span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><strong>TOURMALINE– LOẠI ĐÁ QUÝ CỦA THÁNG 10</strong></p>
<p style="text-align: justify;">Tourmaline là loại đá quý đại diện cho những ai có sinh nhật vào tháng 10 cũng như để sử dụng để kỉ niệm 8 năm ngày cưới. Tourmaline thường bị nhầm lẫn với các loại đá quý khác. Những năm 1500 người Tây Ban Nha đã tìm thấy tinh thể Tourmaline màu xanh lục ở Brazil và bị nhầm với Emerald. Cho đến những năm 1800 Tourmaline mới được công nhận là một loại khoáng vật riêng biệt.</p>
<p style="text-align: center;"><strong>NƠI NÀO KHAI THÁC TOURMALINE?</strong></p>
<p style="text-align: justify;">Tourmaline được tìm thấy nhiều nhất ở Brazil, bên cạnh đó cũng được khai thác tại các mỏ ở Afghanistan, Pakistan, Kenya, Madagascar, Mozambique. Hầu hết Tourmaline được khai thác trong nhiều thế kỉ ở Brazil là đến từ pegmatites ở tiểu bang Minas Garais.</p>
<table style="border-collapse: collapse; width: 100%; height: 20px;">
<tbody>
<tr style="height: 10px;">
<td style="width: 100%; height: 10px;"><span style="font-size: 75%;"><strong>TÀI LIỆU THAM KHẢO</strong></span></td>
</tr>
<tr style="height: 10px;">
<td style="width: 100%; height: 10px;"><span style="font-size: 75%;"><em>https://www.gia.edu/birthstones/octoberbirthstones</em></span></td>
</tr>
</tbody>
</table>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/tourmaline/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>ZIRCON</title>
		<link>https://pnjlab.com.vn/zircon/</link>
					<comments>https://pnjlab.com.vn/zircon/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Tue, 14 Feb 2023 01:55:46 +0000</pubDate>
				<category><![CDATA[Đặc Điểm Đá Quý]]></category>
		<guid isPermaLink="false">http://lab.pnj.io/?p=857</guid>

					<description><![CDATA[TỔNG QUAN Zircon là loại đá đa màu sắc, có độ khúc xạ và lửa cao. Khoáng vật: Zircon Công thức hóa học:  ZrSiO4 Màu sắc: xanh dương, đỏ, vàng, cam, nâu, xanh lục Chiết suất:                      Zircon high: 1.925 – 1.984 (+/- 0.040)    ...]]></description>
										<content:encoded><![CDATA[<table style="border-collapse: collapse; width: 100%; height: 271px;">
<tbody>
<tr style="height: 322px;">
<td style="width: 50.6766%; text-align: center; height: 271px;">
<p style="text-align: center;"><span style="font-size: 130%;"><strong>TỔNG QUAN</strong></span></p>
<p>Zircon là loại đá đa màu sắc, có độ khúc xạ và lửa cao.</p>
<p><strong>Khoáng vật:</strong> Zircon</p>
<p><strong>Công thức hóa học:</strong>  ZrSiO<sub>4</sub></p>
<p><strong>Màu sắc:</strong> xanh dương, đỏ, vàng, cam, nâu, xanh lục</p>
<p><strong>Chiết suất:</strong></p>
<p style="text-align: left;"><strong>                     Zircon high</strong>: 1.925 – 1.984 (+/- 0.040)</p>
<p style="text-align: left;"><strong>                     Zircon medium</strong>: 1.875 – 1.905 (+/- 0.030</p>
<p style="text-align: left;"><strong>                     Zircon Low</strong>: 1.810 – 1.815 (+/-0.030)</p>
<p><strong>Hệ số lưỡng chiết suất:</strong> 0.000 – 0.059</p>
<p><strong>Tỷ trọng:</strong> 3.90 – 4.73</p>
<p><strong>Độ cứng Mohs: 6 – 7.5</strong></td>
<td style="width: 49.3234%; height: 271px;"><img decoding="async" loading="lazy" class="aligncenter wp-image-858 size-medium" src="http://lab.pnj.io/wp-content/uploads/2022/11/ZIRCON-300x222.png" alt="" width="300" height="222" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/ZIRCON-300x222.png 300w, https://pnjlab.com.vn/wp-content/uploads/2022/11/ZIRCON.png 497w" sizes="(max-width: 300px) 100vw, 300px" /></p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%; text-align: center;"><span style="font-size: 75%;"><em>                                        Viên zircon màu cam với độ bão hòa cao.</em>                                     <em>Nguồn: John Dyer, Zircon Super Trillion courtesy of John Dyer &amp; Co.</em></span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><strong>ZIRCON – LOẠI ĐÁ QUÝ CỦA THÁNG 12</strong></p>
<p style="text-align: justify;">Zircon là một trong những loại đá được biết đến vì sở hữu sự rực rỡ và lấp lánh nhiều màu sắc hay còn được gọi là “lửa”. Trong suốt thời đại Trung cổ, Zircon &#8211; một trong những loại đá đại diện cho những ai sinh vào tháng 12, được cho là sẽ giúp người đeo ngủ ngon và xua đuổi tà ma. Ngoài ra, đạo Hindu còn đề cập đến Zircon cùng với Hessonite Garnet là một trong chín loại đá quý Navaratna (Navaratna – “chín viên đá quý”, được biết đến là loại bùa mạnh nhất trong đạo Hindu. Chín loại đá quý này đại diện cho các thiên thể trong chiêm tinh học của Ấn Độ). Khi đeo các loại đá quý Navaratna cùng nhau, các loại đá quý này sẽ bảo vệ người đeo và mang lại sự giàu có, trí tuệ và sức khỏe tốt.</p>
<p style="text-align: center;"><strong>NƠI NÀO KHAI THÁC ZIRCON?</strong></p>
<p style="text-align: justify;">Vùng Elahera thuộc miền trung Sri Lanka là một trong những khu vực cung cấp cho thị trường một lượng lớn Zircon. Dãy Harts thuộc nước Úc được biết đến là nơi khai thác Zircon có màu vàng nâu, nâu phớt cam, hồng và tía. Ngoài ra, Zircon còn được khai thác nhiều ở các nước Đông Nam Á như Myanmar, Việt Nam và Campuchia.</p>
<table style="border-collapse: collapse; width: 100%; height: 20px;">
<tbody>
<tr style="height: 10px;">
<td style="width: 100%; height: 10px;"><span style="font-size: 75%;"><strong>TÀI LIỆU THAM KHẢO</strong></span></td>
</tr>
<tr style="height: 10px;">
<td style="width: 100%; height: 10px;"><span style="font-size: 75%;"><em>https://www.gia.edu/birthstones/december-birthstones.</em></span></td>
</tr>
</tbody>
</table>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/zircon/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>DIOPSIDE</title>
		<link>https://pnjlab.com.vn/diopside/</link>
					<comments>https://pnjlab.com.vn/diopside/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Tue, 14 Feb 2023 01:54:41 +0000</pubDate>
				<category><![CDATA[Đặc Điểm Đá Quý]]></category>
		<guid isPermaLink="false">http://lab.pnj.io/?p=734</guid>

					<description><![CDATA[TỔNG QUAN Chrome Diopside – có độ trong suốt cao, màu xanh lục trung bình đến đậm, được dùng để thay thế những loại đá như là  Emerald, Tsavorite, Chrome Tourmaline. Khoáng vật: Diopside Công thức hóa học: CaMgSi2O6 Màu sắc: xanh dương phớt xanh lục đến xanh lục phớt vàng, nâu, đen, các màu...]]></description>
										<content:encoded><![CDATA[<table style="border-collapse: collapse; width: 100%; height: 336px;">
<tbody>
<tr style="height: 322px;">
<td style="width: 49.5602%; text-align: center; height: 336px;">
<p style="text-align: center;"><span style="font-size: 130%;"><strong>TỔNG QUAN</strong></span></p>
<p>Chrome Diopside – có độ trong suốt cao,</p>
<p>màu xanh lục trung bình đến đậm,</p>
<p>được dùng để <span style="font-family: inherit; font-size: inherit;">thay </span><span style="font-family: inherit; font-size: inherit;">thế </span><span style="font-family: inherit; font-size: inherit;">những </span><span style="font-family: inherit; font-size: inherit;">loại </span><span style="font-family: inherit; font-size: inherit;">đá </span></p>
<p><span style="font-family: inherit; font-size: inherit;">như là  </span><span style="font-family: inherit; font-size: inherit;">Emerald, </span><span style="font-family: inherit; font-size: inherit;">Tsavorite, Chrome </span><span style="font-family: inherit; font-size: inherit;">Tourmaline.</span></p>
<p><strong>Khoáng vật:</strong> Diopside</p>
<p><strong>Công thức hóa học:</strong> CaMgSi<sub>2</sub>O<sub>6 </sub></p>
<p><strong>Màu sắc:</strong> xanh dương phớt xanh lục đến</p>
<p><span style="font-family: inherit; font-size: inherit;">xanh</span><span style="font-family: inherit; font-size: inherit;"> lục </span><span style="font-family: inherit; font-size: inherit;">phớt vàng, nâu, đen, </span><span style="font-family: inherit; font-size: inherit;">các màu hiếm gặp:</span></p>
<p>xanh dương <span style="font-family: inherit; font-size: inherit;">đến tím, không màu đến trắng.</span></p>
<p><strong>Chiết suất:</strong> 1.675 &#8211; 1.701 (+0.029, -0.010)</p>
<p><strong>Hệ số lưỡng chiết suất:</strong> 0.024-0.030</p>
<p><strong>Tỷ trọng:</strong> 3.29 (+0.11, 0.07)</p>
<p><strong>Độ cứng Mohs:</strong> 5.5 &#8211; 6</td>
<td style="width: 50.4398%; height: 336px;">&nbsp;</p>
<p><img decoding="async" loading="lazy" class="aligncenter wp-image-735 size-medium" src="http://lab.pnj.io/wp-content/uploads/2022/11/DIOPSIDE-300x133.png" alt="" width="300" height="133" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/DIOPSIDE-300x133.png 300w, https://pnjlab.com.vn/wp-content/uploads/2022/11/DIOPSIDE.png 455w" sizes="(max-width: 300px) 100vw, 300px" /></p>
<table class=" aligncenter" style="width: 100%; border-collapse: collapse;">
<tbody>
<tr>
<td style="width: 100%;"><em>                     <span style="font-size: 75%;"> Tsavorite là loại đá đặc trưng có màu xanh lục thuộc nhóm Garnet.                       Nguồn: Van Rossen/Columbia Gem House, Colored Stones 2018, Book 5, pp. 240</span></em></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><strong>ĐÔI ĐIỀU VỀ LOẠI ĐÁ DIOPSIDE</strong></p>
<p style="text-align: justify;">Chrome Diopsode có độ trong suốt cao với màu xanh lục từ trung bình đến đậm hiện nay được dùng để thay thế những loại đá có giá trị cao hơn như Emerald, Tsavorite, Chrome Tuormaline. Với độ cứng từ 5.5 – 6 và hai hướng cát khai thì chúng rất dễ bị trầy xước, hay vỡ nếu va chạm mạnh, do đó cần hết sức cẩn thẩn khi sử dụng. Sự ưa chuộng hay là nguồn cung cấp bị hạn chế cũng ảnh hưởng đến sự phổ biến của Diopside trên thị trường đá quý.</p>
<p style="text-align: center;"><strong>NƠI NÀO KHAI THÁC DIOSIDE</strong><strong>?</strong></p>
<p style="text-align: justify;">Nguồn cung cấp chủ yếu là Myanmar, Ấn Độ, Sri Lanka, Madagascar. Các nguồn cung cấp nhỏ như là Áo, Brazil, Canada, Italy, Kenya, Pakistan, Nam Phi,….</p>
<table style="border-collapse: collapse; width: 100%; height: 20px;">
<tbody>
<tr style="height: 10px;">
<td style="width: 100%; height: 10px;"><span style="font-size: 75%;"><strong>TÀI LIỆU THAM KHẢO</strong></span></td>
</tr>
<tr style="height: 10px;">
<td style="width: 100%; height: 10px;"><span style="font-size: 75%;"><em>Colored stones 21018, Book 5, pp. 240</em>; <em>Gem Reference Guide 2019, pp.90</em></span></td>
</tr>
</tbody>
</table>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/diopside/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>MOONSTONE</title>
		<link>https://pnjlab.com.vn/moonstone/</link>
					<comments>https://pnjlab.com.vn/moonstone/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Tue, 14 Feb 2023 01:53:23 +0000</pubDate>
				<category><![CDATA[Đặc Điểm Đá Quý]]></category>
		<guid isPermaLink="false">http://lab.pnj.io/?p=801</guid>

					<description><![CDATA[TỔNG QUAN Moonstone thuộc nhóm khoáng vật Feldspar – nhóm khoáng vật cấu thành hơn một nửa của vỏ Trái Đất. Công thức hóa học: KAlSi3O8 Màu sắc: không màu đến trắng, xám, lục, hồng cam, nâu Chiết suất: 1.518 – 1.526 (+0.010) Tỷ trọng: 2.58 (±0.03) Độ cứng Mohs: 6 &#8211; 6.5    ...]]></description>
										<content:encoded><![CDATA[<table style="border-collapse: collapse; width: 100%; height: 322px;">
<tbody>
<tr style="height: 322px;">
<td style="width: 50.6766%; text-align: center; height: 322px;">
<p style="text-align: center;"><span style="font-size: 130%;"><strong>TỔNG QUAN</strong></span></p>
<p>Moonstone thuộc nhóm khoáng vật Feldspar –</p>
<p>nhóm khoáng vật cấu thành hơn một nửa của vỏ Trái Đất.</p>
<p><strong>Công thức hóa học:</strong> KAlSi<sub>3</sub>O<sub>8</sub></p>
<p><strong>Màu sắc:</strong> không màu đến trắng,</p>
<p>xám, lục, hồng cam, nâu</p>
<p><strong>Chiết suất:</strong> 1.518 – 1.526 (+0.010)</p>
<p><strong>Tỷ trọng:</strong> 2.58 (±0.03)</p>
<p><strong>Độ cứng Mohs:</strong> 6 &#8211; 6.5</td>
<td style="width: 49.3234%; height: 322px;"><img decoding="async" loading="lazy" class="aligncenter wp-image-802 size-medium" src="http://lab.pnj.io/wp-content/uploads/2022/11/MOONSTONE-300x169.jpg" alt="" width="300" height="169" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/MOONSTONE-300x169.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/11/MOONSTONE.jpg 636w" sizes="(max-width: 300px) 100vw, 300px" /></p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%; text-align: center;"><span style="font-size: 75%;"><em>                                  Moonstone thô (trái) và đã mài cabochon (phải).                                      Nguồn: David Humphrey/GIA.edu</em></span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><strong>MOONSTONE – LOẠI ĐÁ QUÝ CỦA THÁNG 6</strong></p>
<p style="text-align: justify;">Moonstone là loại đá quý đại diện cho những ai có sinh nhật vào tháng 6, đây là loại đá quý nổi tiếng trong nhóm khoáng vật Feldspar. Chúng đặc trưng với hiệu ứng adularescence – xuất hiện trên bề mặt viên đá. Moonstone loại tốt là loại có hiệu ứng màu xanh dương trên nền không màu. Moonstone thường gắn liền với tình yêu, niềm đam mê và khả năng sinh sản, chúng được tin rằng sẽ mang lại may mắn lớn cho người mang.</p>
<p style="text-align: center;"><strong>NƠI NÀO KHAI THÁC MOONSTONE?</strong></p>
<p style="text-align: justify;">Moonstone có thể được tìm thấy ở nhiều nơi trên thế giới. Các nguồn cung cấp Moonstone quan trọng nhất trên thế giới là Ấn Độ và Sri Lanka, bên cạnh đó còn có Brazil, Madagascar, Myanmar và Tanzania.</p>
<table style="border-collapse: collapse; width: 100%; height: 20px;">
<tbody>
<tr style="height: 10px;">
<td style="width: 100%; height: 10px;"><span style="font-size: 75%;"><strong>TÀI LIỆU THAM KHẢO</strong></span></td>
</tr>
<tr style="height: 10px;">
<td style="width: 100%; height: 10px;"><em><span style="font-size: 75%;">https://www.gia.edu/birthstones/junebirthstones</span></em></td>
</tr>
</tbody>
</table>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/moonstone/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
