<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	 xmlns:media="http://search.yahoo.com/mrss/" >

<channel>
	<title>Quy định dịch vụ &#8211; Pnjlab</title>
	<atom:link href="https://pnjlab.com.vn/dich-vu-giam-dinh/quy-dinh-dich-vu/feed/" rel="self" type="application/rss+xml" />
	<link>https://pnjlab.com.vn</link>
	<description>Công Ty TNHH Một Thành Viên Giám Định PNJ</description>
	<lastBuildDate>Wed, 18 Jan 2023 01:47:30 +0000</lastBuildDate>
	<language>vi-VN</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.1.6</generator>

<image>
	<url>https://pnjlab.com.vn/wp-content/uploads/2022/10/pnj-icon.png</url>
	<title>Quy định dịch vụ &#8211; Pnjlab</title>
	<link>https://pnjlab.com.vn</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>QUY ĐỊNH CHUNG VỀ DỊCH VỤ GIÁM ĐỊNH</title>
		<link>https://pnjlab.com.vn/quy-dinh-chung-ve-dich-vu-giam-dinh/</link>
					<comments>https://pnjlab.com.vn/quy-dinh-chung-ve-dich-vu-giam-dinh/#respond</comments>
		
		<dc:creator><![CDATA[Trần Tân]]></dc:creator>
		<pubDate>Wed, 18 Jan 2023 01:20:45 +0000</pubDate>
				<category><![CDATA[Quy định dịch vụ]]></category>
		<guid isPermaLink="false">https://pnjlab.com.vn/?p=1428</guid>

					<description><![CDATA[1. QUI ĐỊNH CHUNG 1.1. Khách hàng khi đến giao dịch tại Công ty TNHH MTV Giám định PNJ (viết tắt là PNJL) phải cung cấp đầy đủ và chính xác các thông tin ở PHIẾU YÊU CẦU GIÁM ĐỊNH đặt tại phòng giao dịch. PNJL sẽ căn cứ vào PHIẾU YÊU CẦU GIÁM ĐỊNH...]]></description>
										<content:encoded><![CDATA[<table>
<tbody>
<tr>
<td style="width: 714px;">
<p style="text-align: justify;"><span style="font-size: 110%;"><strong>1. </strong><strong>QUI ĐỊNH CHUNG</strong></span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">1.1. Khách hàng khi đến giao dịch tại Công ty TNHH MTV Giám định PNJ (viết tắt là PNJL) phải cung cấp đầy đủ và chính xác các thông tin ở PHIẾU YÊU CẦU GIÁM ĐỊNH đặt tại phòng giao dịch. PNJL sẽ căn cứ vào PHIẾU YÊU CẦU GIÁM ĐỊNH tiến hành lập BIÊN NHẬN GIÁM ĐỊNH. Các thông tin bao gồm: Tên Khách hàng, địa chỉ, số điện thoại, số CMND/ CCCD, Email (nếu có), tên Đơn vị, mã số thuế, yêu cầu dịch vụ. Trường hợp Niêm phong lại hay Cấp lại Giấy Giám định, Khách hàng cần cung cấp số N<sub>0</sub> (Number) của Mẫu Giám định (có thể kèm theo Niêm phong hoặc Giấy Giám định cũ).</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">1.2. PNJL không chịu trách nhiệm pháp lý về tính xác thực các thông tin do Khách hàng cung cấp.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">1.3. BIÊN NHẬN GIÁM ĐỊNH (BNGĐ) được xem như <strong>HỢP </strong><strong>Đ</strong><strong>ỒNG DỊCH VỤ GIÁM ĐỊNH (HĐDVGĐ) </strong>giữa PNJL và Khách hàng. BNGĐ được in thành hai bản, một bản do PNJL giữ và một bản do Khách hàng giữ.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">1.4. Trường hợp Khách hàng có sự thay đổi HĐDVGĐ phải gọi điện thông báo cho PNJL trong vòng 1 giờ kể từ khi gửi Mẫu (<em>không áp dụng cho yêu cầu Giám định nhanh</em>). Sau thời gian này, Khách hàng sẽ không được thay đổi bất kỳ nội dung nào trên HĐDVGĐ.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">1.5. BNGĐ chỉ xác nhận đúng <strong>SỐ LƯỢNG</strong> Mẫu Giám định. Các thông tin về trọng lượng, kích thước, màu sắc, dạng cắt mài, tên Mẫu do Khách hàng cung cấp, …chỉ mang tính chất tham khảo và nhận diện.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">1.6. PNJL không xác định bản chất thực tế Mẫu Giám định là loại đá gì, thiên nhiên, tổng hợp, có xử lý hay không tại thời điểm nhận Mẫu Giám định.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">1.7. BNGĐ chỉ có giá trị trong vòng 30 ngày kể từ ngày gửi Mẫu Giám định. Sau 30 ngày nếu Khách hàng vẫn chưa đến nhận kết quả và Mẫu Giám định PNJL sẽ gọi điện thông báo gia hạn thời gian cho Khách hàng trong vòng 15 ngày tiếp theo. Nếu trong khoảng thời gian này Khách hàng vẫn không đến lấy hoặc khi BNGĐ đã hết giá trị mà PNJL không liên hệ được với Khách hàng thì PNJL sẽ tiến hành lập biên bản niêm phong các Mẫu Giám định và có hướng giải quyết theo Quy định của Công ty.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">1.8. Trong trường hợp việc Giám định có trở ngại hay cần thay đổi, PNJL sẽ gọi điện thông báo, bàn bạc với Khách hàng trên tinh thần hợp tác, tôn trọng lẫn nhau để đưa ra hướng giải quyết tốt nhất.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">1.9. PNJL thực hiện việc Giám định một cách độc lập và có quyền từ chối yêu cầu Giám định khi Khách hàng không cung cấp đầy đủ thông tin trên PHIẾU YÊU CẦU GIÁM ĐỊNH hoặc xét thấy không đảm bảo về các yếu tố kỹ thuật, chuyên môn.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">1.10. Giấy Giám định của PNJL không phải là giấy Bảo hành, không định giá Mẫu Giám định đính kèm.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">1.11. PNJL không giữ vai trò đại diện hay đảm bảo cho Giấy Giám định vì Giấy giám định chỉ mô tả trung thực những đặc tính và các thông số kỹ thuật của Mẫu Giám định sau khi đã được Giám định theo đúng tiêu chuẩn và thiết bị hiện có của PNJL tại thời điểm Giám định. Kết quả Giám định trong những lần Giám định sau có thể thay đổi tùy thuộc vào:</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">·    Thời điểm, cách thức và Chuyên gia thực hiện Giám định.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">·    Những thay đổi và cải tiến công nghệ, thiết bị dùng Giám định giúp các Chuyên gia phát hiện những yếu tố khác của Mẫu mà trước đó PNJL không phát hiện được.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">1.12. Giấy Giám định cùng thương hiệu, logo của PNJL hay bất kỳ nội dung nào của Giấy Giám định nếu được sử dụng vào mục đích khác như quảng cáo, khuyến mãi, … phải được sự đồng ý của PNJL.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">1.13. PNJL sẽ không chịu trách nhiệm về pháp lý cho bất kì sự tranh chấp, hư hại, kể cả những thiệt hại của Khách hàng xuất phát từ lỗi sai sót trên Giấy Giám định và trong việc lưu hành Giấy Giám định.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">1.14. Quy định Niêm phong lại (Seal lại)</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">·    PNJL sẽ tiến hành Niêm phong lại các Mẫu Giám định khi đã xác định đúng các thông số kĩ thuật. Trường hợp các thông số kĩ thuật có sự sai lệch hoặc phát sinh các lỗi trong quá trình sử dụng Mẫu từ phía Khách hàng (<em>rạn, nứt, mẻ cạnh, mẻ đáy, cắt, mài, đánh bóng,…)</em> PNJL sẽ <strong>KHÔNG</strong> Niêm phong lại và thông báo trả lại Mẫu Giám định cho Khách hàng.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">·    Trường hợp còn niêm phong cũ do PNJL cung cấp mà tình trạng Mẫu Giám định vẫn còn nguyên vẹn thì PNJL sẽ mở niêm phong cũ và niêm phong mới lại theo yêu cầu của Khách hàng.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">·    Trường hợp còn niêm phong cũ do PNJL cung cấp nhưng tình trạng Mẫu Giám định không còn nguyên vẹn <em>(có dấu hiệu rạn, nứt, …</em>) mà Khách hàng vẫn có nhu cầu và đồng ý Niêm phong lại thì các Mẫu này phải được kiểm tra tình trạng Mẫu và lập biên bản xác nhận tình trạng Mẫu trước sự chứng kiến của đại diện PNJL và Khách hàng. Niêm phong cũ này phải do chính Khách hàng mở. Mọi rủi ro, khiếu nại về sau đối với trường hợp này PNJL hoàn toàn không chịu trách nhiệm.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">·    Trường hợp Mẫu Giám định còn nằm trong bao bì niêm phong của Khách hàng đề nghị Khách hàng mở niêm phong trước khi gửi Mẫu cho PNJL.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">1.15. Quy định trả kết quả và Mẫu Giám định</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">·    PNJL tiến hành trả kết quả và Mẫu Giám định khi:</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;"><em>(1) </em>Khách hàng có mang theo BNGĐ.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;"><em>(2) </em>Người đến nhận là người có tên trên BNGĐ.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">·    Trường hợp có sự thay đổi người đến nhận kết quả và Mẫu Giám định phải tuân thủ các quy định sau:</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;"><em>(1) </em>Khách hàng gửi Mẫu Giám định phải gọi điện thông báo cho PNJL.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;"><em>(2) </em>Người đến nhận thay phải cung cấp các thông tin sau: tên, địa chỉ, số điện thoại, số CMND/ CCCD.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;"><em>(3) </em>Có giấy uỷ quyền kèm theo chữ ký xác nhận của người gửi Mẫu Giám định.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;"><em>Các </em><em>Đơn vị </em><em>thuộc hệ thống </em><em>T</em><em>ập đoàn PNJ</em><em>,</em><em> khi thay đổi nhân viên phụ trách giao dịch</em><em> thì</em> <em>Trưởng đơn vị</em><em>, Chi nhánh hoặc </em><em>C</em><em>ửa hàng </em><em>T</em><em>rưởng phải thông báo trước cho </em><em>PNJL</em><em> (trực tiếp, điện thoại, giấy giới thiệu</em><em>&#8230;</em><em>).</em></span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">·    Trường hợp Khách hàng làm mất BNGĐ phải tuân thủ các quy định sau:</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;"><em>(1) </em>Khách hàng phải gọi điện thông báo sớm cho PNJL.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;"><em>(2) </em>Kết quả và Mẫu Giám định sẽ được giữ lại và chỉ giải quyết trả cho Khách hàng khi giá trị của BNGĐ đã hết hạn sau 03 ngày.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;"><em>(3) </em>Khách hàng phải làm giấy cam kết theo Mẫu của PNJL.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;"><em>(4) </em>Khách hàng phải cung cấp bản sao CMND/CCCD, giấy xác nhận của Doanh nghiệp (<em>nếu</em> <em>Khách hàng</em><em> là </em><em>D</em><em>oanh nghiệp</em>).</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;"><em>Các Đơn vị </em><em>thuộc T</em><em>ập đoàn PNJ khi làm mất BNGĐ phải có giấy xác nhận của </em><em>T</em><em>rưởng Đ</em><em>ơn vị</em><em>,</em><em> C</em><em>hi nhánh</em><em> hoặc Cửa hàng Trưởng</em><em>. </em></span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">·    PNJL có quyền từ chối trả kết quả và Mẫu Giám định khi nhận thấy có yếu tố rủi ro.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">1.16. Khách hàng khi ký xác nhận vào BNGĐ thì xem như đã đọc kỹ và đồng ý các quy định chung về dịch vụ Giám định được quy định trong văn bản này, trừ khi có các thỏa thuận khác bằng văn bản giữa hai bên.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;"><strong>2. </strong><strong>CAM KẾT CỦA KHÁCH HÀNG</strong></span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">Khách hàng có trách nhiệm kiểm tra đúng số lượng Mẫu Giám định, chất lượng niêm phong, số lượng và chất lượng Giấy Giám định (<em>nếu có</em>) trước khi rời khỏi quầy giao dịch. Mọi khiếu nại của Khách hàng liên quan đến các vấn đề nêu trên khi rời khỏi quầy giao dịch sẽ không được giải quyết.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;"><strong>3. </strong><strong>CAM KẾT CỦA PNJL</strong></span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">PNJL cam kết thực hiện đúng nội dung Giám định đã thỏa thuận với Khách hàng dựa trên kiến thức, năng lực kỹ thuật, chuyên môn hiện có để cung cấp tốt nhất dịch vụ Giám định cho Khách hàng với đầy đủ trách nhiệm của mình theo đúng các quy định hiện hành.</span></p>
<p style="text-align: justify;"><span style="font-size: 110%;">PNJL cam kết bảo mật toàn bộ thông tin cá nhân và kết quả Giám định của Khách hàng, không cung cấp thông tin về việc Giám định cho bên thứ ba nào biết nếu không có sự đồng ý bằng văn bản của Khách hàng, ngoại trừ các quy định khác của pháp luật.</span></p>
</td>
</tr>
</tbody>
</table>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/quy-dinh-chung-ve-dich-vu-giam-dinh/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
