<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	 xmlns:media="http://search.yahoo.com/mrss/" >

<channel>
	<title>Nhận dạng Kim cương &#8211; Pnjlab</title>
	<atom:link href="https://pnjlab.com.vn/kim-cuong/nhan-dang-kim-cuong/feed/" rel="self" type="application/rss+xml" />
	<link>https://pnjlab.com.vn</link>
	<description>Công Ty TNHH Một Thành Viên Giám Định PNJ</description>
	<lastBuildDate>Fri, 16 Dec 2022 10:04:34 +0000</lastBuildDate>
	<language>vi-VN</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.1.6</generator>

<image>
	<url>https://pnjlab.com.vn/wp-content/uploads/2022/10/pnj-icon.png</url>
	<title>Nhận dạng Kim cương &#8211; Pnjlab</title>
	<link>https://pnjlab.com.vn</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Kim cương tổng hợp và đặc điểm nhận dạng</title>
		<link>https://pnjlab.com.vn/kim-cuong-tong-hop-va-dac-diem-nhan-dang/</link>
					<comments>https://pnjlab.com.vn/kim-cuong-tong-hop-va-dac-diem-nhan-dang/#respond</comments>
		
		<dc:creator><![CDATA[Trần Tân]]></dc:creator>
		<pubDate>Fri, 16 Dec 2022 10:00:35 +0000</pubDate>
				<category><![CDATA[Nhận dạng Kim cương]]></category>
		<guid isPermaLink="false">https://pnjlab.com.vn/?p=1320</guid>

					<description><![CDATA[Trên thị trường đá quý hiện nay kim cương tổng hợp chất lượng ngọc (gem-quality) đã xuất hiện rộng rãi hơn so với trước đây, điều này vừa đem đến sự thú vị vừa tạo sự quan tâm đặc biệt cho những người kinh doanh và câu hỏi được đặt ra là: đặc tính của...]]></description>
										<content:encoded><![CDATA[<p style="text-align: justify;">Trên thị trường đá quý hiện nay kim cương tổng hợp chất lượng ngọc (gem-quality) đã xuất hiện rộng rãi hơn so với trước đây, điều này vừa đem đến sự thú vị vừa tạo sự quan tâm đặc biệt cho những người kinh doanh và câu hỏi được đặt ra là: đặc tính của kim cương tổng hợp như thế nào? và nó có thể được nhận dạng bởi các nhà ngọc học hoặc các phòng thí nghiệm ngọc học hay không?</p>
<table style="border-collapse: collapse; width: 100%; height: 401px;">
<tbody>
<tr style="height: 358px;">
<td style="width: 100%; height: 358px;"><img decoding="async" loading="lazy" class="wp-image-1321 size-full aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image001.jpg" alt="" width="636" height="358" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image001.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image001-300x169.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr style="height: 43px;">
<td style="width: 100%; height: 43px; text-align: justify;">Hình 1: Hiện nay kim cương tổng hợp HPHT xuất hiện rộng rãi trên thị trường đá quý và trang sức với nhiều màu sắc khác nhau.</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400; text-align: justify;">GIA đã nghiên cứu về kim cương tổng hợp trong hơn 30 năm qua, do đó hiểu rõ các phương pháp tổng hợp và cách nhận dạng chúng. Kim cương tổng hợp có thành phần hóa học và tính chất vật lý tương tự kim cương thiên nhiên, chỉ khác là chúng được tạo ra trong phòng thí nghiệm.</p>
<p style="font-weight: 400; text-align: justify;">Nhiều người thường nhầm lẫn kim cương tổng hợp với đá thay thế kim cương (simulant) nhưng điều này không chính xác. Đá thay thế kim cương như là cubic zirconia (CZ) hoặc moissanite tổng hợp,… chỉ có bề ngoài gần giống kim cương còn tính chất vật lý và thành phần hóa học thì hoàn toàn khác. Do đó các nhà ngọc học có thể dễ dàng nhận dạng đá thay thế nhưng đối với kim cương tổng hợp thì khó hơn rất nhiều</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="wp-image-1323 size-full aligncenter" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image002.jpg" alt="" width="636" height="358" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image002.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image002-300x169.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 2: Trên thị trường hiện nay xuất hiện rộng rãi cả kim cương thiên nhiên, kim cương xử lý màu và kim cương tổng hợp với nhiều màu sắc khác nhau. Bởi vì giá trị của chúng rất khác nhau nên việc giám định rất quan trọng trong định giá và công bố thông tin viên đá với khách hàng.</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400; text-align: justify;">Chỉ trong một số trường hợp các nhà ngọc học có thể nhận dạng được kim cương tổng hợp hoặc xử lý màu bằng các thiết bị ngọc học cơ bản, còn trong hầu hết trường hợp để nhận dạng chính xác cẩn phải sử dụng các thiết bị hiện đại. GIA đã tạo một cơ sở dữ liệu rất lớn về tính chất ngọc học (quang phổ, ảnh phát huỳnh quang, bao thể…) của tất cả các loại kim cương (thiên nhiên, xử lý, tổng hợp), trên cơ sở đó đã thiết lập các phương pháp nhận dạng kim cương một cách khoa học và đáng tin cậy.</p>
<p style="font-weight: 400;"><strong>HỆ THỐNG PHÂN LOẠI KIM CƯƠNG (THEO THÀNH PHẦN HÓA HỌC)</strong></p>
<p style="font-weight: 400; text-align: justify;">Bắt đầu từ những năm 1930, các nhà khoa học đã chia kim cương thành hai nhóm chính là loại I (type I) và loại II (type II) dựa trên sự khác nhau về độ trong suốt dưới tia cực tím, và trong mỗi loại lại được chia thành hai phụ nhóm dựa vào cách sắp xếp của nguyên tử carbon (và tạp chất) trong cấu trúc tinh thể kim cương. Đến năm 1959, các nhà khoa học phát hiện ra nitrogen là tạp chất chính trong kim cương và phân loại kim cương theo tạp chất này như sau: kim cương loại I có chứa nitrogen và kim cương loại II không có chứa nitrogen</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1325 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image003.jpg" alt="" width="636" height="483" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image003.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image003-300x228.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 3: Biểu đồ trên mô tả  một cách đơn giản hệ thống phân loại kim cương. Kim cương loại I (hàng trên) và kim cương loại II (hàng dưới), mỗi loại được chia thành hai nhóm nhỏ dựa vào cách sắp xếp của các nguyên tử carbon (và tạp chất) trong cấu trúc kim cương. Loại kim cương có thể được xác định nhanh chóng bằng phổ hồng ngoại.</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400; text-align: justify;">Hầu hết kim cương thiên nhiên thuộc loại Ia. <strong>Kim cương loại Ia</strong> chứa lượng lớn nitrogen ở dạng cặp hoặc dạng nhóm (cluster), kim cương loại này không thể tổng hợp được. <strong>Kim cương loại Ib</strong> chứa nguyên tử nitrogen ở dạng phân tán (scattered) và đơn lẻ (isolated), kim cương loại này khá hiếm trong tự nhiên. <strong>Kim cương loại IIa</strong> không chứa nitrogen. <strong>Kim cương loại IIb</strong> chứa boron.</p>
<p style="font-weight: 400; text-align: justify;">Kim cương tổng hợp thường thuộc các loại Ib, IIa và IIb, đây là những loại hiếm trong tự nhiên.</p>
<p style="font-weight: 400; text-align: justify;">Tại GIA kim cương loại I và loại II được xác định bằng cả hai phương pháp: độ trong suốt dưới sóng ngắn tia cực tím và phổ hồng ngoại (Tham khảo thêm: <a href="http://www.gia.edu/gems-gemology/summer-2009-type-classification-system-diamonds-breeding" target="_blank" rel="noopener">The “Type” Classification System of Diamonds and Its Importance in Gemology</a>, <em>Gems &amp; Gemology</em>, Summer 2009, Vol. 45, No. 2).</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1327 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/Type-Table.jpg" alt="" width="969" height="329" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/Type-Table.jpg 969w, https://pnjlab.com.vn/wp-content/uploads/2022/12/Type-Table-300x102.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/12/Type-Table-768x261.jpg 768w" sizes="(max-width: 969px) 100vw, 969px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Bảng 1: Bảng trên môt tả mối quan hệ giữa loại kim cương với kim cương thiên nhiên và kim cương tổng hơp (HPHT và CVD).</td>
</tr>
</tbody>
</table>
<p><strong>QUÁ TRÌNH TĂNG TRƯỞNG CỦA KIM CƯƠNG THIÊN NHIÊN</strong></p>
<p style="font-weight: 400; text-align: justify;">Tinh thể kim cương thiên nhiên được thành tạo hàng triệu năm, thậm chí hàng tỷ năm ở dưới sâu bên trong trái đất tại độ sâu khoảng 160 km và được mang lên bề mặt thông qua các núi lửa phun nổ. Những núi lửa này thường có dạng ống (pipe) thẳng đứng, thành phần chủ yếu là đá phun trào kimberlite. Người ta khai thác những ống kimberlite này để tìm kiếm kim cương và quặng được làm vỡ cơ học để tách kim cương ra khỏi kimberlite. Hàm lượng kim cương trong kimberlite rất thấp, có thể chỉ một phần triệu vì vậy phải khai thác một lượng rất lớn quặng mới thu hồi được kim cương.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1329 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image004.jpg" alt="" width="636" height="212" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image004.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image004-300x100.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 4: Tinh thể kim cương thiên nhiên (hình trái) thường có dạng bát diện và bị tròn cạnh do chịu ảnh hưởng của điều kiện môi trường dưới sâu bên trong trái đất. Chúng được mang lên mặt đất từ các núi lửa phun nổ có thành phần kimberlite (hình giữa). Mô hình tinh thể bát diện lý tưởng của kim cương thiên nhiên (hình phải)</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400; text-align: justify;">Kim cương thiên nhiên tăng trưởng dưới điều kiện nhiệt độ và áp suất rất cao. Nhiệt độ tăng trưởng của kim cương thiên nhiên cao hơn nhiệt độ được sử dụng để tăng trưởng kim cương tổng hợp. Tại nhiệt độ cao và có thời gian tăng trưởng lâu, kim cương thiên nhiên tăng trưởng tinh thể dạng bát diện (octaheral) nhưng ở nhiệt độ thấp hơn và thời gian tăng trưởng rất ngắn (vài tuần đến hơn một tháng) trong phòng thí nghiệm, kim cương tổng hợp tăng trưởng tinh thể có cả mặt bát diện và mặt lập phương (cubic). Tinh thể kim cương thiên nhiên tăng trưởng và nằm sâu trong lòng đất một thời gian rất dài trước khi xuất hiện trên mặt đất, chính điều này làm cho tạp chất nitrogen trong kim cương có đủ thời gian để liên kết lại với nhau thành cặp hoặc nhóm, do đó trên 95% kim cương thiên nhiên thuộc loại Ia.</p>
<p><strong>QUÁ TRÌNH TỔNG HỢP KIM CƯƠNG</strong></p>
<p style="font-weight: 400; text-align: justify;">Các nhà khoa học đã tổng hợp thành công kim cương lần đầu tiên vào giữa thập niên 1950, những tinh thể kim cương tổng đầu tiên có kích thước nhỏ và chất lượng công nghiệp. Việc sản xuất những tinh thể lớn phục vụ cho thị trường nữ trang được bắt đầu vào giữa thập niên 1990 và tiếp tục cho đến nay với hàng loạt công ty và tập đoàn tham gia vào lĩnh vực này. Tại một số quốc gia kim cương được tổng hợp phục vụ cho cả nhu cầu trang sức và nhu cầu công nghiệp, thậm chí nhu cầu công nghiệp có thể còn quan trọng hơn. (Tham khảo thêm: <a href="http://www.gia.edu/gems-gemology/spring-2016-gemnews-large-colorless-hpht-synthetic-gem-diamonds-china" target="_blank" rel="noopener">Large Colorless HPHT Synthetic Gem Diamonds from China</a>, Gem News International, <em>Gems &amp; Gemology</em>, Spring 2016, Vol. 52, No. 1).</p>
<p style="font-weight: 400; text-align: justify;">Hiện nay có hai phương pháp được sử dụng để tổng hợp kim cương. Phương pháp truyền thống được gọi là <strong>phương pháp áp suất cao, nhiệt độ cao</strong> (HPHT-high pressure, high temperature): kim cương được tăng trưởng bên trong một hợp kim nóng chảy gồm sắt (Fe), nickel (Ni) hoặc cobalt (Co). Phương pháp mới hơn được gọi là <strong>phương pháp tích tụ hơi hóa học</strong> (CVD- chemical vapor deposition): kim cương được tăng trưởng từ khí có chứa nguyên tử carbon (như là methan) bên trong buồng chân không.</p>
<p style="font-weight: 400; text-align: justify;">Cả hai phương pháp này đều cần đến mầm mà có thể là một tinh thể kim cương hoặc một vật liệu dạng tấm mỏng để bắt đầu quá trình tổng hợp.</p>
<p style="font-weight: 400;"><strong>Quá trình tổng hợp HPHT</strong></p>
<p style="font-weight: 400; text-align: justify;">Quá trình tăng trưởng kim cương HPHT diễn ra trong buồng kín (capsule) được đặt bên trong một thiết bị có khả năng tạo ra được nguồn áp suất rất cao. Bên trong buồng kín, bột kim cương (nguyên liệu tổng hợp) hòa tan trong hợp kim nóng chảy (metal alloy flux), sau đó kết tinh trên mầm để hình thành tinh thể kim cương tổng hợp. Quá trình kết tinh này chỉ có thể diễn ra trong vài tuần đến hơn một tháng và tạo ra được một hoặc một vài tinh thể kim cương tổng hợp.</p>
<p style="font-weight: 400; text-align: justify;">Tinh thể kim cương HPHT có thêm những mặt lập phương ngoài những mặt bát diện. Bởi vì dạng tinh thể của kim cương thiên nhiên và kim cương HPHT khác nhau nên cấu trúc tăng trưởng bên trong của chúng cũng khác nhau, đây chính là một trong những dấu hiệu đáng tin cậy nhất để phân biệt chúng với nhau.</p>
<p style="font-weight: 400; text-align: justify;">Kim cương HPHT sau khi được cắt mài có thể được nhận dạng từ những đặc điểm như là <strong>sự phân bố của đới màu, phát huỳnh quang, graining dạng chữ thập và bao thể kim loại màu đen,…</strong>. Trong một số trường hợp, kim cương HPHT có hiện tượng phát lân quang (phosphorescence) khá lâu sau khi tắt đèn cực tím. Kim cương HPHT cũng dễ dàng được nhận dạng bằng các thiết bị hiện đại ở các phòng thí nghiệm như là máy quang phổ visible hoặc photoluminescence.</p>
<p style="font-weight: 400; text-align: justify;">Hầu hết tinh thể kim cương HPHT có màu vàng, vàng cam, vàng phớt nâu và chủ yếu thuộc loại Ib &#8211; loại này hiếm trong kim cương thiên nhiên.</p>
<p style="font-weight: 400; text-align: justify;">Trước dây, để tạo ra kim cương HPHT không màu là một thách thức rất lớn, bởi vì muốn tạo ra được kim cương HPHT không màu phải giải quyết được 2 vấn đề chính sau: thứ nhất là ngăn cản sự xâm nhập của tạp chất nitrogen vào cấu trúc mạng tinh thể trong quá trình tăng trưởng, thứ hai là tốc độ tăng trưởng của kim cương HPHT không màu (loại IIa hoặc loại IIb yếu) chậm hơn kim cương HPHT loại Ib, do đó cần phải có thời gian tăng trưởng lâu hơn và điều kiện nhiệt độ, áp suất được kiểm soát tốt hơn. Gần đây với sự phát triển của khoa học và nỗ lực nghiên cứu, các nhà khoa học đã điều chỉnh điều kiện tăng trưởng và thiết bị phù hợp để tạo ra được những tinh thể đủ lớn để mài được viên đá với trọng lượng trên 10 carat (Tham khảo thêm: <a href="http://www.gia.edu/UK-EN/gia-news-research/large-blue-and-colorless-hpht-synthetic-diamonds" target="_blank" rel="noopener">Large Blue and Colorless HPHT Synthetic Diamonds</a>, Lab Notes,<em>Gems &amp; Gemology</em>, Summer 2016, Vol. 52, No. 2).</p>
<p style="font-weight: 400; text-align: justify;">Bằng cách thêm tạp chất boron (B) vào trong quá trình tăng trưởng sẽ tạo ra được những tinh thể kim cương HPHT màu xanh dương. Những màu khác như là hồng và đỏ được tạo ra bằng cách xử lý chiếu xạ và ủ nhiệt sau khi tăng trưởng, loại này hiếm gặp trên thị trường.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1331 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image005.jpg" alt="" width="636" height="260" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image005.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image005-300x123.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 5: Trong quá trình tổng hợp HPHT, một thiết bị được sử dụng để tạo ra môi trường áp suất và nhiệt độ cực cao cho buồng tăng trưởng (hình trái). Tinh thể kim cương HPHT có cả mặt lập phương và mặt bát diện (hình giữa và phải).</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400;"><strong>Quá trình tổng hợp CVD</strong></p>
<p style="font-weight: 400; text-align: justify;">Quá trình tăng trưởng kim cương CVD diễn ra bên trong buồng chân không được bơm đầy khí có chứa carbon, như là methan. Một nguồn năng lượng (chùm microwve) được sử dụng để bẻ gãy liên kết giữa các phân tử khí và nguyên tử carbon rớt xuống dưới tấm mầm. Quá trình kết tinh này diễn ra trong khoảng vài tuần để tạo ra nhiều tinh thể cùng lúc, số lượng tinh thể phụ thuộc vào kích thước buồng tăng trưởng và số lượng mầm. Tinh thể sau khi tăng trưởng có dạng tấm với xung quanh viền là graphite đen.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1333 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image006.jpg" alt="" width="636" height="358" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image006.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image006-300x169.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 6: Kim cương CVD không màu trọng lượng từ 0.22 đến 0.31 xuất hiện rộng rãi trên thị trường. Ảnh:  Jian Xin (Jae) Liao/GIA.</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400; text-align: justify;">Hầu hết tinh thể kim cương CVD có màu nâu nhạt hoặc xám nhạt, nhưng nếu thêm một lượng nhỏ tạp chất nitrogen hoặc boron vào trong buồng tăng trưởng thì sẽ tạo ra màu vàng, cam hồng hoặc xanh dương. Trái ngược với phương pháp HPHT, tinh thể không màu được tạo ra dễ dàng hơn với phương pháp này nhưng phải cần thời gian tăng trưởng rất lâu. Hầu hết kim cương CVD không màu xuất hiện trên thị trường đều đã trải qua quá trình xử lý nhiệt để loại bỏ màu nâu. Kim cương CVD chủ yếu thuộc loại IIa.</p>
<p style="font-weight: 400; text-align: justify;">Kim cương CVD có tính chất ngọc học hơi khác so với kim cương HPHT. Sự phân bố màu đều hơn và có “sự biến dạng” màu giao thoa nhẹ, cấu trúc dải khi quan sát dưới ánh sáng  phân cực, độ tinh khiết có khuynh hướng cao hơn do chỉ có những pinpoint carbon màu đen.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1337 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image007.jpg" alt="" width="636" height="230" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image007.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image007-300x108.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 7: Trong quá trình tổng hợp CVD,  kim cương tăng trưởng thành từ lớp mỏng chồng lên nhau, độ dày tinh thể sau khi tăng trưởng phụ thuộc vào thời gian tăng trưởng (hình trái). Với phương pháp này, tinh thể có dạng tấm phẳng (hình giữa và phải) với xung quanh viền là graphite đen</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400; text-align: justify;">Cũng giống như quá trình tổng hợp HPHT, quá trình tổng hợp CVD đang tiếp tục được cải thiện và cho phép các nhà sản xuất tạo ra được những tinh thể lớn với độ tinh khiết và cấp độ màu ngày càng cao (Tham khảo thêm: <a href="http://www.gia.edu/gems-gemology/summer-2012-cvd-synthetic-diamonds-gemesis-corp-wang" target="_blank" rel="noopener">Recent Advances in CVD Synthetic Diamond Quality</a>, <em>Gems &amp; Gemology</em>, Summer 2012, Vol. 48, No. 2).</p>
<p style="font-weight: 400; text-align: justify;">Gần đây GIA đã kiểm tra hai viên kim cương CVD lớn với trọng lượng 2.51 và 3.23 carat, đây là những viên kim cương CVD lớn nhất mà GIA từng kiểm tra cho đến nay (Tham khảo thêm: <a href="http://www.gia.edu/gems-gemology/winter-2015-labnotes-two-large-CVD-grown-synthetic-diamonds" target="_blank" rel="noopener">Two Large CVD-Grown Synthetic Diamonds Tested by GIA</a>, Lab Notes, <em>Gems &amp; Gemology</em>, Winter 2015, Vol. 51, No. 4).</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1339 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image009.jpg" alt="" width="635" height="221" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image009.jpg 635w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image009-300x104.jpg 300w" sizes="(max-width: 635px) 100vw, 635px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 8: Dạng tinh thể lý tưởng của: kim cương CVD, kim cương HPHT và kim cương thiên nhiên. Mặt bát diện màu vàng và mặt lập phương màu xanh dương. Hầu hết kim cương thiên nhiên tăng trưởng dạng bát diện (hình phải), kim cương HPHT có cả mặt bát diện và mặt lập phương (hình giữa) và mặt bát diện hoàn toàn không có trong kim cương CVD (hình trái). Mũi tên chỉ hướng tinh thể tăng trưởng.</td>
</tr>
</tbody>
</table>
<p><strong>ĐẶC ĐIỂM NHẬN DẠNG</strong></p>
<p style="font-weight: 400; text-align: justify;">Trong vài năm trở lại đây bắt đầu xuất hiện nhiều công ty sản xuất kim cương tổng hợp phục vụ cho thị trường nữ trang với cấp độ màu, độ tinh khiết được cải thiện đáng kể và trọng lượng tinh thể cũng lớn hơn. Vì vậy, phạm vi ảnh hưởng của kim cương tổng hợp ngày càng tăng cao mặc dù cho tới nay GIA chỉ phát hiện một số lượng nhỏ kim cương tổng hợp khi chúng được gửi kèm với kim cương thiên nhiên để giám định.</p>
<p style="font-weight: 400; text-align: justify;">Để nhận dạng các loại đá quý một nhà ngọc học có thể chỉ cần sử dụng một số loại thiết bị như là khúc xạ kế, đèn cực tím, kính hiển vi, kính phân cực,…Nhưng đối với kim cương tổng hợp có chất lượng cao như hiện nay, việc nhận dạng chúng là một thử thách rất lớn đặc biệt chỉ với những thiết bị ngọc học cơ bản, thậm chí với cả những nhà ngọc học giàu kinh nghiệm.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1341 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/table2.jpg" alt="" width="916" height="492" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/table2.jpg 916w, https://pnjlab.com.vn/wp-content/uploads/2022/12/table2-300x161.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/12/table2-768x413.jpg 768w" sizes="(max-width: 916px) 100vw, 916px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Bảng 2: So sánh  đặc điểm nhận dạng của kim cương HPHT và CVD</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400; text-align: justify;">Bảng 2 trình bày những đặc điểm đặc trưng của phần lớn kim cương tổng hợp, nhưng không phải viên kim cương tổng hợp nào cũng thể hiện đầy đủ những đặc điểm này. Ví dụ: một viên kim cương tổng hợp có thể không phát huỳnh quang, vì vậy phải dựa vào những đặc điểm khác để nhận dạng nó.</p>
<p style="font-weight: 400;"><strong>Đới màu</strong></p>
<p style="font-weight: 400; text-align: justify;">Kim cương HPHT màu thường có sự phân bố màu không đều, đặc điểm này có thể thấy được dưới ánh sáng truyền qua (transmitted light) của kính hiển vi và nếu cần có thể nhúng viên đá trong dung dịch nhúng để quan sát rõ hơn. Đôi khi kim cương thiên nhiên cũng có đới màu nhưng hình dạng của chúng khác hoàn toàn so với kim cương HPHT.</p>
<p style="font-weight: 400; text-align: justify;">Khác với kim cương HPHT, kim cương CVD thường có sự phân bố màu đều đặn.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1343 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image9.jpg" alt="" width="636" height="265" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image9.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image9-300x125.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 9: Sự phân đới màu trong kim cương HPHT màu thường liên quan tới các mặt tinh thể và có hình dạng khác hoàn toàn kim cương thiên nhiên. Khu vực màu vàng thuộc loại Ib và chứa nitrogen đơn lẻ, khu vực xanh dương thuộc loại IIb và chứa boron, khu vực không  màu thuộc loại IIa và không chứa tạp chất. Chỉ kim cương tổng hợp mới phổ biến hỗn hợp tạp chất nitrogen và boron trong cùng một tinh thể.</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400;"><strong>Bao thể</strong></p>
<p style="font-weight: 400; text-align: justify;">Kim cương HPHT thường chứa bao thể kim loại, dưới ánh sáng truyền qua chúng có màu đen và không thấu quang, dưới ánh sáng phản chiếu chúng có ánh kim loại. Bởi vì hợp kim nóng chảy được sử dụng cho quá trình tăng trưởng gồm các nguyên tố như là sắt, nickel hoặc cobal nên kim cương HPHT chứa những bao thể lớn hoặc nhiều bao thể nhỏ sẽ có từ tính mạnh và có thể dính vào nam châm.</p>
<p style="font-weight: 400; text-align: justify;">Kim cương CVD thành tạo theo cách khác nên chúng không chứa bao thể kim loại mà chỉ có những pinpoint màu đen.</p>
<p style="font-weight: 400; text-align: justify;">Kim cương thiên nhiên có thể có bao thể màu đen (graphite hoặc một số khoáng vật khác) nhưng những bao thể này không có ánh kim loại dưới ánh sáng phản chiếu.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1345 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image010.jpg" alt="" width="636" height="203" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image010.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image010-300x96.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 10: Kim cương HPHT thường có bao thể kim loại. Trong một số trường hợp, nếu bao thể kim loại có hàm lượng nickel-sắt (Ni-Fe) cao thì có thể dính vào nam châm</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400;"><strong>Lưỡng chiết suất bất thường (Anomalous birefringence)</strong></p>
<p style="font-weight: 400; text-align: justify;">Khi kiểm tra dưới hai nicol vuông góc, kim cương thiên nhiên loại II thường thể hiện lưỡng chiết suất bất thường hay còn được gọi là “sự biến dạng” (strain) màu giao thoa với cấu trúc “tatami” hoặc cấu trúc dải. “Sự biến dạng” dạng màu giao thoa này là do kim cương thiên nhiên phải trải qua điều kiện ứng suất (sress) thay đổi liên tục trong thời gian dài khi còn nằm sâu bên trong trái đất hoặc trong qua trình phun nổ của núi lửa. Ngược lại, kim cương tổng hợp tăng trưởng trong môi trường áp suất gần như đều đặn và không trải qua điều kiện ứng suất như trên, vì vậy khi kiểm tra dưới hai nicol vuông góc chúng không có “sự biến dạng” hoặc chỉ có “sự biến dạng” nhẹ, cấu trúc dải.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1347 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/Strain.jpg" alt="" width="548" height="469" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/Strain.jpg 548w, https://pnjlab.com.vn/wp-content/uploads/2022/12/Strain-300x257.jpg 300w" sizes="(max-width: 548px) 100vw, 548px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 11: Phương pháp quan sát kim cương dưới 2 nicol vuông góc (hình trái) và” sự biến dạng” màu giao thoa  đặc trưng của kim cương thiên nhiên loại II (hình phải)</td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1349 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image012.jpg" alt="" width="556" height="211" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image012.jpg 556w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image012-300x114.jpg 300w" sizes="(max-width: 556px) 100vw, 556px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 12: Kim cương HPHT  không có “ sự biến dạng” màu giao thoa (hình trái) và kim cương CVD đôi khi chỉ có “sự biến dạng” nhẹ, cấu trúc dải (hình phải)</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400;"><strong>Phát huỳnh quang</strong></p>
<p style="font-weight: 400; text-align: justify;">Phát huỳnh quang là một trong những đặc điểm quan trọng nhất để nhận dạng kim cương tổng hợp, dưới sóng ngắn tia cực tím thường phát huỳnh quang mạnh hơn dưới sóng dài và có thể có những cấu trúc đặc trưng.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1351 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image013.jpg" alt="" width="636" height="338" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image013.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image013-300x159.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 13: Kim cương HPHT phát huỳnh quang với cấu trúc chữ thập trên phần crown hoặc pavilion</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400; text-align: justify;">Kim cương HPHT phát huỳnh quang với <strong>cấu trúc chữ thập</strong> khi quan sát từ phần crown hoặc pavillion. Kim cương CVD phát huỳnh quang với cấu trúc <strong>sọc</strong> khi quan sát từ pavilion. Màu phát huỳnh quang đặc trưng là lục, vàng lục, vàng, cam hoặc đỏ.</p>
<p style="font-weight: 400; text-align: justify;">Khi tắt đèn cực tím, một số viên kim cương tổng hợp có hiện tượng phát lân quang trong một vài phút hoặc lâu hơn.</p>
<p style="font-weight: 400; text-align: justify;">GIA sử dụng thiết bị thu ảnh phát huỳnh quang gọi là DiamondView để kiểm tra kim cương. Thiết bị này cho phép phát hiện cấu trúc tăng trưởng bên trong kim cương và giúp phân biệt giữa kim cương thiên nhiên với kim cương tổng hợp.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1353 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image014.jpg" alt="" width="468" height="467" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image014.jpg 468w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image014-300x300.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image014-150x150.jpg 150w" sizes="(max-width: 468px) 100vw, 468px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 14: Thiết bị DiamondView (hình trên) cho phép xác định cấu trúc tăng trưởng của kim cương thiên nhiên và kim cương tổng hợp. Cấu trúc đồng tâm (hình trái) là kim cương thiên nhiên, cấu trúc chữ thập (hình giữa) là kim cương HPHT và cấu trúc sọc (hình phải) là kim cương CVD.</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Hiện tại, ngoài việc nhận dạng chính xác những viên kim cương tổng hợp lớn một trong những thách thức nữa phải đối mặt trên thị trường nữ trang là việc giám định kim cương có kích thước nhỏ, khó khăn là loại này thường được bán theo lô với mỗi lô có thể lên đến hàng trăm, hàng ngàn viên kim cương, trong đó có thể có cả kim cương thiên nhiên và kim cương tổng hợp.(Tham khảo thêm: <a href="http://www.gia.edu/gems-gemology/winter-2015-labnotes-large-type-ib-natural-diamond" target="_blank" rel="noopener">Screening of Small Yellow Diamond Melee for Treatment and Synthetics</a>, Lab Notes,<i>Gems &amp; Gemology</i>, Winter 2015, Vol. 51, No. 4).</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="aligncenter wp-image-1355 size-full" src="http://pnjlab.com.vn/wp-content/uploads/2022/12/image015.jpg" alt="" width="636" height="242" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/12/image015.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/12/image015-300x114.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 15: 359 viên kim cương vàng này có trọng lượng từ 0.02 đến 0.03 ct, trong đó hầu hết là kim cương thiên nhiên (phần bên trái), 14 viên kim cương HPHT và 1 viên kim cương thiên nhiên bị xử lý HPHT. Tất cả các viên kim cương này có bề ngoài giống nhau và không thể phân biệt được bằng mắt thường hoặc lúp. Ảnh: Sood Oil (Judy) Chia</td>
</tr>
</tbody>
</table>
<p style="text-align: right;"><span style="font-size: 90%;">Nguồn: Dr. James E. Shigley</span></p>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/kim-cuong-tong-hop-va-dac-diem-nhan-dang/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
