<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	 xmlns:media="http://search.yahoo.com/mrss/" >

<channel>
	<title>Đá quý, Đá bán quý &#8211; Pnjlab</title>
	<atom:link href="https://pnjlab.com.vn/da-mau/da-quy-da-ban-quy/feed/" rel="self" type="application/rss+xml" />
	<link>https://pnjlab.com.vn</link>
	<description>Công Ty TNHH Một Thành Viên Giám Định PNJ</description>
	<lastBuildDate>Wed, 28 Dec 2022 09:57:15 +0000</lastBuildDate>
	<language>vi-VN</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.1.6</generator>

<image>
	<url>https://pnjlab.com.vn/wp-content/uploads/2022/10/pnj-icon.png</url>
	<title>Đá quý, Đá bán quý &#8211; Pnjlab</title>
	<link>https://pnjlab.com.vn</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>HỔ PHÁCH – AMBER</title>
		<link>https://pnjlab.com.vn/ho-phach-amber/</link>
					<comments>https://pnjlab.com.vn/ho-phach-amber/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Wed, 16 Nov 2022 08:25:51 +0000</pubDate>
				<category><![CDATA[Đá quý, Đá bán quý]]></category>
		<guid isPermaLink="false">http://lab.pnj.io/?p=485</guid>

					<description><![CDATA[GIỚI THIỆU Hổ phách thuộc nhóm đá quý hữu cơ (organic gems). Đá quý hữu cơ là sản phẩm của sinh vật sống hoặc đã từng sống và có chu trình sinh học. Một số loại đá quý hữu cơ phổ biến như: ngọc trai, ngọc ốc, san hô, ngà voi, ammonite… Hổ phách là...]]></description>
										<content:encoded><![CDATA[<p style="text-align: justify;"><strong>GIỚI THIỆU</strong></p>
<p style="text-align: justify;">Hổ phách thuộc nhóm đá quý hữu cơ (organic gems). Đá quý hữu cơ là sản phẩm của sinh vật sống hoặc đã từng sống và có chu trình sinh học. Một số loại đá quý hữu cơ phổ biến như: ngọc trai, ngọc ốc, san hô, ngà voi, ammonite…</p>
<p style="text-align: justify;">Hổ phách là nhựa cây hóa cứng qua thời gian và hóa thạch. Tuổi của hổ phách cổ nhất lên đến 320 triệu năm và các nhà khảo cổ học phát hiện con người bắt đầu sử dụng hổ phách làm vật trang hoàng cách đây khoảng 10,000 năm trước công nguyên.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="wp-image-486 size-full aligncenter" src="http://lab.pnj.io/wp-content/uploads/2022/11/hophach_01.jpg" alt="" width="636" height="358" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/hophach_01.jpg 636w, https://pnjlab.com.vn/wp-content/uploads/2022/11/hophach_01-300x169.jpg 300w" sizes="(max-width: 636px) 100vw, 636px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 1: Hổ phách là loại đá quý hưu cơ và đặc trưng bởi bao thể thực vật hoặc côn trùng, đôi khi có thể thấy dưới mắt thường. Ảnh: GIA.</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;"><strong>ĐẶC ĐIỂM VÀ TÍNH CHẤT</strong></p>
<p style="text-align: justify;">Thành phần hóa học của hổ phách gồm carbon, hydrogen và oxy, ngoài ra còn có hàm lượng vết của sulfur. Do thành phần là nhựa và khi cháy lại tạo ra mùi thơm dễ chịu nên trong lịch sử con người đã từng đốt hổ phách giống như một số nước Á Đông đốt nhang bây giờ. Theo tiếng Đức hổ phách là <em>bernstein</em> – nghĩa là “đá cháy”.</p>
<p style="text-align: justify;">Quá trình hình thành hổ phách bắt nguồn từ lớp nhựa cây dày, thường là nhựa thông (pine). Theo thời gian nhựa sẽ hóa cứng lại và để được gọi là hổ phách thì nhựa cây hóa cứng phải có ít nhất 1 triệu năm tuổi, nếu tuổi ít hơn thì được gọi là Copal hoặc hổ phách non. Copal thường mềm và nóng chảy tại nhiệt độ thấp hơn hổ phách.</p>
<p style="text-align: justify;">Khách hàng thường biết đến hổ phách với màu vàng và vàng kim, tuy nhiên thực tế hổ phách có thể có màu trắng, cam, đỏ hoặc nâu. Hổ phách đỏ trong suốt có giá trị cao hơn hổ phách vàng kim, tiếp đến mới là hổ phách vàng. Đặc biệt khi phát quang mạnh màu xanh dương hoặc xanh lục dưới ánh sáng cực tím thì giá trị của hổ phách sẽ tăng lên. Hổ phách có độ trong từ trong suốt đến đục.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="size-full wp-image-489 aligncenter" src="http://lab.pnj.io/wp-content/uploads/2022/11/hophach_02.jpg" alt="" width="600" height="400" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/hophach_02.jpg 600w, https://pnjlab.com.vn/wp-content/uploads/2022/11/hophach_02-300x200.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 2: Màu quen thuộc của hổ phách là vàng, vàng kim tới cam, trong khi đó màu đỏ thì hiếm hơn. Ảnh: Alan Jobbins</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Quá trình oxy hóa có thể làm cho hổ phách thay đổi màu qua thời gian và hổ phách sau khi được cắt mài để làm trang sức lại càng nhạy với quá trình oxy hóa hơn do bề mặt nguyên thủy bên ngoài bị làm mỏng hoặc đã loại bỏ. Quá trình này có thể làm cho hổ phách vàng hoặc cam dần dần trở nên đậm màu hơn hoặc chuyển thành đỏ, thậm chí thành màu đen.</p>
<p style="text-align: justify;">So với đá quý vô cơ và nhiều loại đá quý hữu cơ khác thì hổ phách mềm và có độ cứng thấp (2 tới 2.5 theo thang độ cứng Mohs). Hổ phách không có cấu trúc tinh thể (vô định hình &#8211; amorphous), không có hiệu ứng, không có cát khai và ánh bề mặt là ánh nhựa đến thủy tinh.</p>
<p style="text-align: justify;">Bao thể là một trong những nét đặc trưng nhất của hổ phách. Hàng triệu năm trước đây, khi nhựa cây rỉ ra chúng sẽ hoạt động như cái bẫy để bẫy kiến, ong, mối và nhiều loại côn trùng khác sau đó nhựa hóa cứng và bao bọc những loại côn trùng này lại tạo thành bao thể. Cánh hoa và lá thông cũng là bao thể đặc trưng của hổ phách. Hổ phách chứa những động vật lớn như bò cạp, ốc sên, ếch và thằn lằn sẽ rất có giá trị về mặt kinh tế và khoa học, đặc biệt khi động vật được bảo tồn nguyên vẹn.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="size-full wp-image-502 aligncenter" src="http://lab.pnj.io/wp-content/uploads/2022/11/hophach_06.jpg" alt="" width="942" height="400" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/hophach_06.jpg 942w, https://pnjlab.com.vn/wp-content/uploads/2022/11/hophach_06-300x127.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/11/hophach_06-768x326.jpg 768w" sizes="(max-width: 942px) 100vw, 942px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 3: Hổ phách chứa bò cạp còn nguyên vẹn. Ảnh: Eric Welch/GIA (bên trái). Mẫu thực vật cũng là bao thể phổ biến trong hổ phách. Ảnh: John Koivula/GIA (bên phải)</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Những mẫu chứa bao thể côn trùng hoặc thực vật sẽ đem về giá trị cao hơn những mẫu không có bao thể. Ví dụ: Hổ phách không có bao thể giá chỉ vài dollars trên mẫu, trong khi những mẫu có chứa côn trùng hoặc thực vật có thể được bán với giá hàng ngàn dollars trên mẫu.</p>
<p style="text-align: justify;"><strong>NGUỒN GỐC</strong></p>
<p style="text-align: justify;">Vùng biển Baltic của Châu Âu là nguồn hổ phách chính của thế giới. Hổ phách thường được tìm thấy ở trên bờ hoặc gần bờ của biển Baltic qua địa phận các nước Đan Mạch, Đúc, Lithuania, Phần Lan và Nga. Tỷ trọng của hổ phách thấp (1.06 -1.09) cho phép nó nổi trên nước biển, vì vậy khi những tầng đá cổ dưới biển bị phong hóa hoặc xói mòn sẽ phóng thích hổ phách vào trong nước biển, hoạt động của sóng sẽ đẩy nó tới gần bờ biển, nơi mà người ta có thể khai thác được. Những thợ mỏ sẽ khai thác hổ phách từ những mỏ dọc theo bờ biển Baltic</p>
<p style="text-align: justify;">Cộng Hòa Dominica là nguồn hổ phách lớn thứ hai trên thế giới. Việc khai thác không đượcdễ dàng và tốn kém hơnnên hổ phách Dominica thường đắt hơn hổ pháchBaltic.</p>
<p style="text-align: justify;"><strong>CÁC PHƯƠNG PHÁP XỬ LÝ</strong></p>
<p style="text-align: justify;">Có nhiều phương pháp xử lý khác nhau được sử dụng để cải thiện màu sắc, độ trong của hổ phách nhằm làm chúng cuốn hút và dễ kinh doanh hơn. Các nhà xử lý có thể làm trong suốt những đám mây trong hổ phách bằng cách xử lý nhiệt trong dầu được chiết xuất từ hạt nho (rapeseed) hoặc hạt cải dầu (canola). Dầu sẽ xuyên vào và lấp đầy những bọt khí là nguyên nhân tạo ra mây trong hổ phách. Phương pháp này tương tự như emerald được xử lý dầu để hạn chế tối thiểu khả năng nhìn thấy những khe nứt trong emerald. Đôi khi hổ phách sau khi xử lý có những bao thể tròn, dẹp được gọi là <em>sun spangles</em>.</p>
<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;"><img decoding="async" loading="lazy" class="size-full wp-image-492 aligncenter" src="http://lab.pnj.io/wp-content/uploads/2022/11/hophach_05.jpg" alt="" width="600" height="380" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/11/hophach_05.jpg 600w, https://pnjlab.com.vn/wp-content/uploads/2022/11/hophach_05-300x190.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></td>
</tr>
<tr>
<td style="width: 100%; text-align: justify;">Hình 4: Bao thể sun spangle trong hổ phách cam tới nâu được xử lý nhiệt từ hổ phách vàng. Ảnh: Shane McClure/GIA</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">Ngoài ra các nhà xử lý còn xử lý nhiệt kết hợp chất tạo màu để nhuộm hổ phách thành các màu khác nhau như: lục, đỏ.,…</p>
<p style="text-align: justify;">Các nhà xử lý có thể tạo ra những mẫu hổ phách kích thước lớn bằng cách nén những mẫu nhỏ lại với nhau dưới điều kiện nhiệt độ và áp suất thích hợp. Những mẫu hổ phách nén này được gọi là ambroid, hổ phách nén (pressed amber), hổ phách gia cố (consolidated amber) hoặc hổ phách tái tạo (reconstructed amber). Loại hổ phách này có thể nhận dạng dưới kính hiện vi bằng cách quan sát ranh giới giữa những mẫu nhỏ hoặc bao thể bọt khí bị kéo dài, biến dạng do quá trình nén ép.</p>
<p style="text-align: justify;"><strong>CHĂM SÓC VÀ BẢO QUẢN</strong></p>
<p style="text-align: justify;">Do hổ phách có độ cứng thấp nên việc chăm sóc tẩy rửa chỉ nên sử dụng nước xà phòng ấm và bàn chảy mịn, không nên tẩy rửa với máy siêu âm (ultrasonic). Thành phần hóa học chính của hổ phách là nhựa nên cần tránh tiếp xúc trực tiếp với tất cả các loại acid, dung môi đậm đặc và những chất hóa học khác như: cồn (alcohol), isopropyl. Nhiệt độ nóng chảy thấp nên trong quá trình gắn lên nữ trang phải lưu ý tránh tiếp xúc đèn khò sẽ làm hổ phách biến dạng và trong quá trình sử dụng cũng như trưng bày cũng nên tránh tiếp xúc trực tiếp với nguồn sáng trong thời gian dài.</p>
<p style="text-align: right;"><span style="font-size: 90%;">Nguồn: GIA Colored Stone Course</span></p>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/ho-phach-amber/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Ruby anh Sapphire</title>
		<link>https://pnjlab.com.vn/ruby-anh-sapphire/</link>
					<comments>https://pnjlab.com.vn/ruby-anh-sapphire/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Tue, 11 Oct 2022 16:21:08 +0000</pubDate>
				<category><![CDATA[Đá quý, Đá bán quý]]></category>
		<guid isPermaLink="false">http://lab.pnj.io/?p=213</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<div class="row"  id="row-709527170">

	<div id="col-1568880991" class="col medium-8 small-12 large-8"  >
				<div class="col-inner"  >
			
			
<p>Đá quý được đánh giá cao vì vẻ đẹp, độ quý hiếm, độ bền và đặc biệt là bảng màu phong phú mang nhiều ý nghĩa khác nhau. Corundum là một trong những khoáng vật thể hiện rất nhiều màu sắc trong tự nhiên,. Từ màu đỏ là màu của những cảm xúc<br />
mãnh liệt nhất trong tình yêu, đam mê, trí tuệ đến màu xanh dương là màu tượng trưng cho sự cao quý, chân thành và thủy chung.</p>
<p>Sự đa dạng màu sắc này liên quan mật thiết bởi các nguyên tố vết. Ở dạng tinh khiết khoáng vật corundum không màu. Các nguyên tố vết trở thành một phần của cấu trúc tinh thể và là nguyên nhân tạo thành các màu sắc khác nhau.</p>
<p>Chrom là nguyên tố tạo màu đỏ cho Ruby, mức độ đậm nhạt khác nhau tùy thuộc vào hàm lượng của Chrom – càng nhiều Chrom màu càng đậm. Chrom cũng có thể tạo hiện tượng phát huỳnh quang làm tăng thêm cường độ màu đỏ.</p>
<p>Các viên ruby nổi tiếng có chất lượng và giá trị cao như những viên ruby từ Myanmar, Himalaya và miền bắc Việt Nam thường có nguồn gốc thành tạo từ marble – một loại đá biến chất có hàm lượng sắt thấp, vì vậy những viên ruby được tạo thành trong<br />
môi trường này chứa ít sắt nên có màu đỏ rực. Ngược lại, Ruby có nguồn gốc liên quan đến bazan chứa hàm lượng sắt cao hơn nên có màu đỏ sẫm và tối hơn.</p>
<p>Bất kì màu sắc nào của corundum khác màu đỏ và không đủ tiêu chuẩn để kết luận là ruby đều được gọi là sapphire. Nguyên nhân tạo màu trong sapphire liên quan đến các nguyên tố như titanium, sắt, chrom,…Blue sapphire thường được dùng để gọi cho corundum có màu xanh dương hoặc có giới hạn màu từ xanh dương phớt lục đến xanh dương phớt tím, Các tông màu khác như tím, lục, vàng, hồng,cam, tía và các màu trung gian khác được gọi<br />
là fancy sapphire.</p>
<p>Một trong những hiệu ứng đặc biệt trong sapphire là hiệu ứng đổi màu – color change, viên đá thay đổi màu sắc từ màu xanh dương dưới ánh sáng ban ngày hoặc đèn huỳnh quang sang màu tía dưới ánh sáng đèn sợi đốt Sapphire có hiệu ứng đổi màu từ xanh dương phớt tím dưới ánh sáng ban ngày sang tía phớt đỏ dưới nguồn sáng sợi đốt – GIA.</p>
<p>Bên cạnh hiệu ứng đổi màu ở Sapphire, corundum (Ruby và Sapphire) còn có hiệu ứng sao, hiệu ứng này xuất hiện dưới dạng hình sao sáu tia trên mặt cong của viên đá được mài theo dạng cabochon, nguyên nhân tạo thành hiệu ứng này là từ sự phản<br />
chiếu ánh sáng của các bao thể hình kim có sắp xếp định hướng.</p>
<p>Cùng với nhu cầu ngày càng lớn của người tiêu dùng trong tình trạng nguồn cung ngày càng hạn chế nhưng vẫn đảm bảo giá cả phải chăng hơn thì việc sử dụng các phương pháp xử lý để cải thiện màu sắc, độ trong cũng như độ bền của corundum ngày<br />
càng phổ biến. Một trong các phương pháp đạt hiệu quả cao và phổ biển trên thị trường là phương pháp xử lý nhiệt, xử lý trám keo – glass filling và xử lý khuếch tán – lattice diffusion.</p>
		</div>
					</div>

	

	<div id="col-718698030" class="col medium-4 small-12 large-4"  >
				<div class="col-inner"  >
			
			
	<div id="text-1356260408" class="text has-bg">
		
<h3><img decoding="async" loading="lazy" class="alignnone size-full wp-image-218" src="http://lab.pnj.io/wp-content/uploads/2022/10/Rectangle-2502.png" alt="" width="230" height="120" /></h3>
<h3 class="uppercase">Mô tả</h3>
<ul>
<li>Ruby và Sapphire là hai khoáng vật của nhóm corundum.</li>
<li>Hệ tinh thể: 6 phương</li>
<li>Thành phần hóa học: Al2O3</li>
<li>Màu:<br />Ruby &#8211; đỏ<br />Sapphire: các màu còn lại trừ màu đỏ</li>
</ul>
<ul>
<li>Độ trong: trong suốt đến đục</li>
<li>Chiết suất: 1.762–1.770 (+0.009, -0.005)</li>
<li>Lưỡng chiết: 0.0080-0.010</li>
<li>Đa sắc:</li>
<li>Ruby: mạnh &#8211; đỏ phớt tía và đỏ phớt cam</li>
<li>Sapphire: vừa đến mạnh – xanh dương phớt tím và xanh dương phớt lục</li>
<li>Tỷ trọng: 4.00 (±0.05)</li>
<li>Độ cứng: 9</li>
<li>Ánh: thủy tinh đến bán kim cương &#8211; subadamantine</li>
<li>Cát khai: không</li>
<li>Nguồn gôc chủ yếu:<br />Ruby: Thailand, Burma, Sri Lanka…<br />Saphire: Australia, Thailand, Sri Lanka…</li>
</ul>
			</div>
	
	<div class="box has-hover   has-hover box-text-bottom" >

		<div class="box-image" >
						<div class="" >
				<img width="834" height="534" src="https://pnjlab.com.vn/wp-content/uploads/2022/10/Rectangle-2503.jpg" class="attachment- size-" alt="" decoding="async" loading="lazy" srcset="https://pnjlab.com.vn/wp-content/uploads/2022/10/Rectangle-2503.jpg 834w, https://pnjlab.com.vn/wp-content/uploads/2022/10/Rectangle-2503-300x192.jpg 300w, https://pnjlab.com.vn/wp-content/uploads/2022/10/Rectangle-2503-768x492.jpg 768w" sizes="(max-width: 834px) 100vw, 834px" />											</div>
					</div>

		<div class="box-text text-center" >
			<div class="box-text-inner">
				
<p><em>Ruby được tìm thấy trong marble thường có màu đỏ rực rỡ &#8211; GIA</em></p>
			</div>
		</div>
	</div>
	
	<div class="box has-hover   has-hover box-text-bottom" >

		<div class="box-image" >
						<div class="" >
				<img width="230" height="120" src="https://pnjlab.com.vn/wp-content/uploads/2022/10/Rectangle-2502-1.png" class="attachment- size-" alt="" decoding="async" loading="lazy" />											</div>
					</div>

		<div class="box-text text-center" >
			<div class="box-text-inner">
				
<p><em>Ruby được tìm thấy trong marble thường có màu đỏ rực rỡ &#8211; GIA</em></p>
			</div>
		</div>
	</div>
	
		</div>
					</div>

	
</div>
]]></content:encoded>
					
					<wfw:commentRss>https://pnjlab.com.vn/ruby-anh-sapphire/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
